@use "design-system";

.interactive-replacement-token-notification {
  height: 24px;

  @media screen and (min-width: design-system.$break-large) {
    width: 85vw;
  }

  @media screen and (min-width: 768px) {
    width: 80vw;
  }

  @media screen and (min-width: 1280px) {
    width: 62vw;
  }
}
