.transaction-shield-page {
  &__membership {
    background-size: 85px;
    height: 85px;

    .transaction-shield-page__membership-text {
      color: var(--color-accent03-light);
    }

    &--active {
      background: url('/images/shield-membership-active.png') no-repeat right -10px center;
      background-color: var(--color-accent03-dark);
    }

    &--loading {
      background: var(--color-border-muted);
    }

    &--inactive {
      background: url('/images/shield-membership-inactive.png') no-repeat right -10px center;
      background-color: var(--color-background-subsection);

      .transaction-shield-page__membership-text {
        color: var(--color-text-default);
      }
    }
  }


  &__row {
    margin-bottom: 1px;

    &:first-child {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }

    &:last-child {
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      margin-bottom: 0;
    }
  }
}
