;(async function start () {
  const entryFile = '{{entryFile}}'
  // gatorRuntime.requestModule(entryFile)
  // await gatorRuntime.ensureModuleLoaded(entryFile)
  gatorRuntime.runModule(entryFile)
})()