.wallet-overview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  min-height: 209px;
  min-width: 0;
  padding-top: 10px;
  flex-direction: column;
  width: 100%;

  &__balance {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    height: 68px;
    margin-bottom: 24px;
  }
}

%asset-buttons {
  min-width: initial;
  width: 100px;

  &:not(:last-child) {
    margin-right: 12px;
  }

  text-transform: uppercase;
  font-weight: 500;
}

.eth-overview {
  &__balance {
    display: flex;
    flex-direction: column;
    min-width: 0;
    position: relative;
    align-items: center;
    margin: 16px 0;
    padding: 0 16px;
    max-width: 100%;
  }

  &__primary-container {
    display: flex;
  }

  &__primary-balance {
    @include H2;

    color: var(--black);
    width: 100%;
    justify-content: center;
  }

  &__cached-star {
    margin-left: 4px;
  }

  &__cached-balance,
  &__cached-star {
    color: var(--web-orange);
  }

  &__cached-secondary-balance {
    @include Paragraph;

    color: rgba(220, 153, 18, 0.6901960784313725);
  }

  &__secondary-balance {
    @include Paragraph;

    color: var(--Grey-400);
  }

  &__button {
    margin-right: 24px;
  }

  &__button:last-of-type {
    margin-right: 0;
  }

  &__circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 36px;
    background: #037dd6;
    border-radius: 18px;
    margin-top: 6px;
  }
}

.token-overview {
  &__balance {
    display: flex;
    flex-direction: column;
    min-width: 0;
    position: relative;
    align-items: center;
    margin: 16px 0;
    padding: 0 16px;
    max-width: 100%;
  }

  &__primary-balance {
    @include H2;

    color: var(--black);
    width: 100%;
    justify-content: center;
  }

  &__secondary-balance {
    @include H5;

    color: var(--Grey-400);
  }

  &__button {
    margin-right: 24px;
  }

  &__button:last-of-type {
    margin-right: 0;
  }
}
.act-overview{
  &__wrapper{
    background: var(--gray-1);
    max-width: 360px;
    width: calc(100% - 40px);
    border-radius: 10px;
    padding: 15px;
    margin: 20px 0px;
  }
  &__balance{
    display: flex;
    align-items: center;
    &-head{
      margin-right: 10px;
      &>img{
        vertical-align: middle;
      }
    }
    &-info{
      &-account{
        display: flex;
        align-items: center;
        color:var(--white);
        &>span:nth-child(1){
          margin-right: 5px;
        }
      }
      &-address{
        color:var(--secondary-4);
        &>span:nth-child(1){
          margin-right: 5px;
        }
      }
      &-copy{
        background: transparent;
        padding: 0;
      }
    }
    &-token{
      text-align: right;
      color:var(--white);
      margin-top: 8px;
      margin-bottom: 16px;
      @include roundeNormal;
      &-currency{
        margin-right: 3px;
        position: relative;
        bottom:4px;
      }
    }
  }
  &__buttons{
    display: flex;
    justify-content: space-between;
    &-icon{
      margin-right: 12px;
    }
    &>button{
      width:45%;
      height: 32px;
      color:var(--white);
      border-radius: 4px;
      display: flex;
      align-items: center;
      padding-left: 12px;
      @include H5;
      @include roundeNormal;
      transition: ease-in-out .4s;
    }
    &-receive{
      background: linear-gradient(91.07deg, var(--secondary-2-start) 4.72%, var(--secondary-2-end) 73%);
      &:hover{
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(91.07deg, var(--secondary-2-start) 4.72%, var(--secondary-2-end) 73%);
      }
    }
    &-send{
      background: linear-gradient(111.99deg, var(--secondary-1-start) 9.4%, var(--secondary-1-end) 92.26%);
      &:hover{
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(111.99deg,var(--secondary-1-start) 9.4%, var(--secondary-1-end) 92.26%);
      }
    }
  }
}