@use "design-system";

.wallet-overview {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex: 1;
  min-width: 0;
  flex-direction: column;
  width: 100%;

  &-fullscreen {
    align-items: center;
  }

  &__balance {
    flex: 1;
    display: flex;
    gap: 4px;
    flex-direction: column;
    align-items: start;
    width: 100%;

    .wallet-overview-fullscreen > & {
      align-items: center;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin-bottom: 12px;
    padding: 0 16px;
    width: 100%;
    max-width: 420px;
  }

  &__currency-wrapper {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }
}

%asset-buttons {
  min-width: initial;
  width: 100px;

  &:not(:last-child) {
    margin-right: 12px;
  }

  text-transform: uppercase;
  font-weight: 500;
}

// Makes the tooltip wrapper take the full width of the flex container same as the button
.tooltip-button-wrapper {
  flex: 1;
}

.coin-overview,
.eth-overview,
.token-overview {
  &__button {
    flex: 1;
  }

  &__balance {
    display: flex;
    flex-direction: column;
    min-width: 0;
    position: relative;
    align-items: start;
    margin: 16px 0;
    padding: 0 16px;
    max-width: 326px;
  }

  &__primary-container {
    display: flex;
    max-width: inherit;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }

  &__primary-balance {
    @include design-system.H2;

    color: var(--color-text-default);
    font-weight: 500;
  }

  &__cached-star {
    margin-left: 4px;
  }

  &__cached-balance,
  &__cached-star {
    color: var(--color-warning-default);
  }

  &__cached-secondary-balance {
    @include design-system.Paragraph;

    color: var(--color-warning-muted);
  }

  &__secondary-balance {
    @include design-system.Paragraph;

    color: var(--color-text-alternative);
  }


  &__button:last-of-type {
    margin-right: 0;
  }

  &__circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 36px;
    background: var(--color-primary-default);
    border-radius: 18px;
    margin-top: 6px;
  }
}

.token-overview {
  &__balance {
    display: flex;
    flex-direction: column;
    min-width: 0;
    position: relative;
    align-items: center;
    margin: 16px 0;
    padding: 0 16px;
    max-width: 326px;
  }

  &__primary-container {
    display: flex;
    max-width: inherit;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }

  &__primary-balance {
    @include design-system.H2;

    color: var(--color-text-default);
    width: 100%;
    justify-content: center;
  }

  &__secondary-balance {
    @include design-system.H5;

    color: var(--color-text-alternative);
  }

  &__button:last-of-type {
    margin-right: 0;
  }
}
