@use "design-system";

.transaction-alerts {
  text-align: left;
  margin: 15px;

  & > *:first-of-type {
    margin-top: 20px;
  }

  & > *:not(:first-of-type) {
    margin-top: 12px;
  }

  & strong {
    font-weight: bold;
  }

  &__pending-transactions {
    & a {
      color: var(--color-primary-default);
    }
  }

  &__link {
    background: transparent;
    border: 0 transparent;
    display: inline;
    padding: 0;
    font-size: design-system.$font-size-h7;
  }

  // We plan to deprecate SecurityProviderBannerMessage in favor of SecurityProviderBannerAlert. This override should be temporary
  .security-provider-banner-message {
    margin-left: 0;
    margin-right: 0;
  }
}
