.icon-with-fallback {
  &__identicon-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
  }

  &__identicon-border {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: 1px solid #F2F3F4;
    position: absolute;
    background: #FFFFFF;
  }

  &__identicon {
    position: relative;
    width: 24px;
    height: 24px;

    &--default {
      position: relative;
      color: black;
    }
  }
}
