.hardware-wallet-signatures {
  background: var(--color-background-default);

  &__content {
    text-align: left;
  }

  &__steps {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;

    li {
      position: relative;
      min-height: 72px;
      display: flex;
      align-items: flex-start;
      gap: 12px;

      &:not(:last-child)::after {
        content: '';
        position: absolute;
        left: 15px;
        top: 34px;
        height: 36px;
        border-left: 2px dotted var(--color-border-muted);
      }
    }
  }

  &__device {
    color: var(--color-primary-default);
  }

  &__device-animation {
    width: 120px;
    height: 120px;
  }

  &__device-animation-canvas {
    width: 100%;
    height: 100%;
  }

  &__title {
    margin-bottom: 24px;
  }

  &__step-icon {
    width: 32px;
    height: 32px;
    border-radius: 999px;
    display: flex;
    color: var(--color-text-default);
    background: var(--color-background-muted);
    flex: 0 0 auto;
    z-index: 1;

    &--active {
      background: var(--color-background-muted);

      .pulse-loader {
        transform: scale(0.3);
      }
    }

    &--complete {
      color: var(--color-success-default);
      background: var(--color-primary-muted);
    }

    &--rejected {
      color: var(--color-error-default);
      background: var(--color-error-muted);
    }
  }

  &__qr-code {
    background: var(--qr-code-white-background);
  }
}
