
.update-nickname {
  &__wrapper {
    height: 620px;
    width: 360px;
    border-radius: 10px;
    max-height: 100vh;
    width: auto;

    .popover-header {
      border-bottom: 1px solid #d2d8dd;
      margin-bottom: 16px;
      border-radius: 10px;
    }

    @media screen and (max-width: $break-small) {
      width: 96%;
      height: 96%;
    }
  }
  &__add{
    &>header{
      padding: 8px 13px;
      margin-bottom: 0px !important;
      border-bottom: none !important;
      &.popover-header__title{
        padding-bottom: 0 !important;
      }
    }
    &>footer{
      border-top: none !important;
    }
  }

  &__cancel {
    margin-right: 16px;
    height: 40px;
  }
  &__save {
    height: 40px;
  }
  &__icon{
    text-align: center;
  }
  &__content {
    padding: 0 20px 20px 20px;
    position: relative;

    &__indenticon {
      margin-bottom: 16px;
    }

    &__text-area-wrapper {
      height: 96px !important;
    }

    &__text-area {
      line-height: initial !important;
    }
    &__title{
      text-align: center;
      @include H3;
      @include roundeBold;
      background: linear-gradient(147.15deg, #19113E 29.03%, #041D75 84.89%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
      margin-bottom: 24px;
    }
    &__address {
      margin-top: 8px;
      font-size: 13px;
      color: #bbc0c5;
      margin-bottom: 30px;
      overflow-wrap: break-word;
    }

    &__label,
    &__label--capitalized {
      text-transform: capitalize;
      margin-top: 16px;
      color: var(--gray-1);
      font-size: 14px;
      @include roundeBold;
    }

    &__nickname-label {
      margin-bottom: 8px;
      color: var(--gray-1);
      font-size: 14px;
      @include roundeBold;
    }
    & .MuiFormControl-root{
      &>div{
        border-color:var(--gray-1);
      }
    }
  }
}
