.recovery-phrase {
  max-width: 600px;

  &__tips {
    flex-direction: column;

    ul {
      list-style: disc;
      margin-left: 20px;
    }
  }

  &__chips {
    display: grid;
    grid-template-columns: 190px 190px 190px;
    justify-items: center;
    align-items: center;
    row-gap: 16px;

    &--hidden {
      filter: blur(5px);
    }
  }

  &__secret {
    position: relative;
  }

  &__secret-blocker {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: var(--color-overlay-alternative);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: 8px 0 18px;
    border-radius: 4px;
    color: var(--color-overlay-inverse);

    &--text {
      margin-top: 32px;
    }
  }

  &__chip-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;

    &__number {
      font-size: $font-size-h5;
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &--button {
      width: 50%;
      padding: 20px;
      align-self: center;
    }

    &__copy-and-hide {
      width: 100%;
      display: flex;
      flex-direction: column;

      &__area {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      &__button {
        @include H6;

        background-color: transparent;
        border: none;
        width: 32%;
        color: var(--color-primary-default);
        cursor: pointer;
        margin-bottom: 24px;
        padding-left: 0;
        padding-right: 0;

        &__hide-seed {
          justify-content: flex-start;
        }

        &__copy-to-clipboard {
          justify-content: flex-end;
        }

        svg {
          width: 15px;
        }

        &:active {
          color: var(--color-text-default);
          background-color: transparent;
          border: none;
          transform: scale(0.97);
        }
      }
    }
  }

  &__chip {
    justify-content: center;
    border-radius: 13px;
    height: 32px;
    width: 120px;

    &--with-input {
      width: 120px;
      box-shadow: 0 3px 4px -3px rgba(0, 0, 0, 0.15);
      border-width: 2px;
      border-radius: 13px;
      height: 32px;
    }
  }
}
