.mm-button-primary {
  color: var(--color-primary-inverse);
  background-color: var(--color-primary-default);
  position: relative;
  transition: box-shadow cubic-bezier(0.6, -0.28, 0.735, 0.045) 200ms;

  &:hover {
    color: var(--color-primary-inverse);
    box-shadow: var(--component-button-primary-shadow);
  }

  &:active {
    color: var(--color-primary-inverse);
    background-color: var(--color-primary-alternative);
  }

  &--danger {
    color: var(--color-error-inverse);
    background-color: var(--color-error-default);

    &:hover {
      color: var(--color-error-inverse);
      box-shadow: var(--component-button-danger-shadow);
    }

    &:active {
      color: var(--color-error-inverse);
      background-color: var(--color-error-alternative);
    }
  }

  &--disabled,
  :disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }
}
