.mm-button-primary {
  color: var(--color-primary-inverse);
  background-color: var(--color-primary-default);

  &:hover {
    color: var(--color-primary-inverse);
    box-shadow: var(--component-button-primary-shadow);
  }

  &:active {
    color: var(--color-primary-inverse);
    background-color: var(--color-primary-alternative);
  }

  &.mm-button--disabled {
    &:hover {
      box-shadow: none;
    }

    &:active {
      background-color: var(--color-primary-default);
    }
  }

  &--type-danger {
    color: var(--color-error-inverse);
    background-color: var(--color-error-default);

    &:hover {
      color: var(--color-error-inverse);
      box-shadow: var(--component-button-danger-shadow);
    }

    &:active {
      color: var(--color-error-inverse);
      background-color: var(--color-error-alternative);
    }

    &.mm-button--disabled:active {
      background-color: var(--color-error-default);
    }
  }
}
