.typography.gas-timing {
  color: $ui-4;

  &--positive {
    color: $success-3;
  }

  &--warning {
    color: $alert-3;
  }

  &--negative {
    color: $error-1;
    font-weight: bold;
  }

  .info-tooltip {
    display: inline-block;
    margin-inline-start: 4px;

    path {
      fill: $error-1;
    }
  }
}
