.typography.gas-timing {
  color: var(--color-text-alternative);

  &--positive {
    color: var(--color-success-default);
    font-weight: bold;
  }

  &--warning {
    color: var(--color-warning-default);
  }

  &--negative {
    color: var(--color-warning-default);
    font-weight: bold;
  }

  .info-tooltip {
    display: inline-block;
    margin-inline-start: 4px;

    path {
      fill: var(--color-error-default);
    }
  }
}
