@use "design-system";

.permissions-connect-footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  &__text {
    @include design-system.H7;

    color: var(--color-text-alternative);
    display: flex;
    margin-top: 10px;

    &--link {
      color: var(--color-primary-default);
      margin-left: 4px;
      cursor: pointer;
    }
  }
}
