/*
  Buttons
 */
$hover-secondary: #B0D7F2;
$hover-default: #B3B3B3;
$hover-confirm: #0372C3;


.button {
  @include h6;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 6px;
  width: 100%;
  outline: none;
  transition: border-color .3s ease;

  &--disabled,
  &[disabled] {
    cursor: auto;
    opacity: .5;
    pointer-events: none;
  }
}

.btn-secondary {
  color: $Blue-500;
  border: 2px solid $hover-secondary;

  &:active {
    background: $Blue-000;
    border-color: $Blue-500;
  }

  &:hover {
    border-color: $Blue-500;
  }

  &--disabled,
  &[disabled] {
    opacity: 1;
    color: $hover-secondary;
  }
}

.btn-warning {
  color: $monzo;
  border: 2px solid lighten($monzo, 40%);

  &:active {
    background: lighten($monzo, 55%);
    border-color: $monzo;
  }

  &:hover {
    border-color: $monzo;
  }
}

.btn-default {
  color: $Grey-500;
  border: 2px solid $hover-default;

  &:active {
    background: #FBFBFC;
    border-color: $Grey-500;
  }

  &:hover {
    border-color: $Grey-500;
  }

  &--disabled,
  &[disabled] {
    opacity: 1;
    color: $hover-default;
  }
}

.btn-primary {
  color: $white;
  border: 2px solid $Blue-500;
  background-color: $Blue-500;

  &:active {
    background: $Blue-600;
    border-color: $Blue-600;
  }

  &:hover {
    border-color: $hover-confirm;
    background-color: $hover-confirm;
  }

  &--disabled,
  &[disabled] {
    border-color: $hover-secondary;
    background-color: $hover-secondary;
  }
}

.btn-raised {
  color: $curious-blue;
  background-color: $white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  padding: 6px;
  height: initial;
  min-height: initial;
  width: initial;
  min-width: initial;
}

.btn--first-time {
  height: 54px;
  width: 198px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .14);
  color: $white;
  font-size: 1.25rem;
  font-weight: 500;
  transition: 200ms ease-in-out;
  background-color: rgba(247, 134, 28, .9);
  border-radius: 0;
}

.btn--large {
  min-height: 54px;
}

.btn-green {
  background-color: #02c9b1; // TODO: reusable color in colors.css
}

.btn-clear {
  background: $white;
  text-align: center;
  padding: .8rem 1rem;
  color: $curious-blue;
  border: 2px solid $spindle;
  border-radius: 4px;
  font-size: .85rem;
  font-weight: 400;
  transition: border-color .3s ease;

  &:hover {
    border-color: $curious-blue;
  }

  &--disabled,
  &[disabled] {
    cursor: auto;
    opacity: .5;
    pointer-events: none;
  }
}

.btn-cancel {
  background: $white;
  text-align: center;
  padding: .9rem 1rem;
  color: $scorpion;
  border: 2px solid $dusty-gray;
  border-radius: 4px;
  font-size: .85rem;
  font-weight: 400;
  transition: border-color .3s ease;
  width: 100%;

  &:hover {
    border-color: $scorpion;
  }
}

button[disabled],
input[type="submit"][disabled] {
  cursor: not-allowed;
  opacity: .5;
}

button.primary {
  padding: 8px 12px;
  background: #f7861c;
  box-shadow: 0 3px 6px rgba(247, 134, 28, .36);
  color: $white;
  font-size: 1.1em;
  font-family: Roboto;
  text-transform: uppercase;
}

.btn-light {
  padding: 8px 12px;
  box-shadow: 0 3px 6px rgba(247, 134, 28, .36);
  color: #585d67; // TODO: make reusable light button color
  font-size: 1.1em;
  font-family: Roboto;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  border-radius: 2px;
  border: 1px solid #979797; // #TODO: make reusable light border color
  opacity: .5;
}
