.deposit-popover {
  min-width: 328px;
  max-width: 850px;

  @include screen-md-min {
    width: 100% !important;
  }

  &__on-ramp-item {
    border-bottom: 1px solid var(--color-border-muted);

    &:last-child {
      border-bottom: none;
    }
  }
}
