.deprecated-test-networks {
  position: fixed;
  bottom: 0;
  margin: 8px;
  z-index: 1050;

  &__content {
    &__inline-link {
      @include H7;

      display: initial;
      padding: 0;
    }

    &__close::after {
      content: '\00D7';
      font-size: 24px;
      cursor: pointer;
    }
  }
}
