.mm-box.file-uploader-label {
  border-style: dashed;
  border-color: var(--color-border-default);

  &:hover,
  &--dragging {
    background-color: var(--color-background-default-hover);
    border-style: solid;
  }
}
