.avatar-badge {
  position: relative;
  width: fit-content;

  &-token-position-top {
    position: absolute;
    top: -4px;
    right: -4px;
  }

  &-token-position-bottom {
    position: absolute;
    bottom: -4px;
    right: -4px;
  }
}
