@use "design-system";

.nickname-popover {
  &__popover-wrap {
    height: 232px;
    border-radius: 4px;
    background: var(--color-background-default);
    display: flex;
    justify-content: center;
    width: auto;

    .popover-header {
      padding: 16px 16px 0 0;
    }

    .popover-content {
      margin-top: -15px;
      align-items: center;
    }
  }

  &__address {
    @include design-system.H4;

    font-weight: bold;
    display: flex;
    align-items: center;
    color: var(--color-text-default);
    padding-top: 8px;
  }

  &__public-address {
    @include design-system.H7;

    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 25px;
    background: var(--color-background-alternative);
    border-radius: 40px;
    padding-left: 8px;
    padding-right: 2px;
    margin-top: 8px;

    button {
      background: none;
    }

    &__constant {
      @include design-system.H8;

      color: var(--color-text-alternative);
    }
  }

  &__view-on-block-explorer {
    @include design-system.H7;

    color: var(--color-primary-default);
    margin-top: 12px;
  }

  &__etherscan-link {
    @include design-system.H7;

    padding: 0;
  }

  &__footer-button {
    margin-top: 16px;
    width: 152px;
    height: 40px;
    border-radius: 100px;
    background: var(--color-primary-default);
  }
}
