.address-list-item {
  &__duplicate-contact-warning-icon {
    margin-left: auto;
    align-self: center;
  }

  &:hover,
  &:focus-within {
    background: var(--color-background-default-hover);
  }
}
