.mm-text-field {
  --text-field-height: var(--size, 40px);

  &--size-sm {
    --size: 32px;
  }

  &--size-md {
    --size: 40px;
  }

  &--size-lg {
    --size: 48px;
  }

  height: var(--text-field-height);
  border-color: var(--color-border-default);

  /**
  * We disable the default focus styles on the child Input using disableStateStyles
  * and apply our own to ensure accessible consistent appearance across browsers
  */
  &--focused {
    outline: 5px auto Highlight; // firefox
    outline: 5px auto -webkit-focus-ring-color; // chrome

    // Firefox cuts off the default focus outline without this offset
    @supports (-moz-appearance: none) {
      outline-offset: -3px;
    }
  }

  &--error {
    border-color: var(--color-error-default);
  }

  &--disabled {
    opacity: 0.5;
    border-color: var(--color-border-default);
  }

  // truncates text with ellipsis
  &--truncate .mm-text-field__input {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__input {
    width: 100%;
    height: 100%;
    flex-grow: 1;
  }
}
