@use "design-system";

@keyframes shift {
  to {
    background-position: 100% 0;
  }
}

.smart-transaction-status {
  display: flex;
  flex-flow: column;
  align-items: center;
  flex: 1;
  width: 100%;

  &__loading-bar-container {
    height: 3px;
    background: var(--color-background-alternative);
    display: flex;
    margin-top: 12px;
    margin-bottom: 28px;
  }

  &__loading-bar {
    height: 3px;
    background: var(--color-primary-default);
    transition: width 0.5s linear;
  }

  div {
    text-align: center;
  }

  &__content {
    flex-flow: column;
    width: 100%;
  }

  &__spacer-box {
    &--top {
      height: 54px;
    }

    &--bottom {
      height: 62px;
    }
  }

  a {
    color: var(--color-primary-default);
  }

  &__support-link {
    color: var(--color-primary-default);
    margin-top: 24px;
    cursor: pointer;
  }

  &__cancel-swap-link {
    font-size: design-system.$font-size-h7;
  }

  &__swaps-footer {
    .btn-secondary {
      color: var(--color-text-alternative);
      border: 1px solid var(--color-border-default);
    }
  }

  &__remaining-time {
    font-variant-numeric: tabular-nums;
  }
}
