@use "design-system";

.multiple-alert-modal {
  &__arrow-buttons {
    background-color: var(--brand-colors-grey-grey040);
    border-radius: 12px;

    span {
      --icon-size: 14px;
    }
  }

  &__arrow-buttons:hover {
    background-color: var(--brand-colors-grey-grey040);
    border-radius: 12px;

    span {
      --icon-size: 14px;
    }
  }

  &__text {
    text-wrap: nowrap;
    padding: 0 6px 0 6px;
  }
}
