.mobile-welcome-popup {
  &.intro-popup__popover {
    background: url(/images/mobile-launch.png) 0 0 no-repeat #fff;
    width: 328px !important;
    background-size: contain;
  }

  .popover-header {
    background: none;
    margin: 120px 0 0 0;
  }
  
  button.fa-times {
    margin-top: -240px;
  }
}
