.import-srp {
  width: 840px;

  @media screen and (max-width: 349px) {
    width: 300px;
  }

  @media screen and (min-width: 350px) and (max-width: 460px) {
    width: 357px;
  }

  @media screen and (min-width: 461px) and (max-width: $break-small) {
    width: 450px;
  }

  @media screen and (min-width: $break-small) and (max-width: 840px) {
    width: 580px;
  }

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 20px auto;
    max-width: 500px;
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 40px;

    a {
      color: var(--color-primary-default);

      &:hover {
        cursor: pointer;
        color: var(--color-primary-default);
      }
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin: auto;

    &--link {
      @include H6;

      margin-bottom: 12px;
    }
  }

  &__confirm-button {
    width: 327px;
    margin: auto;
    margin-top: 59px;
  }
}
