.import-srp {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 1rem;

  &__footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
  }

  &__step {
    text-align: left;
  }

  &__header {
    text-align: left;
    margin-bottom: 4px;
  }

  &__description {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    gap: 4px;
  }

  &__confirm-button {
    margin: auto;
    margin-top: 24px;
  }
}
