@use "design-system";

.info-box {
  border-radius: 4px;
  background-color: var(--color-background-alternative);
  position: relative;
  padding: 16px;
  display: flex;
  flex-flow: column;
  color: var(--color-text-alternative);

  &__close::after {
    content: '\00D7';
    font-size: 29px;
    font-weight: 200;
    color: var(--color-icon-default);
    position: absolute;
    right: 12px;
    top: 0;
    cursor: pointer;
  }

  &__description {
    @include design-system.H7;
  }
}
