.snap-ui-renderer__footer-button {
  &:not(.hide-snap-branding):not(.snap-ui-renderer__footer-button--disabled) {
    &.snap-ui-renderer__footer-button--primary {
      box-shadow: none;

      &:hover {
        opacity: 80%;
        box-shadow: none;
      }

      &:active {
        opacity: 60%;
      }

      &:not(.snap-ui-renderer__footer-button--danger) {
        color: var(--color-icon-inverse);
        background-color: var(--color-icon-default);
      }
    }

    &.snap-ui-renderer__footer-button--secondary {
      border-color: var(--color-icon-default);
      color: var(--color-icon-default);

      &:hover {
        border-color: var(--color-icon-default);
        color: var(--color-icon-default);
        background-color: var(--color-background-default-hover);
        box-shadow: none;
      }

      &:active {
        border-color: var(--color-icon-default);
        color: var(--color-icon-default);
        opacity: 60%;
      }

      &:not(.snap-ui-renderer__footer-button--danger) {
        color: var(--color-icon-default);
      }
    }
  }

  &:not(.snap-ui-renderer__footer-button--disabled) {
    &:hover {
      cursor: pointer;
    }
  }

  &--disabled {
    cursor: default !important;
  }
}
