@use "design-system";

.onboarding-error {
  width: 50%;

  @include design-system.screen-md-max {
    width: 100%;
    padding-inline: 24px;
  }

  &__stack {
    max-height: 120px;
    overflow: auto;
    font-family: var(--font-family-default);
    font-weight: var(--typography-l-body-xs-font-weight);
    font-size: var(--typography-l-body-xs-font-size);
  }
}
