@use "design-system";

// probably not necessary given that the popover
// wont be rendered inside of a modal
.multichain-connected-accounts-menu__popover {
  z-index: design-system.$popover-in-modal-z-index;
  overflow: hidden;
  min-width: 225px;
  max-width: 225px;
}
