.send {
  &__header {
    position: relative;
    background-color: $Grey-000;
    border-bottom: none;
    padding: 14px 0 3px 0;

    .page-container__title {
      font-size: 1.125rem;
      font-weight: 400;
      line-height: 1.3125rem;
      text-align: center;
    }

    .page-container__header-close-text {
      @extend %link;
      font-size: 1rem;
      line-height: 1.1875rem;
      position: absolute;
      right: 1rem;
    }
  }

  &__to-row {
    margin: 0;
    padding: .5rem;
    flex: 0 0 auto;
    background-color: $Grey-000;
    border-bottom: 1px solid $alto;
  }

  &__select-recipient-wrapper {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 auto;
    height: 0;

    &__group {
      display: flex;
      flex-flow: column nowrap;
    }

    &__group-label {
      background-color: $Grey-000;
      color: $Grey-600;
      font-size: .75rem;
      line-height: .875rem;
      padding: .5rem 1rem;
    }

    &__group-item {
      display: flex;
      flex-flow: row nowrap;
      padding: 1rem;
      align-items: center;
      border-bottom: 1px solid $alto;


      .identicon {
        margin-right: 1rem;
        flex: 0 0 auto;
      }

      &__content {
        display: flex;
        flex-flow: column nowrap;
        flex: 1 1 auto;
        width: 0;
      }
    }
  }
}
