.send {
  &__header {
    position: relative;
    background-color: $Grey-000;
    border-bottom: none;
    padding: 14px 0 3px 0;

    .page-container__title {
      @extend %h4;
      text-align: center;
    }

    .page-container__header-close-text {
      @extend %link;
      font-size: 1rem;
      line-height: 1.1875rem;
      position: absolute;
      right: 1rem;
    }
  }

  &__to-row {
    margin: 0;
    padding: .5rem;
    flex: 0 0 auto;
    background-color: $Grey-000;
    border-bottom: 1px solid $alto;
  }

  &__select-recipient-wrapper {
    @extend %col-nowrap;
    flex: 1 1 auto;
    height: 0;

    &__list {
      &__link {
        @extend %link;
        @extend %row-nowrap;
        padding: 1rem;
        font-size: 1rem;
        border-bottom: 1px solid $alto;
        align-items: center;
      }

      &__back-caret {
        @extend %bg-contain;
        display: block;
        background-image: url('/images/caret-left.svg');
        width: 18px;
        height: 18px;
        margin-right: .5rem;
      }
    }

    &__recent-group-wrapper {
      @extend %col-nowrap;

      &__load-more {
        @extend %link;
        font-size: .75rem;
        line-height: 1.0625rem;
        padding: .5rem;
        text-align: center;
        border-bottom: 1px solid $alto;
      }
    }

    &__group {
      @extend %col-nowrap;
    }

    &__group-label {
      @extend %h8;
      background-color: $Grey-000;
      color: $Grey-600;
      line-height: .875rem;
      padding: .5rem 1rem;
      border-bottom: 1px solid $alto;
    }

    &__group-item {
      @extend %row-nowrap;
      padding: .75rem 1rem;
      align-items: center;
      border-bottom: 1px solid $alto;


      .identicon {
        margin-right: 1rem;
        flex: 0 0 auto;
      }

      &__content {
        @extend %col-nowrap;
        flex: 1 1 auto;
        width: 0;
      }

      &__title {
        font-size: .875rem;
        line-height: 1.25rem;
        color: $black;
      }

      &__subtitle {
        @extend %h8;
        color: $Grey-500;
      }
    }
  }
}

.ens-input {
  @extend %row-nowrap;

  &__wrapper {
    @extend %row-nowrap;
    flex: 1 1 auto;
    width: 0;
    align-items: center;
    background: $white;
    border-radius: .5rem;
    padding: .75rem .5rem;
    border: 1px solid $Grey-100;
    transition: border-color 150ms ease-in-out;

    &:focus-within {
      border-color: $Grey-500;
    }

    &__status-icon {
      @extend %bg-contain;
      background-image: url("/images/search-black.svg");
      width: 1.125rem;
      height: 1.125rem;
      margin: .25rem;

      &--error {

      }

      &--valid {

      }
    }

    &__input {
      @extend %h6;
      flex: 1 1 auto;
      width: 0;

      &::placeholder {
        color: $Grey-200;
      }
    }

    &__action-icon {
      @extend %bg-contain;

      &--erase {

      }

      &--qrcode {
        background-image: url("/images/qr-blue.svg");
        width: 1.5rem;
        height: 1.5rem;
        margin: 0 .25rem;
      }
    }
  }
}
