/*
  Z-Indicies
*/
$dropdown-z-index: 30;
$token-icon-z-index: 15;
$container-z-index: 15;
$header-z-index: 12;
$mobile-header-z-index: 26;
$main-container-z-index: 18;
$send-card-z-index: 20;
$sidebar-z-index: 26;
$sidebar-overlay-z-index: 25;
$modal-z-index: 1050;
$popover-in-modal-z-index: 1051;
