/**
  These colors are either deprecated or will move into colors.scss
  when approved for the design system
**/

// These are declared as variables and hoisted because they are
// used as rgba's and native rgba doesn't accept var()
$malibu-blue: #7ac9fd;
$alto: #dedede;
$black: #000;
$white: #fff;
$blue-lagoon: #038789;
$crimson: #e91550;
$purple: #690496;
$tulip-tree: #ebb33f;
$dodger-blue: #3099f2;
$monzo: #d0021b;
$dusty-gray: #9b9b9b;
