.contract-details-modal {
  background-color: var(--color-background-default);
  width: 360px !important;

  &__content {
    border-bottom: 1px solid var(--color-border-muted);

    &__contract {
      border: 1px solid var(--color-border-default);
      border-radius: 4px;
      display: flex;

      &__identicon {
        margin: 16px 16px 38px 16px;
      }

      &__buttons {
        flex-grow: 1;

        &__copy.btn-link {
          padding: 0;
        }

        &__block-explorer.btn-link {
          padding: 0;
        }
      }
    }
  }

  &__footer {
    padding: 24px 16px;

    button + button {
      margin-left: 1rem;
    }
  }
}
