@use "design-system";

.notifications {
  display: block;

  &__tabs {
    border: none;
    padding: 0 0;
  }

  &__tab {
    @include design-system.H6;

    flex-grow: 1;
    color: var(--color-icon-default);
    font-weight: 500;
  }

  &__tab--active {
    color: var(--color-primary-default);
  }

  &__tab button {
    padding: 8px;
  }
}
