@use "design-system";

.notifications {
  display: block;
  position: relative;

  &__tabs {
    border: none;
    padding: 0 0;
  }

  &__tab {
    @include design-system.H6;

    flex-grow: 1;
    color: var(--color-icon-default);
    font-weight: 500;
  }

  &__tab--active {
    color: var(--color-primary-default);
  }

  &__tab button {
    padding: 8px;
  }

  &__list {
    position: relative;
  }

  &__list__read__all__button {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
}
