# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

package.json                         @danjm @whymarrh @Gudahtt
yarn.lock                            @danjm @whymarrh @Gudahtt
ui/                                  @danjm @whymarrh @Gudahtt @jennypollack
app/scripts/controllers/transactions @whymarrh @jennypollack
.circleci/scripts/deps-install.sh    @kumavis @Gudahtt
app/scripts/controllers/network      @jennypollack @rekmarks
app/scripts/controllers/permissions  @rekmarks @danjm @jennypollack
