.permissions-connect-footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  &__text {
    @include H7;

    color: #6a737d;
    display: flex;
    margin-top: 10px;

    &--link {
      color: $primary-blue;
      margin-left: 4px;
      cursor: pointer;
    }
  }
}
