.ui-migration-announcement {
  position: absolute;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $white;

  p {
    box-sizing: border-box;
    padding: 1em;
    font-size: 12pt;
  }

  p:last-of-type {
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
  }
}
