.app-header {
  padding: 6px 8px;
  // background: #EFEFEF; // $gallery
}

.app-header h1 {
  font-family: 'Montserrat Regular';
  text-transform: uppercase;
  color: #22232C; // $shark
}

h2.page-subtitle {
  font-family: 'Montserrat Regular';
  text-transform: uppercase;
  color: #AEAEAE;
  font-size: 1em;
  margin: 12px;
}
