.Item__flex-grid {
  width: 100%;
  min-width: 374px;
  min-height: 86px;
  margin: 0 20px;

  left: 0px;
  top: 497px;
  background: #FFFFFF;
  padding: 24px 16px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  border-top: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
  color: #6A737D;

  display: flex;
  justify-content: flex-start;
  align-items: stretch;

  .icon {
    .Icon {
      margin: 10px 14px 0 0;
    }
  }

  .col {
    align-self: flex-start;

    // these will need to be broken out into other components
    .more {
      button {
        border: 1px solid #6A737D;
        color: #6A737D;
        box-sizing: border-box;
        border-radius: 4px;
        background: transparent;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 12px;

        padding: 6px 16px 7px;

        margin-top: 12px;
        margin-right: 8px;

        &:hover {
          color: #037DD6;
          border-color: #037DD6;
        }
      }
    }
  }

  h2 {
    font-size: 16px;
    line-height: 160%;
    position: relative;

    // again these styles should be part of a seperate prelaoder stylesheet
    span {
      display: inline-block;
      position: absolute;
      top: 2px;
      width: 16px;
      height: 16px;
      margin-left: 8px;

      svg {
        animation-name: spin;
        animation-duration: 500ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }
    }
  }

  h3 {
    font-size: 12px;
    line-height: 14px;
  }

  .amount {
    margin: 0 0 0 auto;
    text-align: right;
  }
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}
