.loading-overlay {
  left: 0;
  z-index: 50;
  position: absolute;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  width: 100%;
  background: rgba(255, 255, 255, .8);

  @media screen and (max-width: 575px) {
    margin-top: 56px;
    height: calc(100% - 56px);
  }

  @media screen and (min-width: 576px) {
    margin-top: 75px;
    height: calc(100% - 75px);
  }

  &--full-screen {
    position: fixed;
    height: 100vh;
    width: 100vw;
    margin-top: 0;
  }
}
