.menu {
  border-radius: 4px;
  background: rgba($black, .8);
  box-shadow: rgba($black, .15) 0 2px 2px 2px;
  min-width: 150px;
  color: $white;

  &__item {
    padding: 18px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    position: relative;
    z-index: 201;

    @media screen and (max-width: 575px) {
      padding: 14px;
    }

    &--clickable {
      cursor: pointer;

      &:hover {
        background-color: rgba($white, .05);
      }

      &:active {
        background-color: rgba($white, .1);
      }
    }

    &__icon {
      height: 16px;
      width: 16px;
      margin-right: 14px;
    }

    &__text {
      font-size: 16px;
      line-height: 21px;
    }

    &__subtext {
      font-size: 12px;
      padding: 5px 0px 0px 30px;
    }
  }

  &__divider {
    background-color: $scorpion;
    width: 100%;
    height: 1px;
  }

  &__close-area {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
  }
}
