.modal {
  z-index: 1050;
  position: fixed;
  width: 500px;
  transform: translate3d(-50%, -50%, 0);
  top: 50%;
  left: 50%;

  .content {
    margin: 0;
    background-color: white;
    animation-fill-mode: forwards;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #373a47;
  animation-fill-mode: forwards;
  animation-duration: 0.3s;
}

.modal > div:focus {
  outline: none !important;
}

// Account Modal Container
.account-modal-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 5px 0 31px 0;
  border: 1px solid $silver;
  border-radius: 4px;

  button {
    cursor: pointer;
  }
}

.account-modal-back {
  color: $dusty-gray;
  position: absolute;
  top: 13px;
  left: 17px;
  cursor: pointer;

  &__text {
    margin-top: 2px;
    font-size: 14px;
    line-height: 18px;
  }
}

.account-modal-close {
  font-size: 40px;
  background-color: transparent;
  color: $dusty-gray;
  position: absolute;
  top: 10px;
  right: 12px;
}

.account-modal-close::after {
  content: '\00D7';
}

.account-modal-container .identicon {
  position: relative;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: -32px;
  margin-bottom: -32px;
}


// Account Details Modal

.account-modal-container {
  .qr-header {
    margin-top: 9px;
    font-size: 20px;
  }

  .qr-wrapper {
    margin-top: 5px;
  }

  .ellip-address-wrapper {
    display: flex;
    justify-content: center;
    border: 1px solid $alto;
    padding: 5px 10px;
    margin-top: 7px;
    width: 286px;
  }

  .account-modal__button {
    margin-top: 17px;
    padding: 10px 22px;
    width: 286px;
  }
}

.account-modal-divider {
  width: 100%;
  height: 1px;
  margin: 19px 0 8px 0;
  background-color: $alto;
}

// Export Private Key Modal

.account-modal-container .account-name {
  margin-top: 9px;
  font-size: 20px;
}

.account-modal-container .modal-body-title {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 18px;
}

.account-modal__name {
  margin-top: 9px;
  font-size: 20px;
}

.private-key-password {
  display: flex;
  flex-direction: column;
}

.private-key-password-label,
.private-key-password-error {
  color: $scorpion;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 10px;
}

.private-key-password-error {
  color: $crimson;
  margin-bottom: 0;
}

.private-key-password-input {
  padding: 10px 0 13px 17px;
  font-size: 16px;
  line-height: 21px;
  width: 291px;
  height: 44px;
}

.private-key-password::-webkit-input-placeholder {
  color: $dusty-gray;
}

.private-key-password-warning {
  border-radius: 8px;
  background-color: #fff6f6;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  color: $crimson;
  width: 292px;
  padding: 9px 15px;
  margin-top: 18px;
}

.export-private-key-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.export-private-key__button {
  margin-top: 17px;
  width: 141px;
  min-width: initial;
}

.export-private-key__button--cancel {
  margin-right: 15px;
}

.private-key-password-display-wrapper {
  height: 80px;
  width: 291px;
  border: 1px solid $silver;
  border-radius: 2px;
}

.private-key-password-display-textarea {
  color: $crimson;
  font-size: 16px;
  line-height: 21px;
  border: none;
  height: 75px;
  width: 100%;
  overflow: hidden;
  resize: none;
  padding: 9px 13px 8px;
}

// Hide token confirmation

.hide-token-confirmation {
  min-height: 250.72px;
  border-radius: 4px;
  background-color: $white;
  box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.5);

  &__container {
    padding: 24px 27px 21px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__identicon {
    margin-bottom: 10px;
  }

  &__symbol {
    color: $tundora;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 7.5px;
  }

  &__title {
    height: 30px;
    width: 271.28px;
    color: $tundora;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 10.5px;
  }

  &__copy {
    height: 41px;
    width: 318px;
    color: $scorpion;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
    width: 100%;
  }

  &__button {
    @include Paragraph;

    @extend %button;

    width: 141px;
    margin: 0 5px;
  }
}

// Deposit Ether Modal
.deposit-ether-modal {
  border-radius: 8px;
  display: flex;
  flex-flow: column;
  height: 100%;

  &__header {
    width: 100%;
    border-radius: 8px 8px 0 0;
    background-color: $mid-gray;
    display: flex;
    position: relative;
    padding: 25px;
    flex-flow: column;
    align-items: flex-start;

    &__title {
      color: $white;
      font-size: 24px;
      line-height: 32px;
    }

    &__description {
      color: $white;
      font-size: 16px;
      line-height: 22px;
      margin-top: 10px;
    }

    &__close::after {
      content: '\00D7';
      font-size: 2em;
      color: $white;
      position: absolute;
      top: 20.8px;
      right: 28px;
      cursor: pointer;
    }
  }

  &__buy-rows {
    width: 100%;
    padding: 0 30px;
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    align-items: center;

    @media screen and (max-width: 575px) {
      height: 0;
    }
  }

  &__logo {
    height: 60px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__buy-row {
    border-bottom: 1px solid $alto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 auto;
    padding: 30px 0 20px;
    min-height: 170px;

    @media screen and (max-width: 575px) {
      min-height: 270px;
      flex-flow: column;
      justify-content: flex-start;
    }

    &__back {
      position: absolute;
      top: 10px;
      left: 0;
    }

    &__logo-container {
      display: flex;
      justify-content: center;
      flex: 0 0 auto;
      padding: 0 20px;

      @media screen and (min-width: 576px) {
        width: 12rem;
      }

      @media screen and (max-width: 575px) {
        width: 100%;
        max-height: 6rem;
        padding-bottom: 20px;
      }
    }

    &__right {
      display: flex;
    }

    &__description {
      color: $cape-cod;
      padding-bottom: 20px;
      align-self: flex-start;

      @media screen and (min-width: 575px) {
        width: 15rem;
      }

      &__title {
        font-size: 20px;
        line-height: 30px;
      }

      &__text {
        font-size: 14px;
        line-height: 22px;
        margin-top: 7px;
      }
    }

    &__button {
      display: flex;
      justify-content: flex-end;

      @media screen and (min-width: 575px) {
        min-width: 300px;
      }
    }
  }

  &__buy-row:last-of-type {
    border-bottom: 0;
  }

  &__deposit-button {
    width: 257px;
  }

  .simple-dropdown {
    color: #5b5d67;
    font-size: 16px;
    line-height: 21px;
    border: 1px solid #d8d8d8;
    background-color: #fff;
    text-align: center;
    width: 100%;
    height: 45px;
    line-height: 44px;
    font-weight: 300;
  }

  .simple-dropdown__selected {
    text-align: center;
  }
}
