.modal {
  z-index: 1050;
  position: fixed;
  width: 500px;
  transform: translate3d(-50%, -50%, 0);
  top: 50%;
  left: 50%;

  .content {
    margin: 0;
    background-color: white;
    animation-fill-mode: forwards;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #373a47;
  animation-fill-mode: forwards;
  animation-duration: 0.3s;
}

.modal > div:focus {
  outline: none !important;
}
