.network-indicator {
  display: flex;
  align-items: center;
  font-size: .6em;
}

.network-name {
  line-height: 12px;
  padding: 0 4px;
  font-family: 'DIN OT';
  font-size: 10px;
  flex: 1 0 auto;
}

.network-droppo {
  right: 2px;

  @media screen and (min-width: 576px) {
    right: calc(((100% - 85vw) / 2) + 2px);
  }

  @media screen and (min-width: 769px) {
    right: calc(((100% - 80vw) / 2) + 2px);
  }

  @media screen and (min-width: 1281px) {
    right: calc(((100% - 65vw) / 2) + 2px);
  }
}

.network-name-item {
  font-weight: 100;
  flex: 1 0 auto;
  color: $dusty-gray;
}

.network-check,
.network-check__transparent {
  color: $white;
  margin-left: 7px;
}

.network-check__transparent {
  opacity: 0;
}
