.network-indicator {
  display: flex;
  align-items: center;
  font-size: .6em;
}

.network-name {
  width: 5.2em;
  line-height: 9px;
  text-rendering: geometricPrecision;
  font-family: 'DIN OT';
  font-size: 10px;
  flex: 1 0 auto;
}

.network-name {
  font-weight: 100;
  flex: 1 0 auto;
  color: $dusty-gray;
}

.network-check,
.network-check__transparent {
  color: $white;
  margin-left: 7px;
}

.network-check__transparent {
  opacity: 0;
}
