.new-account {
  width: 376px;
  background-color: #FFFFFF;
  box-shadow: 0 0 7px 0 rgba(0,0,0,0.08);
  z-index: 25;
  padding-bottom: 31px;

  &__header {
    display: flex;
    flex-flow: column;
    border-bottom: 1px solid $geyser;
  }

  &__title {
    color: $tundora;
    font-family: Roboto;
    font-size: 32px;
    font-weight: 500;
    line-height: 43px;
    margin-top: 22px;
    margin-left: 29px;
  }

  &__tabs {
    margin-left: 22px;
    display: flex;
    margin-top: 10px;

    &__tab {
      height: 54px;
      padding: 15px 10px;
      color: $dusty-gray;
      font-family: Roboto;
      font-size: 18px;
      line-height: 24px;
      text-align: center;
      cursor: pointer;
    }

    &__tab:hover {
      color: $black;
      border-bottom: none;
    }

    &__selected {
      color: $curious-blue;
      border-bottom: 3px solid $curious-blue;
      cursor: initial;
    }
  }
}

.new-account-import-disclaimer {
  width: 120%;
  background-color: #F4F9FC;
  display: inline-block;
  align-items: center;
  padding: 20px 30px 20px;
  font-size: 12px;
  line-height: 1.5;
}

.new-account-import-form {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 0 30px;

  &__select-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 29px;
    width: 100%;
  }

  &__select-label {
    color: $scorpion;
    font-family: Roboto;
    font-size: 16px;
    line-height: 21px;
  }

  &__select {
    height: 54px;
    width: 210px;
    border: 1px solid #D2D8DD;
    border-radius: 4px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;

    .Select-control,
    .Select-control:hover {
      height: 100%;
      border: none;
      box-shadow: none;

      .Select-value {
        display: flex;
        align-items: center;
      }
    }
  }

  &__private-key-password-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
  }

  &__instruction {
    color: $scorpion;
    font-family: Roboto;
    font-size: 16px;
    line-height: 21px;
    align-self: flex-start;
  }

  &__private-key {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    margin-top: 34px;
  }

  &__input-password {
    height: 54px;
    width: 315px;
    border: 1px solid $geyser;
    border-radius: 4px;
    background-color: $white;
    margin-top: 16px;
    color: $scorpion;
    font-family: Roboto;
    font-size: 16px;
    padding: 0px 20px;
  }

  &__json {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 29px;
  }

  &__buttons {
    margin-top: 39px;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}

.hw-connect {
  &__title {
    padding-top: 10px;
    font-weight: 500;
    font-size: 18px;
  }

  &__msg {
    font-size: 14px;
    color: #9b9b9b;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  &__link {
    color: #2f9ae0;
  }

  &__get-trezor {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 30px 30px 0;
    width: 305px;

    a {
      font-size: 14px;
      text-align: center;
      color: #2f9ae0;
      cursor: pointer;
    }
  }
}

.hw-account-list {
  display: flex;
  flex: 1;
  flex-flow: column;
  width: 100%;

  &__title_wrapper {
    display: flex;
    flex-direction: row;
    flex: 1;
  }

  &__title {
    margin-bottom: 23px;
    align-self: flex-start;
    color: $scorpion;
    font-family: Roboto;
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
    display: flex;
    flex: 1;
  }

  &__device {
    margin-bottom: 23px;
    align-self: flex-end;
    color: $scorpion;
    font-family: Roboto;
    font-size: 16px;
    line-height: 21px;
    font-weight: normal;
    display: flex;
  }

  &__item {
    font-size: 15px;
    flex-direction: row;
    display: flex;
    padding: 10px;
  }

  &__item:nth-of-type(even) {
    background-color: #fbfbfb;
  }

  &__item:nth-of-type(odd) {
    background: rgba(0, 0, 0, 0.03);
  }

  &__item:hover {
    background-color: rgba(0, 0, 0, 0.06);
  }

  &__item__index {
    display: flex;
    width: 24px;
  }

  &__item__radio {
    display: flex;
    flex: 1;

    input {
      margin-right: 9px;
    }
  }

  &__item__label {
    margin-left: 10px;
    display: flex;
    flex: 1;
  }

  &__item__balance {
    display: flex;
    flex: 1;
    justify-content: center;
  }

  &__item__link {
    display: flex;
    margin-top: 3px;
  }

  &__item__link img {
    width: 15px;
    height: 15px;
  }
}

.hw-list-pagination {
  display: flex;
  align-self: flex-end;
  margin-top: 10px;

  &__button {
    height: 19px;
    display: flex;
    width: 47px;
    color: #33a4e7;
    font-size: 14px;
    line-height: 19px;
    border: none;
    min-width: 46px;
    margin-right: 0px;
    margin-left: 16px;
    padding: 0px;
  }
}

.new-account-connect-form {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 15px 30px 0;

  &__buttons {
    margin-top: 39px;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  &__button {
    width: 150px;
    min-width: initial;
  }

  &__button.btn-primary {
    background-color: #259DE5;
  }

  &__button.btn-primary {
    background-color: #259DE5;
    color: #FFFFFF;
  }

  &__button.btn-primary--disabled {
    cursor: not-allowed;
    opacity: .5;
  }


  

}

.hw-forget-device-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 30px 30px 0;

  a {
    color: #2f9ae0;
    font-size: 14px;
    cursor: pointer;
  }
}

.new-account-create-form {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 30px 30px 0;

  &__input-label {
    color: $scorpion;
    font-family: Roboto;
    font-size: 16px;
    line-height: 21px;
    align-self: flex-start;
  }

  &__input {
    height: 54px;
    width: 315.84px;
    border: 1px solid $geyser;
    border-radius: 4px;
    background-color: $white;
    color: $scorpion;
    font-family: Roboto;
    font-size: 16px;
    line-height: 21px;
    margin-top: 15px;
    padding: 0px 20px;
  }

  &__buttons {
    margin-top: 39px;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  &__button {
    width: 150px;
    min-width: initial;
  }
}
