.new-account {
  width: 376px;
  background-color: #FFFFFF;
  box-shadow: 0 0 7px 0 rgba(0,0,0,0.08);
  z-index: 25;
  padding-bottom: 31px;

  &__header {
    display: flex;
    flex-flow: column;
    border-bottom: 1px solid $geyser;
  }

  &__title {
    color: $tundora;
    font-family: Roboto;
    font-size: 32px;
    font-weight: 500;
    line-height: 43px;
    margin-top: 22px;
    margin-left: 29px;
  }

  &__tabs {
    margin-left: 22px;
    display: flex;
    margin-top: 10px;

    &__tab {
      height: 54px;
      width: 75px;
      padding: 15px 10px;
      color: $dusty-gray;
      font-family: Roboto;
      font-size: 18px;
      line-height: 24px;
      text-align: center;
    }

    &__tab:first-of-type {
      margin-right: 20px;
    }

    &__unselected:hover {
      color: $black;
      border-bottom: none;
    }

    &__selected {
      color: $curious-blue;
      border-bottom: 3px solid $curious-blue;
    }
  }

}

.new-account-import-disclaimer {
  width: 120%;
  background-color: #F4F9FC;
  display: inline-block;
  align-items: center;
  padding: 20px 30px 20px;
  font-size: 12px;
  line-height: 1.5;
}

.new-account-import-form {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 0 30px;

  &__select-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 29px;
    width: 100%;
  }

  &__select-label {
    color: $scorpion;
    font-family: Roboto;
    font-size: 16px;
    line-height: 21px;
  }

  &__select {
    height: 54px;
    width: 210px;
    border: 1px solid #D2D8DD;
    border-radius: 4px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;

    .Select-control,
    .Select-control:hover {
      height: 100%;
      border: none;
      box-shadow: none;

      .Select-value {
        display: flex;
        align-items: center;
      }
    }
  }

  &__private-key-password-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
  }

  &__instruction {
    color: $scorpion;
    font-family: Roboto;
    font-size: 16px;
    line-height: 21px;
    align-self: flex-start;
  }

  &__private-key {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    margin-top: 34px;
  }

  &__input-password {
    height: 54px;
    width: 315px;
    border: 1px solid $geyser;
    border-radius: 4px;
    background-color: $white;
    margin-top: 16px;
    color: $scorpion;
    font-family: Roboto;
    font-size: 16px;
    padding: 0px 20px;
  }

  &__json {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 29px;
  }

  &__buttons {
    margin-top: 39px;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}

.new-account-create-form {
  display: flex;
  flex-flow: column;
  align-items: center;

  &__input-label {
    color: $scorpion;
    font-family: Roboto;
    font-size: 16px;
    line-height: 21px;
    margin-top: 29px;
    align-self: flex-start;
    margin-left: 30px;
  }

  &__input {
    height: 54px;
    width: 315.84px;
    border: 1px solid $geyser;
    border-radius: 4px;
    background-color: $white;
    color: $scorpion;
    font-family: Roboto;
    font-size: 16px;
    line-height: 21px;
    margin-top: 15px;
    padding: 0px 20px;
  }

  &__buttons {
    margin-top: 39px;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  &__button-cancel,
  &__button-create {
    height: 55px;
    width: 150px;
    border-radius: 2px;
    background-color: #FFFFFF;
  }

  &__button-cancel {
    border: 1px solid $dusty-gray;
    color: $dusty-gray;
    font-family: Roboto;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
  }

  &__button-create {
    border: 1px solid $curious-blue;
    color: $curious-blue;
    font-family: Roboto;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
  }
}