.popover-content {
  position: relative;
  width: 328px;
  height: 564px;

  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background: white;
  z-index: 2;
  left: calc(50% - 328px/2);
  top: 10px;

  .header {
    h2 {
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 25px;
      text-align: center;
      padding: 20px 0;
      border-bottom: 1px solid #DDDEE9;
    }
    .close {
      position: absolute;
      top: 13px;
      right: 6px;
      width: 18px;
      height: 18px;
      display: block;
      padding: 20px;
      cursor: pointer;

      > div {
        // border: 1px solid red;
        width: 18px;
        height: 18px;
        transform: rotate(45deg);
        pointer-events: none;
        position: absolute;
        top: 10px;
        left: 10px;
      }

      .line {
        width: 18px;
        height: 2px;
        background: #4A4A4A;
        position: absolute;
        border-radius: 2px;

        &.a, &.b {
          top: calc(18px / 2);
        }

        &.b {
          transform: rotate(90deg);
        }
      }
    }
  }

  .container {
    padding: 0 16px;

    .popover-item {
      display: flex;
      justify-content: flex-start;
      align-items: stretch;
      border-top: 1px solid #E5E5E5;
      padding: 10px 0;

      &:first-child {
        border-top: none;
      }

      .col {
        align-self: flex-start;
        &:last-child {
          margin: 0 0 0 auto;
          text-align: right;
        }

        h3, h4 {
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
        }

        h3 {
          font-size: 10px;
          line-height: 180%;
          /* or 15px */

          text-transform: uppercase;

          /* Grey */

          color: #6A737D;
        }

        h4 {
          font-size: 12px;
          line-height: 160%;
          color: #24292E;
        }
      }
    }

    .details {
      border: 1px solid #D2D8DD;
      border-radius: 8px;
      padding: 16px;

      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 180%;

      hr {
        border: none;
        border-bottom: 1px solid #D2D8DD;
        margin: 16px 0;
      }

      .details-amounts, .details-totals {
        display: flex;
        justify-content: flex-start;
        align-items: stretch;

        .col {
          align-self: flex-start;
          &:last-child {
            margin: 0 0 0 auto;
            text-align: right;
          }
        }
      }

      .details-totals {
        h3 {
          font-weight: bold;
          color: #24292E;
        }
      }
    }
  }
}

.popover-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 20%;
  z-index: 1;
}