

.popover-content {
  // not sure how this is gonna work in other browsers?
  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #C4C4C4;
  }

  position: relative;
  width: 328px;
  height: 564px;

  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background: white;
  z-index: 2;
  left: calc(50% - 328px/2);
  top: 10px;

  .header {
    h2 {
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 25px;
      text-align: center;
      padding: 20px 0;
      border-bottom: 1px solid #DDDEE9;
    }
    .close {
      position: absolute;
      top: 13px;
      right: 6px;
      width: 18px;
      height: 18px;
      display: block;
      padding: 20px;

      > div {
        // border: 1px solid red;
        width: 18px;
        height: 18px;
        transform: rotate(45deg);
        pointer-events: none;
        position: absolute;
        top: 10px;
        left: 10px;
      }

      .line {
        width: 18px;
        height: 2px;
        background: #4A4A4A;
        position: absolute;
        border-radius: 2px;

        &.a, &.b {
          top: calc(18px / 2);
        }

        &.b {
          transform: rotate(90deg);
        }
      }
    }
  }

  .react-tabs {
    .react-tabs__tab-list {
      display: flex;
      justify-content: flex-start;
      align-items: stretch;
      flex-direction: row;

      .react-tabs__tab {
        flex-grow: 1;
        text-align: center;
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        display: block;
        padding: 14px 0;
        color: #6A737D;
        border-bottom: 1px solid #C4C4C4;
        // cursor: pointer;
      }

      .react-tabs__tab--selected {
        color: #037DD6;
        border-color: #037DD6;
        border-width: 2px;
      }
    }
  }

  .container {
    padding: 0 5px 0 16px;
    margin-top: 5px;
    margin-bottom: -10px;
    margin-right: 5px;
    height: calc(100% - 66px - 10px);
    overflow-y: scroll;

    > h3 {
      font-size: 12px;
      line-height: 17px;
      color: #000;
      margin: 16px 0;
    }
    .fees {
      display: flex;
      justify-content: flex-start;
      align-items: stretch;
      flex-direction: row;
      margin-bottom: 16px;
      .fees__option {
        padding: 12px;
        border: 1px solid #D2D8DD;
        border-radius: 6px;
        margin-right: 10px;
        flex-grow: 1;
        width: calc(100% / 3);
        * { pointer-events: none; }
        &.selected {
          background: #F7FCFF;
          border-color: #037DD6;
        }
        h3 {
          font-size: 10px;
          line-height: 12px;
          letter-spacing: 1px;
          text-transform: uppercase;
          color: #6A737D;
        }
        h4 {
          font-weight: 500;
          font-size: 14px;
          line-height: 16px;
          color: #24292E;
          margin: 6px 0;
        }
        p {
          font-size: 10px;
          line-height: 160%;
          color: #24292E;
          .eth {
            color: #6A737D;
            display: inline-block;
          }
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .popover-item {
      display: flex;
      justify-content: flex-start;
      align-items: stretch;
      border-top: 1px solid #E5E5E5;
      padding: 10px 0;

      &:first-child {
        border-top: none;
      }

      .col {
        align-self: flex-start;
        &:last-child {
          margin: 0 0 0 auto;
          text-align: right;
        }

        h3 {
          font-size: 10px;
          line-height: 180%;
          /* or 15px */

          text-transform: uppercase;

          /* Grey */

          color: #6A737D;
        }

        h4 {
          font-size: 12px;
          line-height: 160%;
          color: #24292E;
        }
      }
    }

    .details {
      border: 1px solid #D2D8DD;
      border-radius: 8px;
      padding: 16px;

      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 180%;

      hr {
        border: none;
        border-bottom: 1px solid #D2D8DD;
        margin: 16px 0;
      }

      .details-amounts, .details-totals {
        display: flex;
        justify-content: flex-start;
        align-items: stretch;

        .col {
          align-self: flex-start;
          &:last-child {
            margin: 0 0 0 auto;
            text-align: right;
          }
        }
      }

      .details-totals {
        h3 {
          font-weight: bold;
          color: #24292E;
        }
      }
    }

    .activity {
      .header {
        margin: 16px 0;
        h3 {
          font-weight: bold;
          font-size: 14px;
          line-height: 20px;
        }
        .etherscan {
          float: right;
          font-size: 12px;
          line-height: 17px;
          color: #037DD6;
          clear: both;
        }
      }
      ul {
        // this needs to be adjusted, the "disc" in the comps is quite a bit larger
        list-style-type: disc;
        padding: 0 0 0 18px;
        color: #037DD6;
        // position: relative;

        li {
          position: relative;
          padding-left: 0px;
          font-size: 12px;
          line-height: 125%;
          margin-bottom: 16px;
          z-index: 2;
          &:last-child div {
            display: none;
          }
          div {
            width: 1px;
            height: 42px;
            background: #D2D8DD;
            position: absolute;
            left: -13px;
            top: 10px;
            z-index: 1;
          }
          span {
            color: #6A737D;
          }
        }
      }
    }
  }
}

.popover-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 20%;
  z-index: 1;
}