.send-screen-wrapper {
  display: flex;
  flex-flow: column nowrap;
  z-index: 25;
  font-family: Roboto;

  @media screen and (max-width: $break-small) {
    width: 100%;
    overflow-y: auto;
  }

  section {
    flex: 0 0 auto;
  }
}

.send-screen-card {
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);
  padding: 46px 40.5px 26px;
  position: relative;
  // top: -26px;
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  width: 498px;
  flex: 1 0 auto;

  @media screen and (max-width: $break-small) {
    top: 0;
    width: 100%;
    box-shadow: none;
    padding: 12px;
  }
}

/* Send Screen */

.send-screen section {
  margin: 4px 16px;
}

.send-screen input {
  width: 100%;
  font-size: 12px;
}

.send-eth-icon {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  border: 1px solid $alto;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, .2);
  position: absolute;
  top: -35px;
  z-index: 25;
  padding: 4px;
  background-color: $white;

  @media screen and (max-width: $break-small) {
    position: relative;
    top: 0;
  }
}

.send-screen-input-wrapper {
  width: 95%;
  position: relative;

  .fa-bolt {
    padding-right: 4px;
  }

  .large-input {
    border: 1px solid $dusty-gray;
    border-radius: 4px;
    margin: 4px 0 20px;
    font-size: 16px;
    line-height: 22.4px;
    font-family: Roboto;
  }

  .send-screen-gas-input {
    border: 1px solid transparent;
  }

  &__error-message {
    display: none;
  }

  &--error {
    input,
    .send-screen-gas-input {
      border-color: $red !important;
    }

    .send-screen-input-wrapper__error-message {
      display: block;
      position: absolute;
      bottom: 4px;
      font-size: 12px;
      line-height: 12px;
      left: 8px;
      color: $red;
    }
  }

  .send-screen-input-wrapper__error-message {
    display: block;
    position: absolute;
    bottom: 4px;
    font-size: 12px;
    line-height: 12px;
    left: 8px;
    color: $red;
  }
}

.send-screen-input {
  width: 100%;
}

.send-screen-gas-input {
  width: 100%;
  height: 41px;
  border-radius: 3px;
  background-color: #f3f3f3;
  border-width: 0;
  border-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 12px;
  font-size: 16px;
  color: $scorpion;
}

.send-screen-amount-labels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.send-screen-gas-labels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.currency-toggle {
  &__item {
    color: $curious-blue;
    cursor: pointer;

    &--selected {
      color: $black;
      cursor: default;
    }
  }
}

.send-screen-gas-input-customize {
  color: $curious-blue;
  font-size: 12px;
  cursor: pointer;
}

.gas-tooltip-close-area {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
}

.customize-gas-tooltip-container {
  position: absolute;
  bottom: 50px;
  width: 237px;
  height: 307px;
  background-color: $white;
  opacity: 1;
  box-shadow: $alto 0 0 5px;
  z-index: 1050;
  padding: 13px 19px;
  font-size: 16px;
  border-radius: 4px;
  font-family: "Lato";
  font-weight: 500;
}

.gas-tooltip-arrow {
  height: 25px;
  width: 25px;
  z-index: 1200;
  background: $white;
  position: absolute;
  transform: rotate(45deg);
  left: 107px;
  top: 294px;
  box-shadow: 2px 2px 2px $alto;
}

.customize-gas-tooltip-container input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}

.customize-gas-tooltip-container input[type="number"]:hover::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}

.customize-gas-tooltip {
  position: relative;
}

.gas-tooltip {
  display: flex;
  justify-content: center;
}

.gas-tooltip-label {
  font-size: 16px;
  color: $tundora;
}

.gas-tooltip-header {
  padding-bottom: 12px;
}

.gas-tooltip-input-label {
  margin-bottom: 5px;
}

.gas-tooltip-input-label i {
  color: $silver-chalice;
  margin-left: 6px;
}

.customize-gas-input {
  width: 178px;
  height: 28px;
  border: 1px solid $alto;
  font-size: 16px;
  color: $nile-blue;
  padding-left: 8px;
}

.customize-gas-input-wrapper {
  position: relative;
}

.gas-tooltip-input-detail {
  position: absolute;
  top: 4px;
  right: 26px;
  font-size: 12px;
  color: $silver-chalice;
}

.gas-tooltip-input-arrows {
  position: absolute;
  top: 0;
  right: 4px;
  width: 17px;
  height: 28px;
  border: 1px solid #dadada;
  border-left: 0;
  display: flex;
  flex-direction: column;
  color: #9b9b9b;
  font-size: .8em;
  padding: 1px 4px;
  cursor: pointer;
}

.token-gas {
  &__amount {
    display: inline-block;
    margin-right: 4px;
  }

  &__symbol {
    display: inline-block;
  }
}

.send-screen {
  &__title {
    color: $scorpion;
    font-size: 18px;
    line-height: 29px;
  }

  &__subtitle {
    margin: 10px 0 20px;
    font-size: 14px;
    line-height: 24px;
  }

  &__send-button,
  &__cancel-button {
    width: 163px;
    text-align: center;
  }

  &__send-button__disabled {
    opacity: .5;
    cursor: auto;
  }
}

.send-token {
  display: flex;
  flex-flow: column nowrap;
  z-index: 25;
  font-family: Roboto;

  &__content {
    width: 498px;
    height: 605px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);
    padding: 46px 40.5px 26px;
    position: relative;
    // top: -26px;
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    flex: 1 0 auto;

    @media screen and (max-width: $break-small) {
      top: 0;
      width: 100%;
      box-shadow: none;
      padding: 12px;
    }
  }

  .identicon {
    position: absolute;
    top: -35px;
    z-index: 25;

    @media screen and (max-width: $break-small) {
      position: relative;
      top: 0;
      flex: 0 0 auto;
    }
  }

  &__title {
    color: $scorpion;
    font-size: 18px;
    line-height: 29px;
  }

  &__description,
  &__balance-text,
  &__token-symbol {
    margin-top: 10px;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
  }

  &__token-balance {
    font-size: 40px;
    line-height: 40px;
    margin-top: 13px;

    .token-balance__amount {
      padding-right: 12px;
    }
  }

  &__button-group {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    flex: 0 0 auto;

    @media screen and (max-width: $break-small) {
      margin-top: 24px;
    }

    button {
      width: 163px;
    }
  }
}

.confirm-send-token {
  &__hero-amount-wrapper {
    width: 100%;
  }
}

.send-v2 {
  &__container {
    // height: 701px;
    width: 380px;
    border-radius: 8px;
    background-color: $white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);
    display: flex;
    flex-flow: column nowrap;
    z-index: 25;
    align-items: center;
    font-family: Roboto;
    position: relative;

    @media screen and (max-width: $break-small) {
      width: 100%;
      top: 0;
      box-shadow: none;
      flex: 1 1 auto;
    }
  }

  &__send-header-icon-container {
    z-index: 25;

    @media screen and (max-width: $break-small) {
      position: relative;
      top: 0;
    }
  }

  &__send-header-icon {
    border-radius: 50%;
    width: 48px;
    height: 48px;
    border: 1px solid $alto;
    z-index: 25;
    padding: 4px;
    background-color: $white;
  }

  &__send-arrow-icon {
    color: #f28930;
    transform: rotate(-45deg);
    position: absolute;
    top: -2px;
    left: 0;
    font-size: 1.12em;
  }

  &__arrow-background {
    background-color: $white;
    height: 14px;
    width: 14px;
    position: absolute;
    top: 52px;
    left: 199px;
    border-radius: 50%;
    z-index: 100;

    @media screen and (max-width: $break-small) {
      top: 36px;
    }
  }

  &__header {
    height: 88px;
    width: 380px;
    background-color: $athens-grey;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: $break-small) {
      height: 59px;
      width: 100vw;
    }
  }

  &__header-tip {
    height: 25px;
    width: 25px;
    background: $athens-grey;
    position: absolute;
    transform: rotate(45deg);
    left: 178px;
    top: 75px;

    @media screen and (max-width: $break-small) {
      top: 46px;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }

  &__title {
    color: $scorpion;
    font-size: 22px;
    line-height: 29px;
    text-align: center;
    margin-top: 25px;
  }

  &__copy {
    color: $gray;
    font-size: 14px;
    font-weight: 300;
    line-height: 19px;
    text-align: center;
    margin-top: 10px;
    width: 287px;
  }

  &__error {
    font-size: 12px;
    line-height: 12px;
    left: 8px;
    color: $red;
  }

  &__error-border {
    color: $red;
  }

  &__form {
    margin: 13px 0;
    width: 100%;

    @media screen and (max-width: $break-small) {
      padding: 13px 0;
      margin: 0;
      height: 0;
      overflow-y: auto;
      flex: 1 1 auto;
    }
  }

  &__form-header,
  &__form-header-copy {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  &__form-row {
    margin: 14.5px 18px 0px;
    position: relative;
    display: flex;
    flex-flow: row;
    flex: 1 0 auto;
    justify-content: space-between;
  }

  &__form-field {
    flex: 1 1 auto;
  }

  &__form-label {
    color: $scorpion;
    font-family: Roboto;
    font-size: 16px;
    line-height: 22px;
    width: 88px;
  }

  &__from-dropdown {
    height: 73px;
    width: 100%;
    border: 1px solid $alto;
    border-radius: 4px;
    background-color: $white;
    font-family: Roboto;
    line-height: 16px;
    font-size: 12px;
    color: $tundora;
    position: relative;

    &__close-area {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1000;
      width: 100%;
      height: 100%;
    }
    
    &__list {
      z-index: 1050;
      position: absolute;
      height: 220px;
      width: 100%;
      border: 1px solid $geyser;
      border-radius: 4px;
      background-color: $white;
      box-shadow: 0 3px 6px 0 rgba(0 ,0 ,0 ,.11);
      margin-top: 11px;
      margin-left: -1px;
      overflow-y: scroll;
    }
  }

  &__to-autocomplete {
    position: relative;

    &__down-caret {
      position: absolute;
      top: 18px;
      right: 12px;
    }
  }

  &__to-autocomplete, &__memo-text-area {
    &__input {
      height: 54px;
      width: 100%;
      border: 1px solid $alto;
      border-radius: 4px;
      background-color: $white;
      color: $dusty-gray;
      padding: 10px;
      font-family: Roboto;
      font-size: 16px;
      line-height: 21px;
      font-weight: 300;
    }
  }

  &__amount-max {
    color: $curious-blue;
    font-family: Roboto;
    font-size: 12px;
    left: 8px;
    border: none;
    cursor: pointer;
  }

  &__gas-fee-display {
    width: 100%;
  }

  &__sliders-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
    border: 1px solid $curious-blue;
    border-radius: 4px;
    background-color: $white;
    padding: 5px;
    position: absolute;
    right: 15px;
    top: 14px;
    cursor: pointer;
  }

  &__sliders-icon {
    color: $curious-blue;
  }

  &__memo-text-area {
    &__input {
      padding: 6px 10px;
    }
  }

  &__footer {
    height: 92px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid $alto;
    background: $white;
    padding: 0 12px;
  }

  &__next-btn,
  &__cancel-btn,
  &__next-btn__disabled {
    width: 163px;
    text-align: center;
    height: 55px;
    border-radius: 2px;
    background-color: $white;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    line-height: 21px;
    border: 1px solid;
    margin: 0 4px;
  }

  &__next-btn,
  &__next-btn__disabled {
    color: $curious-blue;
    border-color: $curious-blue;
  }

  &__next-btn__disabled {
    opacity: .5;
    cursor: auto;
  }

  &__cancel-btn {
    color: $dusty-gray;
    border-color: $dusty-gray;
  }

  &__customize-gas {
    border: 1px solid #D8D8D8;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.14);
    font-family: Roboto;
    display: flex;
    flex-flow: column;

    @media screen and (max-width: $break-small) {
      width: 100vw;
      height: 100vh;
    }

    &__header {
      height: 52px;
      border-bottom: 1px solid $alto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 22px;

      @media screen and (max-width: $break-small) {
        flex: 0 0 auto;
      }
    }

    &__title {
      margin-left: 19.25px;
    }

    &__close::after {
      content: '\00D7';
      font-size: 1.8em;
      color: $dusty-gray;
      font-family: sans-serif;
      cursor: pointer;
      margin-right: 19.25px;
    }

    &__content {
      display: flex;
      flex-flow: column nowrap;
      height: 100%;
    }

    &__body {
      display: flex;
      margin-bottom: 24px;

      @media screen and (max-width: $break-small) {
        flex-flow: column;
        flex: 1 1 auto;
      }
    }

    &__footer {
      height: 75px;
      border-top: 1px solid $alto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 22px;
      position: relative;

      @media screen and (max-width: $break-small) {
        flex: 0 0 auto;
      }
    }

    &__buttons {
      display: flex;
      justify-content: space-between;
      width: 181.75px;
      margin-right: 21.25px;
    }

    &__revert, &__cancel, &__save, &__save__error {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    &__revert {
      color: $silver-chalice;
      font-size: 16px;
      margin-left: 21.25px;
    }

    &__cancel, &__save, &__save__error {
      height: 34.64px;
      width: 85.74px;
      border: 1px solid $dusty-gray;
      border-radius: 2px;
      font-family: 'DIN OT';
      font-size: 12px;
      color: $dusty-gray;
    }

    &__save__error {
      opacity: 0.5;
      cursor: auto;
    }

    &__error-message {
      display: block;
      position: absolute;
      top: 4px;
      right: 4px;
      font-size: 12px;
      line-height: 12px;
      color: $red;
    }
  }

  &__gas-modal-card {
    width: 360px;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    padding-left: 20px;

    &__title {
      height: 26px;
      color: $tundora;
      font-family: Roboto;
      font-size: 20px;
      font-weight: 300;
      line-height: 26px;
      margin-top: 17px;
    }

    &__copy {
      height: 38px;
      width: 314px;
      color: $tundora;
      font-family: Roboto;
      font-size: 14px;
      line-height: 19px;
      margin-top: 17px;
    }

    .customize-gas-input-wrapper {
      margin-top: 17px;
    }

    .customize-gas-input {
      height: 54px;
      width: 315px;
      border: 1px solid $geyser;
      background-color: $white;
      padding-left: 15px;
    }

    .gas-tooltip-input-arrows {
      width: 32px;
      height: 54px;
      border-left: 1px solid #dadada;
      font-size: 18px;
      color: $tundora;
      right: 0px;
      padding: 1px 4px;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      display: none;
    }

    input[type="number"]:hover::-webkit-inner-spin-button {
      -webkit-appearance: none;
      display: none;
    }
  }
}
