.send-screen-wrapper {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 500px;
  z-index: $send-card-z-index;
  position: absolute;
  top: 5%;

  @media screen and (max-width: $break-small) {
    top: 33px;
  }

}

.send-screen-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-left: 3.5%;
  margin-right: 3.5%;
  background: $white;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.08);
}

/* Send Screen */

.send-screen section {
  margin: 4px 16px;
}

.send-screen input {
  width: 100%;
  font-size: 12px;
}

.send-eth-icon {
  border-radius: 25px;
  width: 45px;
  height: 45px;
  border: 1px solid $alto;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.08);
}

.send-screen-input-wrapper {
  width: 95%;
}

.send-screen-input {
  width: 100%;
}

.send-screen-gas-input {
  width: 100%;
  background-color: $concrete;
  border-width: 0px;
  border-style: none;
}

.send-screen-amount-labels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.send-screen-gas-labels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.send-screen-bolt-icon {}