.tab-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

.tab-bar__tab {
  min-width: 0;
  flex: 0 0 auto;
  padding: 15px 25px;
  border-bottom: 1px solid $alto;
  box-sizing: border-box;
  font-size: 18px;
}

.tab-bar__tab--active {
  border-color: $black;
}

.tab-bar__grow-tab {
  flex-grow: 1;
}
