$wallet-balance-breakpoint: 890px;
$wallet-balance-breakpoint-range: "screen and (min-width: #{$break-large}) and (max-width: #{$wallet-balance-breakpoint})";

.token-list-item {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 20px 24px;
  cursor: pointer;
  transition: linear 200ms;
  background-color: rgba($wallet-balance-bg, 0);
  position: relative;
  flex: 1;
  min-width: 0;

  &__token-balance {
    margin-right: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
    max-width: 100%;
  }

  &__token-balance, &__token-symbol {
    font-size: 1.5rem;
    flex: 0 0 auto;

    @media #{$wallet-balance-breakpoint-range} {
      font-size: 95%;
    }
  }

  &__fiat-amount {
    margin-top: .25%;
    font-size: 105%;
    width: 100%;
    text-transform: uppercase;

    @media #{$wallet-balance-breakpoint-range} {
      font-size: 95%;
    }
  }

  @media #{$wallet-balance-breakpoint-range} {
    padding: 10% 4%;
  }

  &--active {
    background-color: $manatee;
    color: $white;
  }

  &__identicon {
    margin-right: 15px;
    border: '1px solid #dedede';
    min-width: 50px;

    @media #{$wallet-balance-breakpoint-range} {
      margin-right: 4%;
    }
  }

  &__balance-ellipsis {
    display: flex;
    align-items: center;
    min-width: 0;
    flex: 1;
  }

  &__ellipsis {
    line-height: 45px;
    margin-left: 5px;
  }

  &__balance-wrapper {
    flex: 1;
    flex-flow: row wrap;
    display: flex;
    min-width: 0;
  }
}

.token-menu-dropdown {
  width: 80%;
  position: absolute;
  top: 52px;
  right: 25px;
  z-index: 2000;

  @media #{$wallet-balance-breakpoint-range} {
    right: 18px;
  }

  &__close-area {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2100;
    width: 100%;
    height: 100%;
    cursor: default;
  }

  &__container {
    padding: 16px;
    z-index: 2200;
    position: relative;
  }

  &__options {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__option {
    color: $white;
    font-family: Roboto;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
  }
}