$wallet-balance-breakpoint: 890px;
$wallet-balance-breakpoint-range: "screen and (min-width: #{$break-large}) and (max-width: #{$wallet-balance-breakpoint})";

.token-list-item {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 20px 24px;
  cursor: pointer;
  transition: linear 200ms;
  background-color: rgba($wallet-balance-bg, 0);
  position: relative;

  &__token-balance {
    font-size: 130%;

    @media #{$wallet-balance-breakpoint-range} {
      font-size: 105%;
    }
  }

  &__fiat-amount {
    margin-top: .25%;
    font-size: 105%;
    text-transform: uppercase;

    @media #{$wallet-balance-breakpoint-range} {
      font-size: 95%;
    }
  }

  @media #{$wallet-balance-breakpoint-range} {
    padding: 10% 4%;
  }

  &--active {
    background-color: rgba($wallet-balance-bg, 1);
  }

  &__identicon {
    margin-right: 15px;
    border: '1px solid #dedede';

    @media #{$wallet-balance-breakpoint-range} {
      margin-right: 4%;
    }
  }

  &__ellipsis {
    position: absolute;
    top: 20px;
    right: 24px;
  }
}

.token-menu-dropdown {
  height: 55px;
  width: 191px;
  border-radius: 4px;
  background-color: rgba(0,0,0,0.82);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
  position: fixed;
  margin-top: 20px;
  margin-left: 105px;

  &__close-area {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
  }

  &__container {
    padding: 16px 34px 32px;
    z-index: 1050;
    position: relative;
  }

  &__options {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__option {
    color: $white;
    font-family: "DIN OT";
    font-size: 16px;
    line-height: 21px;
    text-align: center;
  }
}