.tx-list-container {
  height: 87.5%;

  @media screen and (min-width: $break-large) {
    overflow-y: scroll;
  }
}

@media screen and (max-width: $break-small) {
  .tx-list-header-wrapper {
    margin-top: .2em;
    margin-bottom: .6em;
    // TODO: Resolve Layout Conflicst in Wallet View
    //  - This fixes txlist "transactions" title dispay
    // margin-top: 0.2em;
    // margin-bottom: 0.6em;
    justify-content: center;
  }

  .tx-list-header {
    align-self: center;
    font-size: 12px;
    color: $dusty-gray;
  }
}

@media screen and (min-width: $break-large) {
  .tx-list-header-wrapper {
    flex: 0 0 55px;
  }

  .tx-list-header {
    font-size: 16px;
    margin: 1.8em 1.3em;
  }
}

.tx-list-content-divider {
  height: 1px;
  background: rgb(231, 231, 231);
  flex: 0 0 1px;

  @media screen and (max-width: $break-small) {
    margin: .1em 0;
  }

  @media screen and (min-width: $break-large) {
    margin: .1em 1.3em;
  }
}

.tx-list-item-wrapper {
  flex: 0 0 70px;
  align-items: stretch;
  justify-content: flex-start;

  @media screen and (max-width: $break-small) {
    margin: 0 1.3em .95em;
  }

  @media screen and (min-width: $break-large) {
    margin: 0 1.3em;
  }
}

.tx-list-date-wrapper {
  flex: 1 1 auto;

  @media screen and (max-width: $break-small) {
    margin-top: 6px;
    margin-bottom: 20px;
  }

  @media screen and (min-width: $break-large) {
    margin-top: 6px;
  }
}

.tx-list-content-wrapper {
  align-items: stretch;
  margin-bottom: 8px;
}

.tx-list-date {
  color: $dusty-gray;
  font-size: 14px;
}

.tx-list-identicon-wrapper {
  align-self: center;
  flex: 1 1 auto;
  margin-left: 3px;
}

.tx-list-account-and-status-wrapper {
  display: flex;
  flex: 8 8 auto;

  @media screen and (max-width: $break-small) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: center;
  }

  @media screen and (min-width: $break-large) {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    .tx-list-account-wrapper {
      flex: 2 2 auto;
    }

    .tx-list-status-wrapper {
      flex: 6 6 auto;
    }
  }

  .tx-list-account {
    font-size: 16px;
  }

  .tx-list-status {
    color: $dusty-gray;
    font-size: 16px;
  }
}

.tx-list-details-wrapper {
  align-self: center;
  flex: 2 2 auto;

  .tx-list-value {
    font-size: 16px;
  }

  .tx-list-fiat-value {
    font-size: 12px;
  }
}
