.token-list-placeholder {
  display: flex;
  align-items: center;
  padding-top: 36px;
  flex-direction: column;
  line-height: 22px;

  img {
    opacity: 0.5;
  }

  &__text {
    color: $silver-chalice;
    width: 50%;
    text-align: center;
    margin-top: 8px;
    opacity: 0.5;

    @media screen and (max-width: 575px) {
      width: 60%;
    }
  }

  &__link {
    margin-top: 0.5rem;
  }
}
