.token-allowance-container {
  max-width: 600px;

  @include screen-sm-min {
    box-shadow: var(--shadow-size-xs) var(--color-shadow-default);
  }

  &__tag-url {
    max-width: 100%; // needed for truncation
  }
}
