.gas-details-item {
  &__gas-fee-warning {
    color: var(--color-secondary-default); //@TODO: revisit when warning color tokens are revisited
  }

  &__currency-container,
  &__gasfee-label {
    position: relative;
    white-space: nowrap;
  }
}
