{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            ">0.25%",
            "not ie 11",
            "not op_mini all"
          ]
        },
        "debug": true
      }
    ],
    "stage-0",
    "react"
  ],
  "plugins": [
    "transform-class-properties"
  ]
}
