npm-debug.log
yarn-error.log
node_modules
package-lock.json

audit.json

app/bower_components
test/bower_components
package
.eslintcache

# IDEs
.idea
.sublime-project

*.bak

# VIM
*.swp
*.swo

temp
.tmp
.sass-cache
.DS_Store
app/.DS_Store

storybook-build/
coverage/
jest-coverage/
dist
builds*/
builds.zip
development/ts-migration-dashboard/build

test-artifacts
test-builds
build-artifacts

#ignore css output and sourcemaps
ui/css/output/

notes.txt

.nyc_output

# MetaMask configuration
.metamaskrc
.metamaskprodrc

# Test results
test-results/

# This file is used to authenticate with the GitHub Package registry, to
# enable the use of @metamask preview builds.
.npmrc
#yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# MMI Playwright
public/playwright
test/e2e/mmi/.env
test/e2e/mmi/playwright.config.ts
test/e2e/mmi/specs/**/*-darwin.png
test/e2e/mmi/dist/

