npm-debug.log
node_modules
package-lock.json

app/bower_components
test/bower_components
package

temp
.tmp
.sass-cache
.DS_Store
app/.DS_Store

dist
builds/
disc/
builds.zip

development/bundle.js
development/states.js
test/integration/bundle.js
test/background.js
test/bundle.js
test/test-bundle.js

notes.txt

coverage/
.coveralls.yml