npm-debug.log
yarn-error.log
node_modules
package-lock.json

audit.json

app/bower_components
test/bower_components
package

# IDEs
.idea
.vscode
.sublime-project

*.bak

# VIM
*.swp
*.swo

temp
.tmp
.sass-cache
.DS_Store
app/.DS_Store

coverage/
dist
builds/
builds.zip
docs/jsdocs

development/bundle.js
development/states.js
test/integration/bundle.js
test/background.js
test/bundle.js
test/test-bundle.js

test-artifacts
test-builds

#ignore css output and sourcemaps
ui/app/css/output/

notes.txt

.coveralls.yml
.nyc_output
