# This file manages contributor identities
# Format: Proper Name <proper@email.com> <commit@email.com>

Gleb <gleb@metamask.io>
Erik Marks <erik@metamask.io>
Mark Stacey <mark@metamask.io>
Whymarrh Whitby <whymarrh@metamask.io>
