; Extra environment variables
; Defaults are set in builds.yml

; This variable is required
INFURA_PROJECT_ID=00000000000

;PASSWORD=METAMASK PASSWORD
;SEGMENT_WRITE_KEY=
;BRIDGE_USE_DEV_APIS=
;SWAPS_USE_DEV_APIS=
;PORTFOLIO_URL=
;TRANSACTION_SECURITY_PROVIDER=

; Set this to test changes to the phishing warning page.
;PHISHING_WARNING_PAGE_URL=
BLOCKAID_FILE_CDN=
BLOCKAID_PUBLIC_KEY=

; Change this to override built-in intercepting https proxy for e2e tests
; SELENIUM_HTTPS_PROXY='http://127.0.0.1:8000'
; Set this to 1 to make e2e tests run browser in headless mode
; SELENIUM_HEADLESS=
; Set this to 1 to make chrome e2e tests disable DoH/DoT and use system DNS
; SELENIUM_USE_SYSTEM_DNS=
; Set this to true to enable the snap path for the Firefox WebDriver (Linux)
; FIREFOX_SNAP=

; Enable the redesigned confirmations still in development, without needing to toggle the developer setting.
; ENABLE_CONFIRMATION_REDESIGN=

; URL of security alerts API used to validate dApp requests
; SECURITY_ALERTS_API_URL='http://localhost:3000'
; Temporary mechanism to enable security alerts API prior to release
; SECURITY_ALERTS_API_ENABLED='true'

; Enables the Settings Page - Developer Options
; ENABLE_SETTINGS_PAGE_DEV_OPTIONS=true

; The endpoint used to submit errors and tracing data to Sentry.
; The below is the `test-metamask` project.
; SENTRY_DSN_DEV=https://f59f3dd640d2429d9d0e2445a87ea8e1@sentry.io/273496

; Enable/disable why did you render debug tool: https://github.com/welldone-software/why-did-you-render
; This should NEVER be enabled in production since it slows down react
; ENABLE_WHY_DID_YOU_RENDER=false
