node_modules/**
lavamoat/**/policy.json
dist/**
builds/**
test-*/**
coverage/
jest-coverage/
storybook-build/
app/vendor/**
.nyc_output/**
test/e2e/send-eth-with-private-key-test/**
*.scss
development/chromereload.js
development/ts-migration-dashboard/filesToConvert.json
public
