node_modules/**/*
lavamoat/**/policy.json
dist/**/*
builds/**/*
test-*/**/*
app/vendor/**
.nyc_output/**/*
test/e2e/send-eth-with-private-key-test/**/*
*.scss
development/chromereload.js
development/ts-migration-dashboard/filesToConvert.json
development/ts-migration-dashboard/build/**
public/**/*
development/charts/**
node_modules/**/*
storybook-build/**/*
jest-coverage/**/*
coverage/**/*
