module.exports = {
  /* 
   * Which modules will be handler by grunt
   * Array list or string 'all'
   */
   modules: ['system', 'user'],
  /* 
   * Which themes will be handler by grunt
   * Array list or string 'all'
   */
  themes: [''],

  //exclude: '!**/sym/**'  // for exclude some huge directory ? for speed up watcher startup before watching event
};