@use "design-system";

.signature-request-header {
  @include design-system.H7;

  display: flex;
  padding: 1rem;
  border-bottom: 1px solid var(--color-border-default);
  justify-content: space-between;

  &--account,
  &--network {
    flex: 1;
    display: flex;
    align-items: center;
  }

  &--account {
    .account-list-item {
      &__top-row {
        display: flex;
        align-items: center;
      }

      &__account-name {
        @include design-system.H7;

        font-weight: 500;
      }

      &__top-row {
        margin: 0;
      }
    }
  }
}
