@use "design-system";

.send-asset {
  &:hover {
    background-color: var(--color-background-hover) !important;
    cursor: pointer;
  }
}

.nft-asset__default-image {
  width: 32px;
  height: 32px;
  border-radius: 8px;
  padding-top: 0 !important;
}
