.currency-display-component {
  display: flex;
  align-items: center;

  &__text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

  }

  &__suffix {
    padding-left: 4px;

    [dir='rtl'] & {
      padding-left: 0;
      padding-right: 4px;
    }
  }
}
