.currency-display-component {
  display: flex;
  align-items: center;
  & > img {
    margin-right: 5px;
  }

  &__text {
    /*rtl:ignore*/
    direction: ltr;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__suffix {
    padding-left: 4px;
  }
}

.currency-display-component-hide {
  display: none !important;
}
