@use "design-system";

@import 'prepare/index';
@import 'quotes/index';
@import 'transaction-details/index';
@import 'awaiting-signatures/index';


.bridge__container {
  height: 100%;
  min-width: 360px;
  max-width: 480px;
}
