.custom-spending-cap {
  &__input-value-and-token-name {
    display: contents;
  }

  &__max {
    position: relative;
    margin-top: -30px;

    &--with-error-message {
      margin-top: -66px;
    }
  }

  &__input {
    width: 100%;
  }

  &__description {
    word-break: break-word;

    &--with-error-message {
      margin-top: 30px;
    }
  }

  #custom-spending-cap-input-value {
    color: var(--color-error-default);
    padding-inline-end: 60px;
  }

  #custom-spending-cap {
    padding-inline-end: 60px;
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']:hover::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
  }
}
