.awaiting-signatures {
  display: flex;
  flex-flow: column;
  align-items: center;
  flex: 1;
  width: 100%;

  &__content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100%;
    padding-left: 32px;
    padding-right: 32px;
  }

  div {
    text-align: center;
    display: flex;
    justify-content: center;
  }

  &__status-image {
    margin-top: 12px;
    margin-bottom: 16px;
  }

  &__header {
    @include H3;
    
    color: $Black-100;
  }

  &__subheader {
    margin-top: 8px;
    font-weight: bold;
  }

  &__steps {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px auto;

    > li {
      margin-bottom: 4px;
      display: flex;
      align-items: center;

      > svg {
        margin-right: 4px;
      }
    }
  }

  &__main-description {
    margin-top: 16px;
  }

  &__time-estimate {
    @include H7;

    color: $Black-100;
    margin-top: 20px;
    font-style: italic;

    > span {
      display: flex;
    }

    &--invisible {
      visibility: hidden;
    }
  }

  &__time-estimate-text {
    margin-right: 2px;
    font-weight: bold;
  }

  &__support-link {
    color: $Blue-500;
    margin-top: 24px;
    cursor: pointer;
  }

  &__support-link {
    @include H6;
  }

  &__symbol {
    font-weight: bold;
  }

  &__amount-and-symbol {
    color: $Black-100;
    font-weight: bold;
  }
}
