.new-account {
  &__wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  &__link-text {
    color: $primary-1;
  }

  &__form {
    padding: 0 24px;

    &--password-button {
      background-color: transparent;
    }

    &--submit-button {
      padding: 20px;
    }

    &--checkmark {
      i {
        color: $success-1;
      }
    }

    .form-field__input {
      height: 50px;
    }
  }
}
