.advanced-gas-controls {
  &__row {
    margin-bottom: 20px;
  }

  .info-tooltip {
    display: inline-block;
  }

  .form-field__row--error .form-field__heading-title h6 {
    color: var(--color-error-default);

    & path {
      fill: var(--color-error-default);
    }
  }

  h6 {
    padding-bottom: 6px;
    margin-inline-end: 6px;
  }

  path {
    fill: var(--color-icon-alternative);
  }
}
