.gas-modal-content {
  .basic-tab {
    height: 219px;
  }

  .advanced-tab {
    height: 475px;
  }

  .info-row, .info-row--fade {
    width: 100%;
    background: $polar;
    padding: 15px 21px;
    display: flex;
    flex-flow: column;
    color: $scorpion;

    .total-info, .sum-info {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
    }

    .total-info {
      .total-label {
        font-size: 16px;
      }

      .total-value {
        font-size: 16px;
        font-weight: bold;
      }
    }

    .sum-info {
      .sum-label {
        font-size: 12px;
      }

      .sum-value {
        font-size: 14px;
      }
    }
  }

  .info-row--fade {
    background: white;
    color: $dusty-gray;
  }
}