/*
  Trumps
 */

// Transitions

/* universal */
.app-primary .main-enter {
  position: absolute;
  width: 100%;
}

/* center position */
.app-primary.from-right .main-enter-active,
.app-primary.from-left .main-enter-active {
  overflow-x: hidden;
  transform: translateX(0);
  transition: transform 300ms ease-in;
}

/* exited positions */
.app-primary.from-left .main-leave-active {
  transform: translateX(360px);
  transition: transform 300ms ease-in;
}

.app-primary.from-right .main-leave-active {
  transform: translateX(-360px);
  transition: transform 300ms ease-in;
}

.sidebar.from-left {
  transform: translateX(-320px);
  transition: transform 300ms ease-in;
}

/* loader transitions */
.loader-enter,
.loader-leave-active {
  opacity: 0;
  transition: opacity 150 ease-in;
}

.loader-enter-active,
.loader-leave {
  opacity: 1;
  transition: opacity 150 ease-in;
}

/* entering positions */
.app-primary.from-right .main-enter:not(.main-enter-active) {
  transform: translateX(360px);
}

.app-primary.from-left .main-enter:not(.main-enter-active) {
  transform: translateX(-360px);
}

i.fa.fa-question-circle.fa-lg.menu-icon {
  font-size: 18px;
}
