/*
  Trumps
 */


// Transitions

/* universal */
.app-primary .main-enter {
  position: absolute;
  width: 100%;
}

/* center position */
.app-primary.from-right .main-enter-active,
.app-primary.from-left .main-enter-active {
  overflow-x: hidden;
  transform: translateX(0px);
  transition: transform 300ms ease-in;
}

/* exited positions */
.app-primary.from-left .main-leave-active {
  transform: translateX(360px);
  transition: transform 300ms ease-in;
}
.app-primary.from-right .main-leave-active {
  transform: translateX(-360px);
  transition: transform 300ms ease-in;
}

.sidebar.from-left {
  transform: translateX(-320px);
  transition: transform 300ms ease-in;
}

/* loader transitions */
.loader-enter, .loader-leave-active {
  opacity: 0.0;
  transition: opacity 150 ease-in;
}
.loader-enter-active, .loader-leave {
  opacity: 1.0;
  transition: opacity 150 ease-in;
}

/* entering positions */
.app-primary.from-right .main-enter:not(.main-enter-active) {
  transform: translateX(360px);
}
.app-primary.from-left .main-enter:not(.main-enter-active) {
  transform: translateX(-360px);
}

i.fa.fa-question-circle.fa-lg.menu-icon {
  font-size: 18px;
}

/*
  Hacky breakpoint fix for account + tab sections
    Resolves issue from @frankiebee in
    https://github.com/MetaMask/metamask-extension/pull/1835
  Please remove this when integrating new designs
 */

// This is commented out, because it's not needed in NewUI.
// We will have a new css architecture w/ different breakpoints.

// @media screen and (min-width: 575px) and (max-width: 800px) {
//   .account-data-subsection {
//     flex: 0 0 auto !important; // reset flex
//     margin-left: 10px !important; // create additional horizontal space
//     margin-right: 10px !important;
//     width: 40%;
//   }

//   .tabSection {
//     flex: 0 0 auto !important;
//     margin-left: 10px !important;
//     margin-right: 10px !important;
//     min-width: 285px;
//     width: 49%;
//   }

//   .name-label {
//     width: 80%;
//   }
// }



// This text is contained inside a div.
// ID needed to override user agent stylesheet.
// See components/modal.scss
#modal-content-footer-text {
  font-family: 'DIN OT';
  font-size: 16px;
}
