@use "design-system";

.import-srp {
  &__srp {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-area: input;
  }

  &__srp-label {
    min-width: 16px;
    max-width: 16px;
    flex-shrink: 0;
    margin-right: 4px;
  }

  &__srp-word {
    display: flex;
    align-items: center;

    input {
      flex: 1;
    }
  }
}
