@use "design-system";

.import-multi-srp {
  &__srp {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-area: input;
    gap: 0 24px;
  }

  &__multi-srp-label {
    min-width: 16px;
    max-width: 16px;
    flex-shrink: 0;
  }

  &__srp-word {
    display: flex;
    align-items: center;
    width: "80%";

    input {
      flex: 1;
    }
  }
}
