.multichain-connected-site-menu {
  &__badge {
    height: 12px;
    width: 12px;
  }
  &__badge.not-connected {
    height: 9px;
    width: 9px;
  }
  &__badge.not-connected:after {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    background: var(--color-background-default);
    z-index: -1;
    border-radius: 50%;
  }
}
