.collectible-details {
  display: flex;
  flex-direction: column;

  &__image {
    width: 14rem;
  }

  @media screen and (min-width: $break-large) {
    display: flex;
    flex-direction: row;
  }

  &__address {
    overflow-wrap: break-word;
  }

  &__image-link {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

