.gas-details-item {
  &__estimate {
    font-weight: 400;
    font-style: italic;
    font-size: 12px;
    color: $Grey-500;
    line-height: inherit;
  }

  &__gas-fee-warning {
    color: $secondary-1;
  }

  &__currency-container,
  &__gasfee-label {
    position: relative;
  }
}
