.asset {
  &__container {
    background-color: var(--color-background-default);
  }

  &__overview {
    box-shadow: var(--shadow-size-xs) var(--color-shadow-default);
  }
}

.asset-navigation {
  display: flex;
  align-items: center;
  padding: 16px;
  height: 64px;
}

.asset-breadcrumb {
  @include H6;

  color: var(--color-text-default);
  background-color: inherit;

  &__asset {
    font-weight: bold;
  }
}

.asset-options {
  &__button {
    padding: 2px 0 2px 8px;
  }
}

.time-range-button {
  height:24px;

  &:hover {
    background-color: var(--color-background-default-hover) !important;;
    color: var(--color-text-alternative) !important;
    box-shadow: var(--shadow-size-xs) var(--color-shadow-default) !important;
  }
  &:active {
    border-color: transparent;
  }
  &:focus {
    background-color: var(--color-background-default);
    color: var(--color-text-alternative) !important;
  }
  &__selected {
    background-color: var(--color-background-default-pressed) !important;;
  }
}

.asset-header {
  position: sticky;
  top: 0;
  z-index: 55;
  height: 64px;
  box-shadow: var(--shadow-size-md) var(--color-shadow-default);
}

.asset-tooltip {
  width:100%;
}
