.add-new-contact-modal {
  &__input-text {
    margin-top: 8px;
  }

  &__textarea {
    @include Paragraph;

    /*rtl:ignore*/
    direction: ltr;
    border: 1px solid #cdcdcd;
    border-radius: 6px;
    background-color: #fff;
    padding: 16px;
    margin-top: 8px;
    resize: none;
  }
}
