.snaps-connect {
  &__content {
    &__icons {
      &__site-icon {
        margin-right: 2px;
      }

      &__connection-line {
        border: 1.11667px dashed var(--brand-colors-grey-grey200);
        width: 51.66px;
        height: 0;
      }

      &__snap {
        margin-left: 2px;
      }
    }
  }

  .page-container__footer {
    border-top: 0;
  }
}
