.snaps-connect {
  &__content {
    &__icons {
      &__site-icon {
        padding-right: 4px;
      }

      &__connection-line {
        border: 1.11667px dashed var(--brand-colors-grey-grey200);
        width: 51.66px;
        height: 1px;
      }

      &__snap {
        padding-left: 4px;
      }
    }
  }

  .page-container__footer {
    border-top: 0;
  }
}
