.form-field {
  margin-bottom: 20px;

  &__heading {
    display: flex;
    align-items: center;
    margin-top: 4px;
  }

  .info-tooltip {
    display: inline-block;
  }

  &__heading-detail {
    flex-grow: 1;
    align-self: center;
  }

  &__error,
  &__error h6 {
    color: var(--error-1) !important;
    padding-top: 6px;
  }

  h6 {
    padding-bottom: 6px;
    margin-inline-end: 6px;
    color: var(--color-text-default);
  }

  i {
    color: var(--color-icon-default); // TODO: Is this good to go?
    font-size: $font-size-h7;
  }

  &__input {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    background-color: var(--color-background-default);
    color: var(--color-text-default);
    border: 2px solid var(--color-border-default);

    &:focus {
      /* border: solid 2px var(--primary-1); */ // TODO: Restore this when we have a proper color
    }

    &--error {
      border-color: var(--error-1); // TODO: What color here?
    }

    &--warning {
      border-color: var(--alert-3); // TODO: What color here?
    }
  }
}
