.new-account-import-disclaimer {
  @include H7;

  width: 120%;
  background-color: #f4f9fc;
  display: inline-block;
  align-items: center;
  padding: 20px 30px 20px;
}

.new-account-import-form {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 0 30px 30px;

  &__select-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 29px;
    width: 100%;
  }

  &__select-label {
    @include Paragraph;

    color: $scorpion;
  }

  &__select {
    width: 210px;
    display: flex;
    align-items: center;
  }

  &__private-key-password-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
  }

  &__instruction {
    @include Paragraph;

    color: $scorpion;
    align-self: flex-start;
  }

  &__private-key {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    margin-top: 34px;
  }

  &__input-password {
    @include Paragraph;

    height: 54px;
    width: 315px;
    border: 1px solid $geyser;
    border-radius: 4px;
    background-color: $white;
    margin-top: 16px;
    color: $scorpion;
    padding: 0 20px;
  }

  &__json {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 29px;
    width: 100%;
  }

  &__buttons {
    margin-top: 39px;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}
