@use "design-system";

.start-trade-cta {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  background: transparent;
  cursor: pointer;
  transition: background-color 200ms ease;

  &:hover {
    background-color: var(--color-background-default-hover);
  }

  &__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }

  &__icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: var(--color-background-muted);
  }

  &__icon {
    color: var(--color-icon-default);
  }

  &__text {
    margin-left: 12px;
    font-size: 14px;
    font-weight: 500;
    color: var(--color-text-default);
  }
}

