.selected-account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;

  &__tooltip-wrapper {
    width: 100%;
  }

  &__name {
    @include H5;

    width: 100%;
    font-weight: 500;
    color: $black;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    margin-bottom: 4px;
  }

  &__address {
    @include H7;

    color: #989a9b;
  }

  &__clickable {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 4px 0;
    padding: 6px 1px;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    background-color: unset;

    &:hover {
      background-color: $Grey-000;
    }

    &:active {
      background-color: #d9d7da;
    }
  }
}
