.toasts-container {
  position: sticky;
  bottom: 16px;
  margin-inline-start: 16px;
  margin-inline-end: 16px;
  z-index: 200;
  display: flex;
  gap: 10px;
  width: 90%;
  flex-direction: column;

  &__banner-base {
    border-radius: 8px;
    box-shadow: var(--shadow-size-md);
  }
}

.toast-text {
  word-break: break-word;
}
