@use "design-system";

.token-list {
  &__empty-list {
    height: 237.5px;
    display: flex;
    align-items: center;

    @include design-system.screen-sm-max {
      height: 237.5px;
    }
  }

  &__tokens-container {
    overflow: auto;
    max-height: 237.5px;

    @include design-system.screen-sm-max {
      max-height: 237.5px;
    }
  }

  &__token_component {
    cursor: pointer;

    &--disabled {
      opacity: 0.4;
      pointer-events: none;
    }
  }
}


