.disconnect-account-modal {
  &__description {
    color: #24292E;
    margin-bottom: 24px;
  }

  &__cancel-button {
    border: none;
    margin-top: 12px;
  }
}

.disconnect-account-modal-container {
  .modal-container__header-text {
    @extend %header--18;
  }

  .modal-container__content {
    padding-bottom: 18px;

    @media screen and (max-width: 575px) {
      padding-bottom: 18px;
    }
  }
}