.permission-approval-container {
  display: flex;
  border: none;
  box-shadow: none;
  margin-top: 45px;
  width: 466px;
  min-height: 468px;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-bottom: 1px solid $geyser;
    padding: 9px;
  }

  &__title {
    @extend %header--18;
    line-height: 25px;
    text-align: center;
    position: fixed;
    left: 0;
    width: 100%;
  }

  &__content {
    display: flex;
    overflow-y: auto;
    flex: 1;
    flex-direction: column;
    color: #7C808E;

    &--redirect {
      margin-top: 60px;
    }

    h1, h2 {
      color: #4A4A4A;
      display: flex;
      justify-content: center;
      text-align: center;
    }

    h2 {
      font-size: 16px;
      line-height: 18px;
      padding: 20px;
    }

    h1 {
      font-size: 22px;
      line-height: 26px;
      padding: 20px;
    }

    p {
      padding: 0 40px;
      text-align: center;
      font-size: 12px;
      line-height: 18px;
    }

    a, a:hover {
      color: $dodger-blue;
    }

    section {
      h1 {
        padding: 30px 0px 0px 0px;
      }

      h2 {
        padding: 0px 0px 20px 0px;
      }
    }

    &__requested {
      text-align: left;
    }

    &__revoke-note {
      margin-top: 24px;
    }

    &__checkbox {
      margin-right: 10px;
    }

    &__permission {
      margin-top: 18px;

      i {
        color: #6A737D;
      }
      label {
        margin-left: 6px;
        color: #24292E;
      }
    }

    .permission-approval-visual {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      position: relative;
      margin: 0 32px;
      margin-top: 40px;

      section {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
      }

      h1 {
        font-size: 14px;
        line-height: 18px;
        padding: 8px 0 0;
      }

      h2 {
        font-size: 12px;
        line-height: 17px;
        color: #6A737D;
        padding: 0;
      }

      &__check {
        width: 40px;
        height: 40px;
        background: white url("/images/permissions-check.svg") no-repeat;
        margin-top: 24px;
        z-index: 1;
      }

      &__reject {
        background: white;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        i {
          color: #D73A49;
          transform: scale(3);
        }
      }

      &__broken-line {
        z-index: 0;
        position: absolute;
        top: 43px;
      }

      &__identicon, .icon-with-fallback__identicon {
        width: 32px;
        height: 32px;
        z-index: 1;

        &--default {
          background-color: #777A87;
          color: white;
          width: 64px;
          height: 64px;
          border-radius: 32px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: bold;
          z-index: 1;
        }
      }

      &__identicon-container, .icon-with-fallback__identicon-container {
        padding: 1rem;
        flex: 1;
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &__identicon-border, .icon-with-fallback__identicon-border {
        height: 64px;
        width: 64px;
        border-radius: 50%;
        border: 1px solid white;
        background: #FFFFFF;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
      }

      &__identicon-border {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .icon-with-fallback__identicon-border {
        position: absolute;
      }

      &:before {
        border-top: 2px dashed #CDD1E4;
        content: "";
        margin: 0 auto;
        position: absolute;
        top: 32px;
        left: 0;
        bottom: 0;
        right: 0;
        width: 65%;
        z-index: -1;
      }

      &__account-info {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__label {
          @extend %content-text;
          line-height: 20px;
          color: #000000;
        }

        &__address {
          @extend %font;
          font-size: 12px;
          line-height: 17px;
          color: #6A737D;
        }
      }
    }

    .secure-badge {
      display: flex;
      justify-content: center;
      padding: 25px;
    }
  }

  &__permissions-header {
    @extend %content-text;
    line-height: 20px;
    color: #6A737D;

    &--redirect {
      text-align: center;
    }
  }

  &__permissions-container {
    display: flex;
    flex-direction: column;
    margin-top: 33px;
  }

  .page-container__footer {
    border-top: none;
    align-items: center;

    header {
      width: 300px;
    }
  }

  &__permissions-header-redirect {
    text-align: center;
  }

  @media screen and (max-width: 575px) {
    width: 100%;
    margin-top: 25px;
    padding: 10px;

    &__title {
      position: initial;
    }

    &__content-approval-visual {
      margin-top: 16px;
    }

    .page-container__footer header {
      padding: 0;
    }
  }
}
