.inline-alert {
  padding: 2px;

  &__danger {
    color: var(--color-error-default);
  }

  &__info {
    color: var(--color-info-default);
    background-color: var(--color-info-muted);
  }

  &__warning {
    color: var(--color-warning-default);
  }

  &__success {
    color: var(--color-success-default);
    background-color: var(--color-success-muted);
  }

  &__disabled {
    color: var(--color-text-alternative);
    background-color: var(--color-background-muted);
  }

  &__pill {
    padding: 2px 5px;
    border-radius: 6px;
  }

  &__transparent-background {
    background-color: transparent !important;
  }
}
