@use "design-system";

.creation-successful {
  img {
    align-self: center;
  }

  &__settings-actions {
    .mm-box.mm-text {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }

    .mm-button-base {
      height: 60px;
    }
  }
}
