@use "design-system";

.bridge-quote-option {
  &:hover:not(&--selected) {
    background: var(--color-background-default-hover);
  }
}

.quotes-modal {
  .mm-modal-content {
    padding: 0;
  }

  .mm-modal-content__dialog {
    display: flex;
    height: 100%;
  }
}
