.block-list {
  display: flex;
  flex-flow: column;
  margin: 32px;

  &__buttons {
    display: flex;

    button {
      margin-left: 8px;
      margin-right: 8px;
    }
  }

  &__dropdown {
   margin-top: 12px;

   &_label {
    color: var(--color-text-default);
    margin-right:8px;
   }
  }
}
