.transaction-status {
  display: inline;

  &--confirmed {
    color: var(--color-success-default);
  }

  &--unapproved {
    color: var(--color-secondary-default);
  }

  &--failed {
    color: var(--color-error-default);
  }

  &--cancelled {
    color: var(--color-error-default);
  }

  &--dropped {
    color: var(--color-error-default);
  }

  &--rejected {
    color: var(--color-error-default);
  }

  &--pending {
    color: var(--color-secondary-default);
  }

  &--queued {
    color: var(--color-text-alternative);
  }
}
