.dapp-connection-control-bar {
  border-top: 1px solid var(--color-border-muted);
  flex-shrink: 0;
  background-color: #242728;

  &__identity {
    min-width: 0; // Allow text truncation
    flex: 1 1 0;
  }

  &__network-button {
    cursor: pointer;
    border: 1px solid #3a4046;
    border-radius: 12px;
    background-color: #2b2d31;
    height: 36px;

    &:hover {
      background-color: #33363a;
    }
  }

  &__action-icon {
    cursor: pointer;
    border: 1px solid #3a4046;
    border-radius: 12px;
    background-color: #2b2d31;
    height: 36px;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    &:hover {
      background-color: #33363a;
    }
  }

  &__status-dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--color-success-default);
    flex-shrink: 0;
  }
}
