.asset-list-conversion-button {
  min-width: 157px;
  height: 56px;
  flex-grow: 1;


  &__contents {
    flex-grow: 1;

    &__button-wrapper {
      background: var(--brand-colors-white-white000);
      width: 24px;
      height: 24px;
    }

    &__text {
      color: var(--brand-colors-white-white000);
    }
  }
}
