.welcome-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 442px;
  padding: 0 18px;
  color: var(--white);

  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  &__header {
    @include H3;
    @include roundeBold;
    margin-top: 12px;
    margin-bottom: 16px;
    text-align: center;
  }

  &__description {
    text-align: center;
    color:var(--gray-3);
    p {
      @include Paragraph;

      text-align: center;
      margin-bottom: 40px;
    }

    a {
      color: var(--primary-1);
    }

    @media screen and (max-width: $break-small) {
      font-size: 0.9rem;
    }
  }

  .first-time-flow__button {
    &-wrap{
      margin-top: 44px;
      position: relative;
    }
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 312px;
    height: 40px;
    font-weight: 500;
    transition: ease-in-out .4s;
    transform-origin: center;
    &:hover{
      // width: 316px;
      // height: 44px;
    }
  }
}
