MMI_E2E_AUTHO_CLIENT_ID=
MMI_E2E_AUTHO_SECRET=
MMI_E2E_SEED_PHRASE=
MMI_E2E_SATURN_TOKEN_SECRET=
MMI_E2E_E2E_AUTH0_EMAIL=
MMI_E2E_E2E_AUTH0_PASSWORD=
MMI_E2E_MMI_PASSWORD=
MMI_E2E_CUSTODIAN_NAME=
MMI_E2E_TEST_NETWORK=
MMI_E2E_SATURN_BASE_URL=
MMI_E2E_SATURN_PROD_BASE_URL=
MMI_E2E_SATURN_UI_BASE_URL=
MMI_E2E_AUTH0_SIGNIN_URL=
MMI_E2E_MMI_CONFIG_URL=
MMI_E2E_AUTH0_TOKEN_URL=
MMI_E2E_JUPITER_BASE_URL=
MMI_E2E_MMI_TEST_DAPP_URL=
MMI_E2E_MMI_DASHBOARD_URL=
# run tests locally in headless mode (true/false)
HEADLESS=