@use "design-system";

@import 'components/';

.multichain-page {
  $height-screen-sm-min: 720px;
  // Match the fullscreen max width in base-styles.scss (`--width-max: 798px`).
  // Keep the side shadow hidden until the viewport is wider than that container.
  $fullscreen-max-width-with-side-shadow: 799px;

  transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;

  // The inner container is the single direct child of the page wrapper.
  &--has-app-header > .mm-box {
    // Matches the box-shadow of the .main-container
    box-shadow: var(--shadow-size-xs) var(--color-shadow-default);
  }
}

.multichain-app-header-logo + .multichain-page {
  $height-screen-sm-min: 720px;

  @media screen and (min-width: design-system.$screen-sm-min) and (min-height: $height-screen-sm-min) {
    padding-top: 0;
  }
}

.snap-view > .multichain-page {
  $height-screen-sm-min: 720px;

  @media screen and (min-width: design-system.$screen-sm-min) and (min-height: $height-screen-sm-min) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.app--sidepanel .multichain-page {
  $height-screen-sm-min: 720px;

  @media screen and (min-width: design-system.$screen-sm-min) and (min-height: $height-screen-sm-min) {
    padding-top: 0;
    padding-bottom: 0;
  }
}
