.first-view-main-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding: 0 10px;

  > .first-view-main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}


@include screen-lg-min {
  .first-view-main {
    width: 62vw;
  }
}

.import-account {
  display: flex;
  flex-flow: column nowrap;
  margin: 60px 0 30px 0;
  position: relative;
  max-width: initial;
}

@include screen-sm-max {
  .import-account {
    margin: 24px;
    display: flex;
    flex-flow: column nowrap;
    width: calc(100vw - 80px);
  }

  .import-account__title {
    width: initial !important;
  }

  .first-view-main {
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 12px;
  }

  .first-view-phone-invisible {
    display: none;
  }

  .first-time-flow__input {
    width: 100%;
  }
}

.import-account {
  &__back-button {
    @include Paragraph;

    margin-bottom: 18px;
    color: var(--color-text-default);
    position: absolute;
    top: -25px;
  }

  &__link {
    display: inline;
    padding: 0;
    font-size: inherit;
  }
}

.reveal-seed {
  &__content {
    padding: 0 4px 0 4px;
  }

  &__label {
    padding-bottom: 10px;
    font-weight: 400;
    display: inline-block;
  }

  &__error {
    @include H6;

    color: var(--color-error-default);
    padding-top: 5px;
  }

  &__tab {
    display: flex;
    flex: 1;
  }

  &__active-tab {
    color: var(--color-primary-default);
  }

  &__text-container {
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__qr-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.srp {
  &__header {
    margin: 20px 16px 16px 16px;
  }

  &__content {
    margin: 8px 16px 20px 16px;
  }

  &__inline-link {
    display: initial;
    padding: 0;
    font-size: inherit;
  }

  &__warning-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    // height: 90px;
    margin: 24px 0 24px 0;
    padding: 8px 12px 8px 12px;
    border-radius: 4px;
    border-left: 4px solid var(--color-error-default);
    background: var(--color-error-muted);
  }

  &__warning-icon {
    margin-right: 8px;
  }

  &__footer {
    margin: auto 0 0 0;
    border: 0;
  }

  &__footer-revealed {
    margin: auto 16px 16px 16px;
    border: 0;
  }
}

.page-container__footer-single-button {
  margin: 16px;
}
