@use "design-system";

.transaction-detail {
  margin: 15px;
  padding: 0 12px;
  border-radius: 8px;
  border: 1px solid var(--color-border-default);
  position: relative;

  .transaction-detail-edit {
    text-align: end;
    padding-top: 20px;

    button {
      @include design-system.H7;

      color: var(--color-primary-default);
      background: transparent;
      border: 0;
      padding-inline-end: 0;
      text-transform: uppercase;
    }
  }

  &-rows {
    margin-top: 10px;
  }
}
