@use "design-system";

.activity-list-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  min-height: 70px;

  &__content-container {
    overflow: hidden;
  }

  &__primary-currency {
    max-width: 130px;

    @include design-system.screen-sm-min {
      max-width: max-content;
    }
  }

  &:hover {
    background-color: var(--color-background-default-hover);
  }
}
