@use "design-system";

.activity-list-item {
  cursor: pointer;
  height: 62px;

  &__content-container {
    overflow: hidden;
  }

  &__primary-currency {
    max-width: 130px;

    @include design-system.screen-sm-min {
      max-width: max-content;
    }
  }
}
