.transaction-list-item-details {
  &__header {
    margin: 8px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__body {
    background: #fafbfc;
    padding: 8px 16px;
  }

  &__header-buttons {
    display: flex;
    flex-direction: row;
  }

  &__header-button {
    font-size: .625rem;

    &:not(:last-child) {
      margin-right: 8px;
    }

    &__copy-icon {
      width: 10px;
      height: 10px;
    }
  }

  &__sender-to-recipient-container {
    margin-bottom: 8px;
  }

  &__cards-container {
    display: flex;
    flex-direction: row;

    @media screen and (max-width: $break-small) {
      flex-direction: column;
    }
  }

  &__transaction-breakdown {
    flex: 1;
    margin-right: 8px;
    min-width: 0;

    @media screen and (max-width: $break-small) {
      margin: 0 0 8px 0;
    }
  }

  &__transaction-activity-log {
    flex: 2;
    min-width: 0;

    @media screen and (min-width: $break-large) {
      padding-left: 12px;
    }
  }
}
