.transaction-list-item-details {
  &__header {
    margin: 8px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__body {
    background: #fafbfc;
    padding: 8px 16px;
  }

  &__header-buttons {
    display: flex;
    flex-direction: row;
  }

  & &__header-button {
    @include H8;

    &-tooltip-container {
      display: flex !important;
      height: 100%;
    }

    &:not(:last-child) {
      margin-right: 8px;
    }
  }

  &__sender-to-recipient-container {
    margin-bottom: 8px;
  }

  &__cards-container {
    display: flex;
    flex-direction: column;
  }

  &__transaction-breakdown {
    flex: 1;
    margin-right: 8px;
    min-width: 0;
    margin: 0 0 8px 0;
  }

  &__transaction-activity-log {
    flex: 2;
    min-width: 0;
    padding-left: 12px;
  }
}
