.base-button-primary {
  color: var(--color-primary-inverse);
  background-color: var(--color-primary-default);
  position: relative;
  transition: box-shadow cubic-bezier(0.6, -0.28, 0.735, 0.045) 200ms;

  &:hover {
    color: var(--color-primary-inverse);
    box-shadow: var(--component-button-primary-shadow);
  }

  &:active {
    color: var(--color-primary-inverse);
    background-color: var(--color-primary-alternative);
  }

  &--danger {
    color: var(--color-error-inverse);
    background-color: var(--color-error-default);

    &:hover {
      color: var(--color-error-inverse);
      box-shadow: var(--component-button-danger-shadow);
    }

    &:active {
      color: var(--color-error-inverse);
      background-color: var(--color-error-alternative);
    }
  }

  &--disabled,
  :disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }

  &--loading .base-button--content {
    color: transparent;
  }
}


.spinner::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 999px;
  border: 2px solid var(--color-primary-inverse);
  border-top-color: transparent;
  animation: spinner 1.2s linear infinite;
}


@keyframes spinner {
  to { transform: rotate(360deg); }
}
