.privacy {
  filter: blur(8px);
  background: var(--color-warning-default);

  /* Hide images such as NFTs */
  img {
    visibility: hidden;
  }

  /* prevent double-blur if nested Privacy components */
  .privacy {
    filter: blur(0);
  }
}
