.connected-status-indicator {
  display:flex;
  align-items: center;
  place-self: center start;

  background: none;
  font-size: inherit;
  padding: 8px 0;

  &__green-circle, &__yellow-circle, &__grey-circle {
    border-radius: 4px;
    height: 8px;
    width: 8px;
  }

  &__green-circle {
    background: #4CD964;
  }

  &__yellow-circle {
    background: #FFD33D;
  }

  &__grey-circle {
    background: $Grey-100;
  }

  &__text {
    font-size: 10px;
    color: $Grey-500;
    margin-left: 8px;
  }
}