.whats-new-popup {
  &__notifications {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__notification,
  &__first-notification {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 0 24px 24px 24px;
    border-bottom: 1px solid $Grey-100;
  }

  &__notification-image {
    margin-bottom: 16px;
  }

  &__description-and-date {
    margin-bottom: 16px;
  }

  &__notification-date {
    color: $Grey-500;
  }

  &__button {
    margin-right: auto;
  }

  &__button,
  &__link {
    margin-bottom: 24px;
  }

  &__link {
    @include H6;

    color: $Blue-500;
    cursor: pointer;
  }

  &__notification-title {
    @include H4;

    font-weight: bold;
    margin-bottom: 8px;
  }
}
