.show-more {
  max-height: 5.5rem;

  &:first-child {
    text-overflow: ellipsis;
  }

  @include screen-md-min {
    max-height: 6rem;
  }

  &__button {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, var(--color-background-default) 33%);
    vertical-align: baseline;
  }
}
