.mm-modal-content {
  position: fixed;
  left: 0;
  top: 0;
  z-index: $modal-z-index;
  overflow: auto;
  overscroll-behavior-y: none;

  // Scroll bar styles
  // Firefox
  scrollbar-width: thin;
  scrollbar-color: var(--color-icon-muted) transparent;

  // Webkit: Chrome, Brave
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background: var(--color-icon-muted);
  }

  &__dialog {
    --modal-content-size: var(--size, 360px);

    // Currently there is only use case size of ModalContent dialog in the extension
    // See audit https://www.figma.com/file/hxYqloYgmVcgsoiVqmGZ8K/Modal-Audit?node-id=481%3A244&t=XITeuRB1pRc09hiG-1
    // Not to say there won't be more in the future, but to prevent redundant code there is only one for now
    &--size-sm {
      --size: 360px;

      max-width: var(--modal-content-size);
    }

    position: relative;
    box-shadow: var(--shadow-size-lg) var(--color-shadow-default);
  }
}
