.permissions-connect-choose-keyring-accounts {
    &__title {
      @include H4;
    }
  
    &__cancel {
      color: var(--color-error-default);
    }
  
    &__content {
      display: flex;
      overflow-y: auto;
      flex-direction: column;
      width: 100%;
      padding-left: 24px;
      padding-right: 24px;
      margin-top: 2px;
      box-shadow: none;
    }
  
    &__footer-container {
      .page-container__footer {
        width: 100%;
        margin-top: 12px;
      }
    }
  }
  