.permissions-connect-footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  position: absolute;
  bottom: 50px;

  @media screen and (max-width: 575px) {
    bottom: 5px;
  }

  &__text {
    @extend %content-text;
    font-size: 12px;
    line-height: 17px;
    color: #6A737D;
    display: flex;
    margin-top: 10px;

    &--link {
      color: #037DD6;
      margin-left: 4px;
      cursor: pointer;
    }
  }
}