.multichain-page-content {
  overflow: auto;
  // Scroll bar styles
  // Firefox
  scrollbar-width: thin;
  scrollbar-color: var(--color-icon-muted) transparent;

  // Webkit: Chrome, Brave
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background: var(--color-icon-muted);
  }
}
