.currency-display-component {
  display: flex;
  align-items: center;

  &__text {
    /*rtl:ignore*/
    direction: ltr;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__suffix {
    padding-left: 4px;
    white-space: nowrap;
    max-width: 300px;
    min-width: 0;
    flex: 0 1 auto;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
