///: BEGIN:ONLY_INCLUDE_IF(developer-options)
.settings-page-developer-options {
  &__icon-check {
    transition: opacity 0.3s ease-in-out;
    opacity: 0;

    &:not([hidden]) {
      opacity: 1;
    }
  }
}
///: END:ONLY_INCLUDE_IF
