.onboarding-pin-extension {
  .carousel {
    .control-dots {
      bottom: -12px;

      .dot {
        background: var(--color-icon-muted);
        box-shadow: none;

        &.selected {
          background: var(--color-icon-default);
        }
      }
    }

    .slide .onboarding-pin-extension__image-container {
      img {
        width: 346px;
        height: auto;
        object-fit: contain;
      }
    }
  }

  &__arrow {
    position: absolute;
    z-index: 2;
    top: calc(50% - 15px);
    width: 30px;
    height: 30px;
    cursor: pointer;
    left: 15px;
    border: 2px solid var(--color-icon-default);
  }

  &__arrow--next {
    right: 15px;
    left: unset;
  }
}
