@use "design-system";

.account-selection {
  &__select {
    align-self: center;
  }

  &__accounts-list {
    height: 84%;
    overflow: auto;
    width: 100%;
  }

  &__top-section {
    width: 100vw;

    @media screen and (min-width: design-system.$break-large) {
      width: 85vw;
    }

    @media screen and (min-width: 768px) {
      width: 80vw;
    }

    @media screen and (min-width: 1280px) {
      width: 62vw;
    }
  }

  &__update {
    min-height: 48px;
  }
}
