/*
  NewUI Container Elements
 */

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;
  position: relative;
  align-items: center;
}

// Fix for UI lag on external monitor: https://github.com/MetaMask/metamask-extension/issues/10173
.app.os-mac.browser-chrome::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  background-color: var(--color-background-alternative);
  animation: emptySpinningDiv 1s infinite linear;
}

@keyframes emptySpinningDiv {
  0% { transform: rotate(0deg); }
  to { transform: rotate(1turn); }
}

// Main container
.main-container {
  z-index: $main-container-z-index;
}

.main-container::-webkit-scrollbar {
  display: none;
}

.main-container-wrapper {
  display: flex;
  justify-content: center;
  flex: 1 0 auto;
  min-height: 0;
  width: 100%;
}

// main-container media queries

@include screen-sm-min {
  .lap-visible {
    display: flex;
  }

  .phone-visible {
    display: none;
  }

  .main-container {
    width: 85vw;
    min-height: 90vh;
    box-shadow: var(--shadow-size-xs) var(--color-shadow-default);
  }
}

@include screen-md-min {
  .main-container {
    width: 80vw;
    min-height: 82vh;
    box-shadow: var(--shadow-size-xs) var(--color-shadow-default);
  }
}

@include screen-lg-min {
  .main-container {
    width: 62vw;
    min-height: 82vh;
    box-shadow: var(--shadow-size-xs) var(--color-shadow-default);
  }
}

@include screen-sm-max {
  .lap-visible {
    display: none;
  }

  .phone-visible {
    display: flex;
  }

  .main-container {
    width: 100%;
    overflow-y: auto;
    background-color: var(--color-background-default);
  }

  .main-container-wrapper {
    flex: 1;
  }
}

.fiat-amount {
  text-transform: uppercase;
}

.token-balance__amount {
  padding: 0 6px;
}

// first time
.first-view-main {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

  @include screen-sm-max {
    height: 100%;
  }

  @include screen-sm-min {
    width: 85vw;
  }

  @include screen-md-min {
    width: 80vw;
  }

  @include screen-lg-min {
    width: 62vw;
  }
}

.unlock-screen-container {
  z-index: $main-container-z-index;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto;
  background: var(--color-background-alternative);
  width: 100%;
}

.unlock-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto;
}

.first-view-main-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding: 0 10px;
  background: var(--color-background-default);
}
