@use "design-system";

.currency-input {
  &__conversion-component {
    @include design-system.H7;

    padding-left: 1px;
  }

  &__swap-component {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-icon-default);
    cursor: pointer;
    background: none;
    border: none;
  }

  &__pulsing-bar {
    height: 4px;
    background: var(--color-icon-muted);
    animation: pulse 2s infinite;
    -webkit-animation: pulse 2s infinite;
  }

  &__skeleton-container {
    min-height: 54px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 8px;
  }
}

@keyframes pulse {
  0%,
  100% {
    background: var(--color-icon-muted);
  }

  50% {
    background: var(--color-background-alternative);
  }
}

@-webkit-keyframes pulse {
  0%,
  100% {
    background: var(--color-icon-muted);
  }

  50% {
    background: var(--color-background-alternative);
  }
}
