.account-details-modal {
  &__name {
    @include H4;

    margin-top: 9px;
  }

  & &__button {
    margin-top: 17px;
    padding: 10px 22px;
    width: 284px;
  }

  &__divider {
    width: 100%;
    height: 1px;
    margin: 16px 0 8px 0;
    background-color: var(--color-border-muted);
  }

  & .qr-header {
    @include H4;

    margin-top: 9px;
  }

  & .qr-wrapper {
    margin-top: 5px;
  }
}
