@use "design-system";

.exchange-rate-display {
  @include design-system.H6;

  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: var(--color-text-default);
  width: 100%;
  flex-wrap: wrap;

  span {
    margin-right: 4px;
  }

  &__bold {
    font-weight: bold;
  }

  &__quote-rate {
    cursor: pointer;
  }

  &__quote-rate--no-link {
    cursor: text;
  }
}
