@use "design-system";

.list-with-search {
  .searchable-item-list {
    &__list-container {
      max-height: 320px;
      overflow-y: auto;
      padding-right: 8px;

      @include design-system.screen-sm-min {
        max-height: 600px;
      }
    }
  }

  &__text-search {
    outline: none;
  }

  .mm-button-icon {
    .mm-icon--size-lg {
      --size: 20px;
    }
  }
}
