.srp-reveal-list {
  &__divider {
    height: 1px;
    background-color: var(--color-border-muted);
  }

  &__social-login-card {
    padding: 12px 16px;
    border-radius: 8px;
  }

  .select-srp__container {
    background-color: var(--color-background-muted);
    border: 0;
  }
}
