.confirm-page-container-header {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;

  &__row {
    display: flex;
    justify-content: center;
    // border-bottom: 1px solid var(--geyser);
    padding: 10px 13px;
    flex: 0 0 auto;
    align-items: center;
    position: relative;

    & .network-display {
      margin-right: 0;
      height: 25px;
    }
  }

  &__back-button-container {
    display: flex;
    justify-content: center;
    align-items: center;

    [dir='rtl'] & img {
      transform: rotate(180deg);
    }
  }

  &__back-icon{
    position: absolute;
    left: 24px;
    cursor: pointer;
  }

  &__back-button {
    @include Paragraph;
    @include H4;
    color: var(--black);
  }

  &__address-container {
    display: flex;
    align-items: center;
    margin-top: 2px;
    margin-bottom: 2px;
  }

  &__address {
    @include H6;

    margin-left: 6px;
  }
}
