.snap-ui-renderer__input {
  & .mm-text-field > .snap-ui-renderer__panel {
    gap: 8px;
  }

  & .mm-text-field > input {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &[type=number] {
      -moz-appearance: textfield;
    }
  }


  & .snap-ui-renderer__image {
    vertical-align: middle;
    max-height: 20px;
    max-width: 20px;
  }
}
