.snap-ui-renderer__input {
  .snap-ui-button {
    &:has(.snap-ui-renderer__image) {
      display: flex;
    }

    .snap-ui-renderer__image {
      vertical-align: middle;
      height: 20px;
      width: 20px;
    }
  }
}
