.button-group {
  display: flex;
  justify-content: center;
  align-items: center;

  &__button {
    font-size: $font-size-h5;
    color: $tundora;
    border-style: solid;
    border-color: $alto;
    border-width: 1px 1px 1px;
    border-left: 0;
    flex: 1;
    padding: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:first-child {
      border-left: 1px solid $alto;
      border-radius: 4px 0 0 4px;
    }

    &:last-child {
      border-radius: 0 4px 4px 0;
    }

    &--active {
      background-color: $dodger-blue;
      color: $white;
    }

    &:disabled {
      opacity: 0.5;
    }
  }
}

.radio-button-group {
  .radio-button {
    @include H7;

    color: $Grey-700;
    border: 1px solid $Grey-100;
    background: $white;
    border-radius: 25px;
    height: 25px;
    margin-right: 8px;
    min-width: 48px;
    padding: 0;

    &--active {
      background: $Blue-500;
      color: white;
      border: none;
    }

    &--danger {
      border: 1px solid $Red-500;
      color: $Red-500;
      background: $white;
    }

    &:hover {
      box-shadow: 0 0 14px rgba(0, 0, 0, 0.18);
    };
  }

  .radio-button--active.radio-button--danger {
    border: 1px solid $Red-500;
    color: white;
    background: $Red-500;
  }
}
