.app-header {
  align-items: center;
  background: var(--color-background-alternative);
  position: relative;
  z-index: $header-z-index;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  flex: 0 0 auto;

  @media screen and (max-width: $break-small) {
    padding: 1rem;
    z-index: $mobile-header-z-index;
  }

  @media screen and (min-width: $break-large) {
    height: 75px;
    justify-content: center;
  }

  &__metafox-logo {
    &--icon {
      height: 32px;

      @media screen and (min-width: $break-large) {
        display: none;
      }
    }

    &--horizontal {
      @media screen and (max-width: $break-small) {
        display: none;
      }
    }
  }

  &__contents {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;

    @media screen and (max-width: $break-small) {
      height: 100%;
    }

    @media screen and (min-width: $break-large) {
      width: 85vw;
    }

    @media screen and (min-width: 769px) {
      width: 80vw;
    }

    @media screen and (min-width: 1281px) {
      width: 62vw;
    }
  }

  &__logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 0 0 auto;
    margin-right: 1rem;

    &--clickable {
      cursor: pointer;
    }
  }

  &__account-menu-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    flex: 1 1 auto;
    width: 0;
    flex-flow: row nowrap;
    justify-content: flex-end;
  }

  &__network-component-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1 0 auto;
    width: 0;
    justify-content: flex-end;
  }

  .account-menu__icon {
    position: relative;
    border: 0;
    background: none;

    &__notification-count {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      right: 0;
      bottom: 0;
      min-width: 16px;
      min-height: 16px;
      font-size: 10px;
      border-radius: 50%;
      background-color: var(--color-primary-default);
      color: var(--color-primary-inverse);
    }
  }
}
