.snap-install {
  box-shadow: none;

  &__content {
    &__loader-container {
      height: 100%;
    }
  }

  &__scroll-button {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
    bottom: 90px;
  }

  .page-container__footer {
    width: 100%;
    border-top: 0;
  }
}

.snaps-connect__error {
  &__icons {
    &__site-icon {
      padding-right: 4px;
    }

    &__connection-line {
      border: 1.11667px dashed var(--brand-colors-grey-grey200);
      width: 51.66px;
      height: 1px;
    }

    &__snap {
      padding-left: 4px;
    }
  }
}
