.transaction-detail-item {
  color: var(--color-text-alternative);
  margin-bottom: 8px;

  &__row {
    display: flex;
    justify-content: space-between;
    grid-gap: 5px;

    &-subText {
      display: flex;
      align-items: center;

      .currency-display-component {
        margin-left: 4px;
      }
    }
  }

  &__detail-values {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex: 0 0 62%;
    width: 62%;

    &--flex-width {
      width: auto;
    }
  }

  .info-tooltip {
    display: inline-block;
    margin-inline-start: 4px;

    path {
      fill: var(--color-icon-alternative);
    }
  }

  .currency-display-component {
    justify-content: end;
    min-width: 0;

    &__text {
      max-width: 100%;
      overflow-wrap: break-word;
      text-align: end;
    }
  }

  &:first-of-type {
    padding-top: 0;
  }

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
    border-bottom: 0;
  }
}
