.tag-url {
  width: max-content;
  padding: 8px 16px 8px 8px;
  max-width: 326px;
  max-height: 48px;

  &__favicon {
    margin-right: 8px;
  }

  &__button-link {
    padding-right: 0 !important;
  }

  &__lock-icon {
    margin-right: 8px !important;
  }


  &__label {
    overflow: hidden;
    height: 22px;
    text-overflow: ellipsis;
  }
}
