.dialog {
  @include H7;

  padding: 1rem;
  border: 1px solid $black;
  box-sizing: border-box;
  border-radius: 8px;

  &--message {
    color: black;
    background-color: $secondary-dark;
  }

  &--error {
    font-weight: bold;
    color: black;
    background-color: $Red-300;
  }

  &--warning {
    color: $Orange-600;
    background-color: $Orange-000;
  }
}
