.multichain-account-network-group {

  .mm-avatar-base {
    border-radius: 4px;
    border: 2px solid var(--color-background-default);
    background-color: var(--color-background-default) !important;
  }

  .mm-avatar-network__network-image {
    border-radius: 4px;
    width: 16px !important;
    height: 16px !important;
  }
}

