.approve-content-card-container {
  &__card {
    border-bottom: 1px solid var(--color-border-default);
  }

  &__card--no-border {
    border-bottom: none;
  }

  &__data-block {
    word-break: break-word;
  }
}
