.typography.gas-timing {
  color: var(--color-text-alternative);

  .info-tooltip {
    display: inline-block;
    margin-inline-start: 4px;

    path {
      fill: var(--color-error-default);
    }
  }
}
