.permissions-connect-header {
  margin-top: 26px;
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  &__page-count {
    @extend %content-text;
    margin-right: 30px;
    font-size: 12px;
    line-height: 17px;
    color: #6A737D;
  }
}