@use "design-system";

.multichain-app-header {
  $height-screen-sm-max: 100%;
  $width-screen-sm-min: 85vw;
  $width-screen-md-min: 80vw;
  $width-screen-lg-min: 62vw;

  // prevent overflow-x
  max-width: 100%;
  flex-flow: column nowrap;
  z-index: design-system.$header-z-index;
  min-height: 68px;

  &__contents {
    height: 68px;

    @include design-system.screen-sm-min {
      width: $width-screen-sm-min;
    }

    @include design-system.screen-md-min {
      width: $width-screen-md-min;
    }

    @include design-system.screen-lg-min {
      width: $width-screen-lg-min;
    }

    &__network-picker {
      max-width: 250px;
    }

    &__container {
      width: fit-content;
    }

    border-bottom: 1px solid #858b9a33;

    &-layout-old-grid {
      padding: 16px;
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;

      @include design-system.screen-sm-max {
        height: $height-screen-sm-max;

        /* Ensures network picker column and icons column are always the same size */
        grid-template-columns: 64px 2fr 64px;
      }
    }

    &-layout-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  &__address-copy-button {
    &:not([disabled]):hover,
    &:not([disabled]):focus {
      box-shadow: none;
      background: var(--color-background-default-hover);
    }
  }

  &__lock-contents {
    flex-flow: row nowrap;
    height: 68px;

    @include design-system.screen-sm-max {
      height: $height-screen-sm-max;
    }

    @include design-system.screen-sm-min {
      width: $width-screen-sm-min;
    }

    @include design-system.screen-md-min {
      width: $width-screen-md-min;
    }

    @include design-system.screen-lg-min {
      width: $width-screen-lg-min;
    }

    // always display horizontal logo on locked screen
    .app-header__metafox-logo {
      &--icon {
        display: none;
      }

      &--horizontal {
        @include design-system.screen-sm-max {
          display: block;
          width: 60px;
        }
      }
    }
  }
}

.multichain-app-header-logo {
  height: 75px;
  flex: 0 0 auto;
}

.app-header__metafox-logo {
  &--icon {
    height: 32px;

    @include design-system.screen-sm-min {
      display: none;
    }
  }

  &--horizontal {
    @include design-system.screen-sm-max {
      display: none;
    }
  }
}

.multichain-app-header-counter {
  position: absolute;
}
