.multichain-aggregated-address-row {
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
  margin-left: -16px;
  margin-right: -16px;
  padding-left: 16px;
  padding-right: 16px;
  height: 32px;
}

