.unlock-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 400px;
  padding: 30px;
  font-weight: 400;
  color: var(--silver-chalice);

  &__container {
    background: var(--background);
    display: flex;
    align-self: stretch;
    justify-content: center;
    flex: 1 0 auto;
  }

  &__mascot-container {
    margin-top: 24px;
    text-align: center;
    &>img{
      width: 100px;
      height: 110px;
    }
  }

  &__title {
    @include H2;

    margin-top: 5px;
    font-weight: 800;
    color: var(--tundora);
    background: linear-gradient(91.07deg, var(--secondary-1-start) 4.72%, var(--secondary-1-end) 73%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__form {
    width: 100%;
    margin: 120px 0 8px;
    & label{
      color:var(--black);
      @include H5;

    }
    & .TextField-inputRoot-12{
      background-color: var(--white);
      height: 32px;
      border-color:var(--gray-1);
      border-radius: 4px;
      padding:0px 6px;
      &>input::placeholder{
        color:var(--gray-3);
        font-size: 13px;
      }
    }
  }

  &__links {
    margin-top: 15px;
    width: 100%;
    text-align: center;
    font-size: 0.75rem;

    button {
      font-weight: bold;
      border-radius: 100px;
    }
  }

  &__link {
    cursor: pointer;
    background-color: unset;
    color: var(--secondary-3);
    font-size: unset;
  }

  &__support {
    margin-top: 25px;
    font-size: 0.75rem;

    a {
      color: var(--Blue-500);
    }
  }
}
