@use "design-system";

@import 'cancel-transaction-gas-fee/index';

.cancel-transaction {
  &__title {
    font-weight: 500;
    padding-bottom: 16px;
    text-align: center;
  }

  &__description {
    @include design-system.H6;

    text-align: center;
  }

  &__cancel-transaction-gas-fee-container {
    margin-bottom: 16px;
  }
}
