.enableEIP1559V2-notice {
  position: relative;

  &__close-button {
    background-color: transparent;
    position: absolute;
    right: 12px;
    top: 12px;
    padding: 0;

    &__icon {
      color: var(--color-icon-default);
      font-size: $font-size-paragraph;
    }
  }
}
