.button-group {
  display: flex;
  justify-content: center;
  align-items: center;

  &__button {
    font-size: $font-size-h5;
    color: $tundora;
    flex: 1;
    padding: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:last-child {
      border-radius: 0 4px 4px 0;
    }

    &--active {
      background-color: $dodger-blue;
      color: $white;
    }

    &:disabled {
      opacity: 0.5;
    }
  }
}

.radio-button-group {
  .radio-button {
    @include H7;

    color: $secondary-dark;
    background: $ui-black;
    border-radius: 25px;
    height: 25px;
    margin-right: 8px;
    min-width: 48px;
    padding: 0;

    &--active {
      background: $secondary-dark;
      color: black;
      border: none;
    }

    &--danger {
      color: black;
      background: $Red-500;
    }

    &:hover {
      box-shadow: 0 0 14px rgba(0, 0, 0, 0.18);
    };
  }

  .radio-button--active.radio-button--danger {
    color: black;
    background: $Red-500;
  }
}
