@import './transaction-breakdown-row/index';

.transaction-breakdown {
  &__card {
    background: $white;
    height: 100%;
  }

  &__row-title {
    text-transform: capitalize;
  }

  &__value {
    text-align: end;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &--eth-total {
      font-weight: 500;
    }
  }
}
