.view-snap {
  max-width: 475px;

  &__version_info {
    &__version-number {
      font-weight: bold;
    }

    &__link {
      vertical-align: top;
    }
  }

  &__enable {
    &__tooltip_wrapper {
      max-width: 52px;
    }
  }

  .connected-sites-list {
    &__content-row {
      border-top: none;
      padding: 0;

      & &-link-button {
        padding: 0;
        padding-inline-start: 0;
        color: var(--color-error-default);
        font-size: 14px;
      }

      a {
        font-size: 14px;
        color: var(--color-error-default);
      }

      a:hover {
        color: var(--color-error-alternative);
      }
    }

    &__subject-info {
      a.btn-link {
        font-size: 14px;
        color: var(--color-error-default);
      }
    }

    &__subject-icon {
      flex-shrink: 0;
    }

    &__subject-name {
      font-size: 14px;
      color: var(--color-primary-default);
    }
  }
}
