.view-snap {
  max-width: 475px;

  &__description {
    &__wrapper {
      position: relative;
      overflow: hidden;
      max-height: 5.5rem;

      @include screen-md-min {
        max-height: 6rem;
      }

      &.open {
        max-height: none;
      }
    }

    &__more-button {
      position: absolute;
      bottom: 0;
      right: 0;
      width: unset;
      padding: 0;
      padding-left: 32px;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, var(--color-background-default) 33%);
    }
  }


  &__permissions {
    .permission-cell {
      margin: 0;
    }
  }

  .connected-sites-list {
    &__content-row {
      border-top: none;
      padding: 0 0 8px 0;

      & &-link-button {
        padding: 0;
        padding-inline-start: 0;
        color: var(--color-error-default);
        font-size: 14px;
      }

      a {
        font-size: 14px;
        color: var(--color-error-default);
      }

      a:hover {
        color: var(--color-error-alternative);
      }
    }

    &__subject-info {
      a.btn-link {
        font-size: 14px;
        color: var(--color-error-default);
      }
    }

    &__subject-icon {
      flex-shrink: 0;
    }

    &__subject-name {
      font-size: 14px;
    }
  }
}
