@import 'confirm-page-container-warning/index';
@import 'confirm-page-container-summary/index';

.confirm-page-container-content {
  overflow-y: auto;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;

  &--with-top-border {
    border-top: 1px solid var(--color-border-muted);
  }

  &__error-container {
    padding: 0 16px 16px 16px;
  }

  &__details {
    box-sizing: border-box;
    padding: 0 24px;
  }

  &__data {
    padding: 16px;
    color: var(--color-text-alternative);

    & > .disclosure {
      margin-top: 0;
    }
  }

  &__data-box {
    @include H7;

    background-color: var(--color-background-alternative);
    padding: 12px;
    word-wrap: break-word;
    overflow-y: auto;

    &-label {
      @include H7;

      text-transform: uppercase;
      padding: 8px 0 12px;
    }
  }

  &__data-field {
    display: flex;
    flex-direction: row;

    &-label {
      font-weight: 500;
      padding-right: 16px;
    }

    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  &__gas-fee {
    border-bottom: 1px solid var(--color-border-muted);

    .advanced-gas-inputs__gas-edit-rows {
      margin-bottom: 16px;
    }
  }

  &__function-type {
    @include H6;

    font-weight: 500;
    text-transform: capitalize;
    color: var(--color-text-default);
    padding-left: 5px;
  }

  &__tab {
    @include H7;

    color: var(--color-text-alternative);
    text-transform: uppercase;
    margin: 0 8px;

    & button {
      font-size: unset;
      color: var(--color-text-alternative);
      text-transform: uppercase;
    }
  }

  .page-container__footer {
    margin-top: auto;
  }

  &__currency-container,
  &__total-amount,
  &__total-value {
    position: relative;
  }
}
