@use "design-system";

.snaps {
  // prevent overflow-x
  max-width: 100%;
  width: 100%;
  height: 100%;
  flex-flow: column nowrap;


  &__content {
    padding: 0;

    &__list {
      &__wrapper {
        @include design-system.screen-md-min {
          margin-top: 24px;
          margin-left: 24px;
          margin-right: 24px;
        }
      }

      &__container--no-snaps_inner {
        max-width: 164px;
        align-self: flex-end;
      }

      &__no-snaps_icon {
        font-size: 48px;
      }

      &__container--no-snaps_banner-tip {
        max-width: 390px;
      }
    }
  }
}
