// Hides the network avatar placeholder icon in the "All Networks" NetworkListItem
.bridge-network-list-popover {
  .multichain-network-list-item:first-child {
    .mm-avatar-base {
      display: none;
    }
  }

  .multichain-network-list-item {
    .mm-avatar-base {
      border-width: 0;
      border-radius: 8px;
    }
  }
}
