.snap-privacy-warning {
  &__content {
    overflow-y: auto;

    @include screen-sm-max {
      max-height: 312px; // fits for popover view
    }


    &__scroll-button {
      position: sticky;
      bottom: 16px;

      @include screen-sm-min {
        display: none; // hides scroll button
      }
    }
  }
}
