.snap-privacy-warning {
  &__modal-dialog {
    max-height: 100%;
    min-height: 300px; // prevents modal shrinking in height beyond being functional
  }

  &__content {
    overflow-y: auto;
    max-height: 100%;

    &__scroll-button {
      position: sticky;
      bottom: 16px;
    }
  }
}
