@import './customize-gas/index';

@import './qr-scanner/index';

.modal-container {
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-flow: column;
  border-radius: 8px;

  &__title {
    font-size: 1.5rem;
    font-weight: 500;
    padding: 16px 0;
    text-align: center;
  }

  &__description {
    text-align: center;
    font-size: .875rem;
  }

  &__account {
    border: 1px solid #b7b7b7;
    border-radius: 4px;
    padding: 10px;
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;

    &__identicon {
      margin-right: 10px;
    }

    &__name,
    &__address {
      margin-right: 10px;
      font-size: 14px;
    }

    &__name {
      width: 100px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__label {
      font-size: 11px;
      display: block;
      color: #9b9b9b;
    }

    &__link {
      margin-top: 14px;

      img {
        width: 15px;
        height: 15px;
      }
    }

    @media screen and (max-width: 575px) {
      &__name {
        width: 90px;
      }
    }
  }

  &__link {
    color: #2f9ae0;
  }

  &__content {
    overflow-y: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;

    @media screen and (max-width: 575px) {
      justify-content: center;
      padding: 28px 20px;
    }
  }

  &__footer {
    display: flex;
    flex-flow: row;
    justify-content: center;
    border-top: 1px solid #d2d8dd;
    padding: 16px;
    flex: 0 0 auto;

    &-button {
      min-width: 0;
      margin-right: 16px;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}
