.qr-code {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__message-container > div:first-child {
    @include Paragraph;

    margin-top: 18px;
    color: #4d4d4d;
  }

  &__message {
    @include H7;

    color: #f7861c;
  }

  &__error {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f7861c;
    margin-bottom: 9px;
  }

  &__address-container {
    display: flex;
    justify-content: center;

    &__tooltip-wrapper {
      width: 100%;
    }

    &:hover {
      cursor: pointer;

      .qr-code__copy-icon__svg {
        fill: $primary-1;
      }
    }
  }

  &__address {
    @include H7;

    background-color: $Grey-000;
    width: 76%;
    padding: 8px 12px;
    word-break: break-all;
    text-align: center;
  }

  &__copy-icon {
    height: 13px;
    padding: 17px 0;
    position: absolute;
    right: 24px;

    &__svg {
      fill: $ui-5;
    }
  }
}
