.institutional_feature_confirm {
  &__token {
    color: black;
    font-size: 1.2em;
    height: auto;
    margin: 5px 32px;
    overflow-wrap: break-word;

    &--projectId {
      font-size: 0.8em;
      height: auto;
      margin: 0 32px;
      overflow-wrap: break-word;
      color: var(--oslo-gray);
      opacity: 0.8;
    }
  }
}

.institutional_feature_spacing {
  font-size: 0.9em;
  padding: 12px 32px;
  padding-bottom: 0;
}

.institutional_feature_confirm__error {
  .error {
    text-align: center;
    margin-top: 15px;
  }
}
