.siwe-request-header {

  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &--account {
    flex: 1;
    display: flex;
    align-items: center;
    margin-top: 0.5rem;

    .account-list-item {
      &__top-row {
        display: flex;
        align-items: center;
      }

      &__account-name {
        @include H5;

        font-weight: 500;
      }

      &__top-row {
        margin: 0;
      }
    }
  }

  &--domain {
    flex: 1;
    display: flex;
    align-items: center;
    margin: 8px auto;

  }

  .title {
    @include H2;
    font-weight: bold;
    margin: 8px auto;
  }

  .subtitle {
    @include H5;
    margin: 8px auto;

  }

  .bad-domain {
    .typography {
      color: var(--color-error-default)
    }
  }

  .domain-warning {
    &__tooltip-container {
      &-icon {
        display: flex;
        align-items: center;
      }
    }
  }

}
