.activity-list-item-avatar-dual {
  position: relative;
  z-index: 0;
  width: 32px;
  height: 32px;
  flex-shrink: 0;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 1px;
    margin-left: -0.5px;
    background-color: var(--brand-colors-white);
    pointer-events: none;
  }

  &__half {
    position: absolute;
    inset: 0;

    &--left {
      clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);
    }

    &--right {
      clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
    }
  }

  &__token {
    width: 100%;
    height: 100%;
    background: transparent !important;
  }
}
