@import 'connect-hardware/index';
@import 'import-account/index';

.new-account {
  width: 375px;
  background-color: var(--color-background-default);
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.08);
  z-index: 25;
  height: unset;
  overflow: auto;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  @media screen and (min-width: $break-large) {
    position: absolute;
  }

  &__header {
    display: flex;
    flex-flow: column;
    border-bottom: 1px solid var(--color-border-muted);
  }

  &__title {
    @include H2;

    color: var(--color-text-alternative);
    font-weight: 500;
    margin-top: 22px;
    margin-left: 29px;
  }

  &__tabs {
    margin-left: 22px;
    display: flex;
    margin-top: 10px;

    &__tab {
      @include H4;

      height: 54px;
      padding: 15px 10px;
      color: var(--color-text-muted);
      text-align: center;
      cursor: pointer;
    }

    &__tab:hover {
      color: var(--color-text-default);
      border-bottom: none;
    }

    &__selected {
      color: var(--color-primary-default);
      border-bottom: 3px solid var(--color-primary-default);
      cursor: initial;
      pointer-events: none;
    }
  }
}


.new-account-create-form {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 30px;

  &__input-label {
    @include Paragraph;

    color: var(--color-text-alternative);
    align-self: flex-start;
  }

  &__input {
    @include Paragraph;

    height: 54px;
    width: 315.84px;
    border: 1px solid var(--color-border-muted);
    border-radius: 4px;
    background-color: var(--color-background-default);
    color: var(--color-text-muted);
    margin-top: 15px;
    padding: 0 20px;

    &__error {
      border: 1px solid var(--color-error-alternative);
    }
  }

  &__error {
    @include H7;

    left: 8px;
    color: var(--color-error-default);
  }

  &__error-amount {
    margin-top: 5px;
  }

  &__buttons {
    margin-top: 39px;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  &__button {
    width: 150px;
    min-width: initial;
  }
}
