.transaction-list-item {
  cursor: pointer;

  &:hover {
    background-color: $Grey-000;
  }

  &__primary-currency {
    color: $Black-100;
  }

  &__secondary-currency {
    font-size: 12px;
    margin-top: 4px;
    color: $Grey-500;
  }

  &--pending {
    color: $Grey-500;
  }

  &--pending &__primary-currency {
    color: $Grey-500;
  }

  &__status {
    &--unapproved {
      color: $flamingo;
    }
    &--failed {
      color: $valencia;
    }
    &--cancelled {
      color: $valencia;
    }
    &--queued {
      color: $Grey-500;
    }
  }

  &__pending-actions {
    padding-top: 12px;
    display: flex;
    .button {
      font-size: 0.625rem;
      padding: 8px;
      width: 75px;
      white-space: nowrap;
      line-height: 1rem;
    }
    &:empty {
      padding-top: 0;
    }
  }
}
