.transaction-list-item {
  &__primary-currency {
    color: $Black-100;
  }

  &__secondary-currency {
    font-size: 12px;
    margin-top: 4px;
    color: $Grey-500;
  }

  & &--unconfirmed {
    color: $Grey-500;
  }

  &--unconfirmed &__primary-currency {
    color: $Grey-500;
  }

  &__pending-actions {
    padding-top: 12px;
    display: flex;

    .button {
      font-size: 0.625rem;
      padding: 8px;
      width: 75px;
      white-space: nowrap;
      line-height: 1rem;
    }

    & > .button:first-child {
      margin-right: 6px;
    }

    &:empty {
      padding-top: 0;
    }
  }

  .list-item__subheading > h3 {
    overflow: visible;
    display: flex;
    white-space: nowrap;
    text-overflow: initial;
  }

  .transaction-status::after {
    content: "·";
    margin: 0 4px;
  }

  &__origin,
  &__address {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__origin {
    /*rtl:ignore*/
    direction: rtl;
  }
}
