.basic-tab-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 21px;
  height: 324px;
  background: #f5f7f8;
  border-bottom: 1px solid #d2d8dd;

  &__title {
    @include Paragraph;

    margin-top: 19px;
    color: $black;
  }

  &__blurb {
    @include H7;

    width: 95%;
    color: $black;
    margin-top: 5px;
    margin-bottom: 15px;
  }

  &__footer-blurb {
    @include H7;

    width: 95%;
    color: #979797;
    margin-top: 15px;
  }
}
