.basic-tab-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 21px;
  height: 324px;
  background: var(--color-background-alternative);
  border-bottom: 1px solid var(--color-border-default);

  &__title {
    @include Paragraph;

    margin-top: 19px;
    color: var(--color-text-default);
  }

  &__blurb {
    @include H7;

    width: 95%;
    color: var(--color-text-default);
    margin-top: 5px;
    margin-bottom: 15px;
  }

  &__footer-blurb {
    @include H7;

    width: 95%;
    color: var(--color-text-alternative);
    margin-top: 15px;
  }
}
