.delineator {
  &--loading {
  }

  &__header {
    cursor: pointer;

    &--loading {
      cursor: default;
    }

    &--expanded {
      border-bottom-width: 1px;
      border-color: var(--color-border-muted);
      border-style: solid;
      border-radius: 8px 8px 0 0;
    }
  }
}
