.detected-token-ignored-popover {
  &__ignore-button {
    margin-inline-end: 8px;

    &:hover{
      background-color: var(--transparent);
      color: var(--color-primary-default);
    }
  }

  &__import-button {
    margin-inline-start: 8px;
  }

  &--ignore {
    .popover-header {
      margin-inline-start: 85px;
    }
  }

  &--import {
    .popover-header {
      margin-inline-start: 50px;
    }
  }
}
