.detected-token-ignored-popover {
  &__ignore-button {
    margin-inline-end: 8px;
  }

  &__import-button {
    margin-inline-start: 8px;
  }

  .popover-header {
    margin-inline-start: 85px;
  }
}
