@import 'signature-request-footer/index';
@import 'signature-request-header/index';
@import 'signature-request-message/index';

.signature-request {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    min-width: 0;
}

.signature-request-header {
    flex: 1;
}

.signature-request-content {
    flex: 1 40%;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: min-content;

    &__identicon-container {
        padding: 1rem;
        flex: 1;
    }

    &__from {
        font-size: 1rem;
        color: #000000;
    }

    p {
        color: #999999;
        font-size: 0.8rem;
    }
}

.signature-request-footer {
    flex: 1 1 auto;
}