@import 'signature-request-footer/index';
@import 'signature-request-header/index';
@import 'signature-request-message/index';

.signature-request {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  min-width: 0;

  @media screen and (min-width: 576px) {
    flex: initial;
  }
}

.signature-request-header {
  flex: 1;

  .network-display {
    padding: 0;
    justify-content: flex-end;
    margin-left: auto;
  }
}

.signature-request-content {
  flex: 1 40%;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 25px;
  min-height: min-content;

  &__title {
    @include H5;

    font-weight: 500;
  }

  &__identicon-container {
    padding: 1rem;
    flex: 1;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__identicon-border {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    border: 1px solid white;
    position: absolute;
    box-shadow: 0 2px 2px 0.5px rgba(0, 0, 0, 0.19);
  }

  &__identicon-initial {
    position: absolute;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    color: white;
    z-index: 1;
    text-shadow: 0 4px 6px rgba(0, 0, 0, 0.422);
  }

  &__info {
    @include H7;
  }

  &__info--bolded {
    @include Paragraph;

    font-weight: 500;
  }

  p {
    @include H6;

    color: #999;
  }

  .identicon {}
}

.signature-request-footer {
  flex: 1 1 auto;
}
