.notification-list-item {
  position: relative;
  background-color: transparent;
}

.notification-list-item__icon {
  padding-top: 6px;
}

.notification-list-item--unread {
  background-color: rgba(3, 118, 201, 0.05); // #0376C9 at 5% opacity
}

.notification-list-item__unread-dot__wrapper {
  position: absolute;
  top: 24px;
  left: 9px;
}

.notification-list-item__unread-dot__dot {
  width: 6px;
  height: 6px;
}

.notification-list-item__right-container {
  flex-shrink: 0;
}
