/**
  These colors are either deprecated or will move into colors.scss
  when approved for the design system
**/

// Base Colors
$white: #fff;
$black: #000;
$orange: #ffa500;
$red: #f00;
$gray: #808080;

/*
  Colors
  http://chir.ag/projects/name-that-color
 */
$gallery: #efefef;
$wild-sand: #f6f6f6;
$dusty-gray: #9b9b9b;
$alto: #dedede;
$alabaster: #fafafa;
$silver-chalice: #aeaeae;
$tundora: #4d4d4d;
$nile-blue: #1b344d;
$scorpion: #5d5d5d;
$silver: #cdcdcd;
$caribbean-green: #02c9b1;
$monzo: #d0021b;
$crimson: #e91550;
$blue-lagoon: #038789;
$purple: #690496;
$tulip-tree: #ebb33f;
$malibu-blue: #7ac9fd;
$athens-grey: #e9edf0;
$geyser: #d2d8dd;
$manatee: #93949d;
$spindle: #c7ddec;
$mid-gray: #5b5d67;
$cape-cod: #38393a;
$dodger-blue: #3099f2;
$ecstasy: #f7861c;
$linen: #fdf4f4;
$oslo-gray: #8c8e94;
$polar: #fafcfe;
$blizzard-blue: #bfdef3;
$mischka: #dddee9;
$web-orange: #f2a202;
$mercury: #e5e5e5;
