.contract-token-values {
  &__copy-adress {
    margin-inline-start: 10px;

    &__button {
      padding: 0;
    }
  }

  &__block-explorer {
    margin-inline-start: 14px;

    &__button {
      padding: 0;
    }
  }
}
