.contract-token-values {
  align-items: center;
  justify-content: center;

  &__address-identicon {
    margin-inline-end: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  &__copy-adress {
    margin-inline-start: 10px;

    &__button {
      padding: 0;
    }
  }

  &__block-explorer {
    margin-inline-start: 14px;

    &__button {
      padding: 0;
    }
  }
}
