@import 'tab/index';

.tabs {
  &__list {
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid $geyser;
    background-color: $white;

    position: sticky;
    top: 0;
    z-index: 1;
  }
}
