.edit-gas-item {
  border-radius: 24px;
  background: white;
  color: $ui-4;
  cursor: pointer;
  font-size: 12px;
  display: flex;
  align-items: center;
  margin: 12px 0;
  padding: 4px 12px;
  height: 32px;
  width: 100%;

  &-selected {
    background-color: $ui-1;
  }

  &-disabled {
    cursor: default;
  }

  &__name {
    display: inline-flex;
    align-items: center;
    color: $ui-black;
    font-size: 12px;
    font-weight: bold;
    width: 40%;
  }

  &__icon {
    margin-right: 4px;

    &-custom {
      font-size: 20px;
      line-height: 0;
    }
  }

  &__time-estimate {
    display: inline-block;
    width: 20%;
  }

  &__fee-estimate {
    display: inline-block;
    width: 30%;
    white-space: nowrap;
  }

  &__tooltip {
    display: inline-block;
    text-align: right;
    width: 10%;

    .info-tooltip {
      display: inline-block;
    }
  }

  &__time-estimate-low,
  &__fee-estimate-high {
    color: $secondary-1;
  }

  &__time-estimate-medium,
  &__time-estimate-high {
    color: $success-3;
  }
}
