/* color */

.color-orange {
  color: #F7861C;
}

.color-forest {
  color: #0A5448;
}

/* lib */

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column-bottom {
  display: flex;
  flex-direction: column-reverse;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-space-around {
  justify-content: space-around;
}

.flex-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.flex-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.flex-fixed {
  flex: none;
}

.flex-basis-auto {
  flex-basis: auto;
}

.flex-grow {
  flex: 1 1 auto;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-justify-center {
  justify-content: center;
}

.flex-align-center {
  align-items: center;
}

.flex-self-end {
  align-self: flex-end;
}

.flex-self-stretch {
  align-self: stretch;
}

.flex-vertical {
  flex-direction: column;
}

.z-bump {
  z-index: 1;
}

.select-none {
  cursor: inherit;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pointer {
  cursor: pointer;
}
.cursor-pointer {
  cursor: pointer;
  transform-origin: center center;
  transition: transform 50ms ease-in-out;
}
.cursor-pointer:hover {
  transform: scale(1.1);
}
.cursor-pointer:active {
  transform: scale(0.95);
}

.cursor-disabled {
  cursor: not-allowed;
}

.margin-bottom-sml {
  margin-bottom: 20px;
}

.margin-bottom-med {
  margin-bottom: 40px;
}

.margin-right-left {
  margin: 0 20px;
}

.bold {
  font-weight: bold;
}

.text-transform-uppercase {
  text-transform: uppercase;
}

.font-small {
  font-size: 12px;
}

.font-medium {
  font-size: 1.2em;
}

hr.horizontal-line {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.hover-white:hover {
  background: white;
}

.red-dot {
  background: #E91550;
  color: white;
  border-radius: 10px;
}

.diamond {
  transform: rotate(45deg);
  background: #038789;
}

.hollow-diamond {
  transform: rotate(45deg);
  border: 1px solid #038789;
}

.pending-dot {
  background: red;
  left: 14px;
  top: 14px;
  color: white;
  border-radius: 10px;
  height: 20px;
  min-width: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
}

.ether-balance {
  display: flex;
  align-items: center;
}

.menu-icon {
  display: inline-block;
  height: 9px;
  min-width: 9px;
  margin: 13px;
}
.ether-icon {
  background: rgb(0, 163, 68);
  border-radius: 20px;
}
.morden-icon {
  background: #2465E1;
}

.drop-menu-item {
  display: flex;
  align-items: center;
}

.invisible {
  visibility: hidden;
}

.one-line-concat {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
