/* color */

.color-orange {
  color: #F7861C;
}

.color-forest {
  color: #0A5448;
}

/* lib */

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column-bottom {
  display: flex;
  flex-direction: column-reverse;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-space-around {
  justify-content: space-around;
}

.flex-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.flex-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.flex-fixed {
  flex: none;
}

.flex-basis-auto {
  flex-basis: auto;
}

.flex-grow {
  flex: 1 1 auto;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-justify-center {
  justify-content: center;
}

.flex-align-center {
  align-items: center;
}

.flex-self-end {
  align-self: flex-end;
}

.flex-self-stretch {
  align-self: stretch;
}

.flex-vertical {
  flex-direction: column;
}

.z-bump {
  z-index: 1;
}

.select-none {
  cursor: inherit;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pointer {
  cursor: pointer;
}
.cursor-pointer {
  cursor: pointer;
  transform-origin: center center;
  transition: transform 50ms ease-in-out;
}
.cursor-pointer:hover {
  transform: scale(1.1);
}
.cursor-pointer:active {
  transform: scale(0.95);
}

.cursor-disabled {
  cursor: not-allowed;
}

.margin-bottom-sml {
  margin-bottom: 20px;
}

.margin-bottom-med {
  margin-bottom: 40px;
}

.margin-right-left {
  margin: 0 20px;
}

.bold {
  font-weight: bold;
}

.text-transform-uppercase {
  text-transform: uppercase;
}

.font-small {
  font-size: 12px;
}

.font-medium {
  font-size: 1.2em;
}

hr.horizontal-line {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.hover-white:hover {
  background: white;
}

.red-dot {
  position: inherit;
  background: red;
  color: white;
  border-radius: 10px;
  height: 12px;
  min-width: 12px;
  margin-left: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
}

.pending-dot {
  background: red;
  left: 57px;
  color: white;
  border-radius: 10px;
  height: 20px;
  min-width: 20px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
}

.ether-balance {
  display: flex;
  align-items: center;
}

img.menu-icon {
  width: 25px;
}
