.popover {
  &__details {
    border: 1px solid $geyser;
    border-radius: 8px;
    padding: 16px;

    font-size: 12px;
    line-height: 180%;
    margin-bottom: 16px;
  }

  &__details__rule {
    border: none;
    border-bottom: 1px solid $geyser;
    margin: 16px 0;
  }

  &__details--amounts, &__details--totals {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
  }

  &__details__col {
    align-self: flex-start;
    &:last-child {
      margin: 0 0 0 auto;
      text-align: right;
    }
  }

  &__details__heading {
    font-weight: bold;
    color: #24292E;
  }
}
