.collectible-default {
  &__image {
    width: 100%;
    height: 100%;
    border-radius: 0;
    display: block;
    left: 0;
    top: 0;
  }

  &__wrapper {
    width: 100%;
    height: 100%;
    position: relative;
  }

  &__text {
    z-index: 5;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
  }

  &__clickable {
    cursor: pointer;
  }
}
