@use "design-system";

.unit-input {
  width: 100%;
  border-radius: 0.5rem;
  min-height: 45px;
  margin-top: 8px;
}

// override the default width of the unit input as the placeholder text is being truncated
.unit-input .unit-input__input {
  width: 100% !important;
}
