@use "design-system";

.toast_wrapper {
  bottom: 80px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 4px;
  position: fixed;
  width: 100%;
  z-index: design-system.$modal-z-index;

  @media screen and (min-width: design-system.$screen-sm-max) {
    max-width: 408px;
  }
}
