@import 'signature-request-header/index';
@import 'signature-request-message/index';
@import 'signature-request-data/index';

.signature-request {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  min-width: 0;
  width: 408px;
  background-color: var(--color-background-default);
  box-shadow: var(--shadow-size-xs) var(--color-shadow-default);
  border-radius: 8px;

  @include screen-sm-min {
    max-height: 55vh;
    min-height: 570px;
    flex: 0 0 auto;
    margin-left: auto;
    margin-right: auto;
  }
}

.signature-request-header {
  flex: 1;

  .network-display {
    justify-content: flex-end;
    margin-left: auto;
  }
}

.signature-request-content {
  flex: 1 40%;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: min-content;

  &__title {
    @include H5;

    font-weight: 500;
  }

  &__info {
    @include H7;

    padding: 0 12px 4px;
  }

  &__info--bolded {
    @include Paragraph;

    font-weight: 500;
  }

  p {
    @include H6;

    color: var(--color-text-muted);
  }
}

a.signature-request-content__verify-contract-details {
  padding: 0;
}
