.alert-circle-icon {
  &--danger {
    border-color: var(--accent-red);
    color: var(--accent-red);
    background: var(--Red-000);
  }

  &--warning {
    border-color: var(--accent-yellow);
    color: var(--accent-yellow);
    background: var(--Yellow-000);
  }
}
