.editable-label {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &__value {
    max-width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__input {
    @include H6;

    color: var(--color-text-default);
    background-color: var(--color-background-default);
    width: 250px;
    text-align: center;
    border: 1px solid var(--color-border-default);

    &--error {
      border: 1px solid var(--color-error-default);
    }
  }

  &__icon-button {
    position: absolute;
    margin-left: 10px;
    left: 100%;
    background: unset;
  }

  &__icon {
    cursor: pointer;
    color: var(--color-icon-default);
  }

  &__error {
    @include H7;

    left: 8px;
    color: var(--color-error-default);
  }

  &__error-amount {
    margin-top: 5px;
  }
}
