.ramps-card {
  padding: 8px 12px;

  &__cta-button {
    width: fit-content;
    color: var(--brand-colors-grey-grey800);
    background-color: var(--brand-colors-white-white000);
  }

  &__title {
    color: var(--brand-colors-white-white000);
  }

  &__body {
    color: var(--brand-colors-white-white000);
    width: 80%;
  }
}

.ramps-card-token {
  background-color: var(--color-info-default);
}

.ramps-card-nft {
  background-color: var(--color-flask-default);
}

.ramps-card-activity {
  background-color: var(--color-error-alternative);
}
