.gas-price-button-group {
  margin-top: 22px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;

  &__primary-currency {
    font-size: 18px;
    height: 20.5px;
    margin-bottom: 7.5px;
  }

  &__time-estimate {
    margin-top: 5.5px;
    color: $silver-chalice;
    height: 15.4px;
  }

  &__loading-container {
    height: 130px;
  }

  .button-group__button, .button-group__button--active {
    height: 130px;
    max-width: 108px;
    font-size: 12px;
    flex-direction: column;
    align-items: center;
    display: flex;
    padding-top: 17px;
    border-radius: 4px;
    border: 2px solid $spindle;
    background: $white;
    color: $scorpion;

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    i {
      &:last-child {
        display: none;
      }
    }
  }

  .button-group__button--active {
    border: 2px solid $curious-blue;
    color: $scorpion;

    i {
      &:last-child {
        display: flex;
        color: $curious-blue;
        margin-top: 8px
      }
    }
  }
}

.gas-price-button-group--small {
  display: flex;
  justify-content: stretch;
  max-width: 260px;

  &__button-fiat-price {
    font-size: 13px;
  }

  &__button-label {
    font-size: 16px;
  }

  &__label {
    font-weight: 500;
  }

  &__primary-currency {
    font-size: 12px;
  }

  &__secondary-currency {
    font-size: 12px;
  }

  &__loading-container {
    height: 78px;
  }

  .button-group__button, .button-group__button--active {
    height: 78px;
    background: white;
    color: $scorpion;
    padding-top: 9px;
    padding-left: 8.5px;

    div {
      display: flex;
      flex-flow: column;
      align-items: flex-start;
      justify-content: flex-start;
    }

    i {
      &:last-child {
        display: none;
      }
    }
  }

  .button-group__button--active {
    color: $white;
    background: $dodger-blue;

    i {
      &:last-child {
        display: flex;
        color: $curious-blue;
        margin-top: 10px
      }
    }
  }
}
