.networks-tab {
  &__content {
    margin-top: 24px;
    display: flex;
    height: 100%;
    max-width: 739px;
    justify-content: space-between;

    @media screen and (max-width: 575px) {
      margin-top: 0;
      flex-direction: column;
      overflow-x: hidden;
      align-items: center;
    }
  }

  &__body {
    padding-right: 24px;
    height: 100%;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 575px) {
      padding: 0;
    }
  }

  &__network-form {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: space-between;
    max-width: 343px;
    max-height: 465px;

    .page-container__footer {
      border-top: none;

      @media screen and (max-width: 575px) {
        width: 93%;
      }

      footer {
        padding: 10px 0;
      }
    }

    @media screen and (max-width: 575px) {
      display: flex;
      flex: auto;
      max-width: 100%;
      max-height: 100%;
      align-items: center;
      width: 100%;
      margin-top: 10px;
    }
  }

  &__network-form-row {
    @media screen and (max-width: 575px) {
      width: 93%;
    }

    &--warning {
      @include H7;

      background-color: #fefae8;
      border: 1px solid #ffd33d;
      border-radius: 5px;
      box-sizing: border-box;
      padding: 12px;
      margin: 12px 0;

      @media screen and (max-width: 575px) {
        width: 93%;
      }
    }
  }

  &__network-form-label {
    display: flex;
    align-items: center;
  }

  &__network-form-label-text {
    @include H6;

    color: #000;
  }

  &__network-form-label-tooltip {
    @include H7;

    margin-left: 5px;
  }

  &__networks-list {
    flex: 0.5 0 auto;
    max-width: 343px;

    @media screen and (max-width: 575px) {
      flex: 1;
      overflow-y: auto;
      max-width: 100vw;
      width: 100vw;
    }
  }

  &__networks-list-popup-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 23px;
    padding-bottom: 23px;
    border-top: 1px solid #d8d8d8;

    .button {
      width: 178px;
    }
  }

  &__add-network-header-button-wrapper {
    justify-content: center;

    .button {
      width: 138px;
      padding: 10px;
    }

    @media screen and (max-width: 575px) {
      display: none;
    }
  }

  &__networks-list--selection {
    @media screen and (max-width: 575px) {
      display: none;
    }
  }

  &__networks-list-item {
    display: flex;
    padding: 13px 0 13px 17px;
    position: relative;
    align-items: center;

    .color-indicator {
      &:hover {
        cursor: pointer;
      }

      @media screen and (max-width: 575px) {
        margin: 0 4px 0 10px;
      }
    }

    @media screen and (max-width: 575px) {
      padding: 20px 23px 21px 17px;
      border-bottom: 1px solid #d8d8d8;
      max-width: 351px;
    }
  }

  &__networks-list-item:last-of-type {
    @media screen and (max-width: 575px) {
      border-bottom: none;
    }
  }

  &__networks-list-name {
    @include Paragraph;

    margin-left: 11px;
    color: #6a737d;
    width: 70%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    &:hover {
      cursor: pointer;
    }

    svg {
      margin-left: 10px;
      padding-top: 3px;
    }
  }

  &__networks-list-arrow {
    display: none;

    @media screen and (max-width: 575px) {
      display: block;
      background-image: url('/images/caret-right.svg');
      width: 24px;
      height: 24px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      right: 10px;
      cursor: pointer;
      position: absolute;
      width: 24px;
      height: 24px;
      margin: 0 5px;

      [dir='rtl'] & {
        transform: rotate(180deg);
      }
    }
  }

  &__networks-list-name--selected {
    font-weight: bold;
    color: #000;
  }

  &__networks-list-name--disabled {
    font-weight: 300;
    color: #cdcdcd;
  }
}

.network-form {
  &__footer {
    display: flex;
    flex-flow: row nowrap;
    margin: 0.75rem 0;

    @media screen and (max-width: 575px) {
      width: 93%;
    }

    .btn-default {
      margin-right: 0.375rem;
    }

    .btn-secondary {
      margin-left: 0.375rem;
    }

    .btn-danger {
      margin-right: 3.75rem;
    }
  }
}
