$primary

.first-time-flow {
  height: 100vh;
  width: 100vw;
  background-color: #FFF;
}

.create-password,
.unique-image,
.tou {
  display: flex;
  flex-flow: column nowrap;
  margin: 67px 0 0 146px;
  max-width: 35rem;
}

.tou {
  max-width: 46rem;
}

.create-password__title,
.unique-image__title,
.tou__title {
  width: 280px;
  color: #1B344D;
  font-size: 40px;
  font-weight: 500;
  line-height: 51px;
  margin-bottom: 24px;
}

.create-password__confirm-input {
  margin-top: 15px;
}

.create-password__import-link {
  margin-bottom: 54px;
}

.unique-image__title,
.tou__title {
  margin-top: 24px;
}

.unique-image__body-text {
  width: 335px;
  color: #1B344D;
  font-size: 16px;
  line-height: 23px;
  font-family: Montserrat UltraLight;
}

.unique-image__body-text +
.unique-image__body-text {
  margin-top: 24px;
}

.tou__body {
  border: 1px solid #979797;
  border-radius: 8px;
  background-color: #FFFFFF;
  margin: 0 142px 0 0;
  height: 334px;
  overflow-y: auto;
  color: #757575;
  font-family: Montserrat UltraLight;
  font-size: 12px;
  line-height: 15px;
  text-align: justify;
  padding: 22px 30px;
}

.first-time-flow__input {
  width: 350px;
  font-size: 18px;
  line-height: 24px;
  padding: 15px 28px;
  border: 1px solid #CDCDCD;
  background-color: #FFFFFF;
}

.first-time-flow__input::placeholder {
  color: #9B9B9B;
  font-weight: 200;
}

.first-time-flow__button {
  height: 54px;
  width: 198px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.14);
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 35px 0 14px;
  transition: 200ms ease-in-out;
}

button.first-time-flow__button[disabled] {
  background-color: rgba(247, 134, 28, 0.9);
  opacity: .6;
}

button.first-time-flow__button:hover {
  transform: scale(1);
  background-color: rgba(247, 134, 28, 0.9);
}

.first-time-flow__link {
  color: #1B344D;
  font-size: 18px;
  line-height: 23px;
}

.breadcrumbs {
  display: flex;
  flex-flow: row nowrap;
}

.breadcrumb {
  height: 10px;
  width: 10px;
  border: 1px solid #979797;
  border-radius: 50%;
}

.breadcrumb + .breadcrumb {
  margin-left: 10px;
}

.loading-screen {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 143px;
}

.loading-screen .spinner {
  margin-bottom: 25px;
  width: 100px;
  height: 100px;
}

.loading-screen__message {
  color: #1B344D;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  font-family: Montserrat UltraLight;
}