@use "sass:color";

.network-display {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 10px;
  border-radius: 4px;
  min-height: 25px;
  user-select: none;

  &--disabled {
    cursor: not-allowed;
  }

  &--colored {
    background-color: color.adjust(rgb(125, 128, 130), $lightness: 45%);
  }

  &--mainnet {
    background-color: color.adjust($blue-lagoon, $lightness: 68%);
  }

  &--ropsten {
    background-color: color.adjust($crimson, $lightness: 45%);
  }

  &--kovan {
    background-color: color.adjust($purple, $lightness: 65%);
  }

  &--rinkeby {
    background-color: color.adjust($tulip-tree, $lightness: 35%);
  }

  &--goerli {
    background-color: color.adjust($dodger-blue, $lightness: 35%);
  }

  &--localhost {
    background-color: color.adjust($blue-lagoon, $lightness: 68%);
  }

  &.chip {
    margin: 0;
    max-width: 100%;
  }

  & .chip__label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  & .chip__left-icon {
    margin-left: 4px;
  }

  & .chip__right-icon {
    margin-right: 4px;
  }

  &__icon {
    display: block;
  }

  &--clickable {
    cursor: pointer;
  }
}
