@import 'signature-request-header/index';
@import 'signature-request-message/index';

.signature-request-siwe {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  min-width: 0;

  @media screen and (min-width: $break-large) {
    flex: initial;
  }
}


.domain-mismatch-warning {
  position: relative;
  padding: 0.25rem 1rem;
}

.checkbox-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px;
}

.checkbox {
  height: 13px;
  width: 13px;
  font-size: 16px;
  color: var(--color-error-default);
  cursor: pointer;

  &--error {
    color: var(--color-error-default) !important;
  }
}

.checkbox-label {
  @include H7;

  color: var(--color-text-default);
  margin-left: 8px;
  margin-top: 1px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
}


.no-border {
  border: none !important;
}

.popover-footer {
  padding: inherit !important;
}

.warning-footer {
  margin: inherit;
  width: --webkit-fill-available;
}

