.advanced-gas-fee-input {
  a.advanced-gas-fee-input__edit-link {
    display: inline;
    font-size: $font-size-h7;
    padding: 0;
    white-space: nowrap;
  }

  .form-field__heading-title > h6 {
    font-size: $font-size-h7;
  }

  &__border {
    padding-bottom: 16px;
    border-bottom: 1px solid $Grey-100;
  }

  &__separator {
    border-top: 1px solid $ui-grey;
    margin: 24px 0 16px 0;
  }
}
