.multichain-token-list {
  &__container-cell {
    cursor: pointer;

    &:hover,
    &:focus-within {
      background-color: var(--color-background-default-hover);
    }

    &--text-container {
      width: 100%;
      cursor: pointer;
    }
  }
}
