@import '../../../components/institutional/jwt-dropdown/';
@import '../../../components/institutional/jwt-url-form/';

.custody-select-all {
  font-size: 12px;
}

.custody-accounts-empty {
  min-height: 300px;

  &__title {
    font-size: 14px;
  }

  &__subtitle {
    font-size: 12px;
  }

  &__footer {
    border-top: 1px solid var(--color-border-muted);
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
  }
}
