.metametrics-opt-in-modal {
  .metametrics-opt-in__main {
    justify-content: center;
    margin-left: 3%;
    margin-right: 0%;
    max-height: 75vh;

    [dir='rtl'] & {
      margin-left: 0;
      margin-right: 3%;
    }

    @media screen and (max-width: 575px) {
      max-height: 100vh;
    }
  }


  .metametrics-opt-in__title {
    font-size: 38px;
  }

  .metametrics-opt-in__content {
    padding-right: 6px;

    [dir='rtl'] & {
      padding-left: 6px;
      padding-right: 0;
    }
  }

  .metametrics-opt-in__footer {
    @media screen and (max-width: 575px) {
      margin-top: 10px;
      justify-content: center;
      margin-left: 2%;
      max-height: 520px;

      [dir='rtl'] & {
        margin-left: 0;
        margin-right: 2%;
      }
    }
  }
}