.multichain-token-list-item {
  &__container-cell {
    &--clickable {
      &:hover,
      &:focus-within {
        background-color: var(--color-background-default-hover);
      }
    }
  }

  &__badge {
    align-self: center;
  }

  &__info-icon {
    flex-shrink: 0;
    margin-left: 12px;
    opacity: 1;
    cursor: pointer;
    align-self: center;
  }
}

.stakeable-link {
  cursor: pointer;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  background: none;

  &__badge {
    border-radius: 4px;
  }

  &__icon {
    margin-left: 4px;
  }
}
