.multichain-token-list-item {
  &__container-cell {
    &--clickable {
      &:hover,
      &:focus-within {
        background-color: var(--color-background-default-hover);
      }
    }
  }

  &__badge {
    align-self: center;
  }

  &__info-icon {
    flex-shrink: 0;
    margin-left: 12px;
    opacity: 1;
    cursor: pointer;
    align-self: center;
  }
}
