.copyable {
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: var(--color-background-alternative-hover);
  }

  &.clicked {
    background-color: var(--color-background-alternative-pressed);

    &:hover {
      background-color: var(--color-background-alternative-pressed);
    }
  }

  &.sensitive {
    &.visible {
      background-color: rgba(215, 56, 71, 0.2);

      &:hover {
        background-color: rgba(215, 56, 71, 0.25);
      }

      &.clicked {
        background-color: rgba(215, 56, 71, 0.3);


        &:hover {
          background-color: rgba(215, 56, 71, 0.3);
        }
      }
    }
  }

  &__icon {
    margin-top: 2px;
  }

  &__tooltip {
    display: flex;
    align-items: center;

    & > div {
      display: flex !important;
    }
  }
}
