.error-message {
  @include H7;

  min-height: 32px;
  border: 1px solid $Red-300;
  color: $ui-black;
  background: $error-2;
  border-radius: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 10px;

  &__icon {
    margin-right: 8px;
    flex: 0 0 auto;
  }

  &__text {
    overflow: auto;
  }

  &__link {
    text-decoration: none;
    color: $Blue-500;

    &:hover {
      color: $Blue-400;
    }

    &:active {
      color: $Blue-600;
    }
  }
}
