@use "design-system";

.smart-account-update {
  &__wrapper {
    font-size: 12px;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: design-system.$modal-z-index;

    @media screen and (min-width: design-system.$break-small) {
      max-width: 360px;
    }
  }

  &__inner {
    height: calc(100% - 32px);
    width: calc(100% - 32px);
    overflow: auto;
  }
}
