.confirmation-network-switch {
  &__icon {
    width: 64px;

    > img {
      position: relative;
    }

    .icon-border {
      background: var(--White-100);
    }
  }

  &__center-icon {
    position: relative;
    height: 64px;
  }

   &__line {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__broken-line {
    &::before {
      content: '';
      position: absolute;
      width: 90%;
      left: 5%;
      top: 50%;
      border: 1px solid var(--color-border-muted);
      border-style: dashed;
      z-index: -1;
    }

  }

  &__arrow {
    color: var(--color-primary-default);
    border-radius: 50%;
    background-color: var(--color-background-default);
    margin-left: 40px;
    margin-right: 40px;
  }

  [dir='rtl'] &__arrow {
    transform: rotate(180deg);
  }
}
