.slide-up-modal-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050;
}

.slide-up-modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--color-background-default);
  height: 100%;
  border: 1px solid var(--color-border-muted);
  border-radius: 10px;

  &__footer {
    border-top: 1px solid var(--color-border-muted);
  }

  &__header {
    border-bottom: 1px solid var(--color-border-muted);
  }
}

.slide-up-modal-overlay .slide-up-modal {
  max-width: 410px;
}


.slide-up-appear {
  opacity: 0;
  transform: translateY(900px);
}

.slide-up-appear-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 1000ms;
}

.slide-up-enter {
  opacity: 0;
  transform: translateY(900px);
}

.slide-up-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 1000ms;
}

.slide-up-exit {
  opacity: 1;
}

.slide-up-exit-active {
  opacity: 0;
  transform: translateY(600px);
  transition: all 1000ms;
}
