.new-account-modal {
  display: flex;
  flex-flow: column nowrap;
  background-color: $white;
  border-radius: 10px;
  box-shadow: 0 5px 16px rgba($black, 0.25);

  &__content {
    @extend %col-nowrap;

    padding: 1.5rem;
    border-bottom: 1px solid $Grey-100;

    &__header {
      @include H4;

      font-weight: bold;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__header-close {
      @include H4;

      color: #24292e;
      background: none;
    }
  }

  &__input-label {
    color: $Grey-600;
    margin-top: 1.25rem;
  }

  &__input {
    @include H4;

    background: $white;
    border: 1px solid $Grey-100;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 0.625rem 0.75rem;
    margin-top: 0.75rem;

    &::placeholder {
      color: $Grey-300;
    }
  }

  &__footer {
    @extend %row-nowrap;

    padding: 1rem;

    button + button {
      margin-left: 1rem;
    }
  }
}
