.interactive-replacement-token-modal {
  width: 100%;
  height: auto;
  background-color: #fff;
  display: flex;
  flex-flow: column;
  border-radius: 16px;
  color: #454545;

  &__title {
    @include H4;

    font-weight: 700;
    padding-top: 16px;
    text-align: center;
  }

  &__subtitle {
    font-size: 14px;
    font-weight: 500;
    font-weight: bold;
  }

  &__description {
    padding-top: 16px;
    text-align: left;
    padding-bottom: 24px;
    font-size: 14px;
  }

  &__img-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    padding-top: 20px;
  }

  &__img {
    display: block;
    width: 45px;
    text-align: center;
  }
}
