$fa-font-path: 'fonts/fontawesome';

@import '../../../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import '../../../../../node_modules/@fortawesome/fontawesome-free/scss/solid';
@import '../../../../../node_modules/@fortawesome/fontawesome-free/scss/regular';

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url('fonts/Roboto/Roboto-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url('fonts/Roboto/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url('fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url('fonts/Roboto/Roboto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url('fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'), url('fonts/Roboto/Roboto-Black.ttf') format('truetype');
}

@mixin fontScale($weight: 400, $size: 1rem) {
  font-weight: $weight;
  font-size: $size;
}

@mixin h1($weight: 400, $size: 2.5rem) {
  @include fontScale($weight, $size);
}

@mixin h2($weight: 400, $size: 2rem) {
  @include fontScale($weight, $size);
}

@mixin h3($weight: 400, $size: 1.5rem) {
  @include fontScale($weight, $size);
}

@mixin h4($weight: 400, $size: 1.125rem) {
  @include fontScale($weight, $size);
}

@mixin h5($weight: 400, $size: 1rem) {
  @include fontScale($weight, $size);
}

@mixin h6($weight: 400, $size: 0.875rem) {
  @include fontScale($weight, $size);
}

@mixin h7($weight: 400, $size: 0.75rem) {
  @include fontScale($weight, $size);
}

@mixin paragraph($weight: 400, $size: 1rem) {
  @include fontScale($weight, $size);
}
