.error-message {
  @include H7;

  min-height: 32px;
  border: 1px solid $monzo;
  color: $monzo;
  background: lighten($monzo, 56%);
  border-radius: 4px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 16px;

  &__icon {
    margin-right: 8px;
    flex: 0 0 auto;
  }

  &__text {
    overflow: auto;
  }
}
