.tab-bar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;


  &__tab {
    @include Paragraph;

    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    min-width: 0;
    flex: 0 0 auto;
    box-sizing: border-box;
    opacity: 0.5;
    transition: opacity 200ms ease-in-out;
    background-color: unset;
    text-align: start;

    @media screen and (min-width: $break-large) {
      &:hover {
        opacity: 0.4;
      }

      &:active {
        opacity: 0.6;
      }
    }

    @media screen and (max-width: $break-small) {
      @include H4;

      border-bottom: 1px solid var(--alto);
      opacity: 1;
    }

    &__content {
      padding: 16px;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      position: relative;
      z-index: 201;

      &__description {
        display: none;

        @media screen and (max-width: $break-small) {
          @include H6;

          display: block;
          font-weight: 300;
          margin-top: 8px;
          min-height: 14px;
        }
      }


      &__icon {
        margin-inline-end: 16px;
        display: flex;
      }
    }

    &__caret {
      display: none;

      @media screen and (max-width: $break-small) {
        display: block;
        background-image: url('/images/caret-right.svg');
        width: 8.27px;
        height: 13.64px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin-inline-start: auto;
        margin-top: 16px;
        margin-inline-end: 16px;

        [dir='rtl'] & {
          transform: rotate(180deg);
        }
      }
    }

    &--active {
      opacity: 1 !important;
    }
  }

  &__grow-tab {
    flex-grow: 1;
  }
}
