.transaction-detail {
  position: relative;

  .transaction-detail-edit {
    text-align: end;
    padding-top: 20px;

    button {
      @include H7;

      color: var(--color-primary-default);
      background: transparent;
      border: 0;
      padding-inline-end: 0;
      text-transform: uppercase;
    }
  }

  &-rows {
    margin-top: 10px;
  }
}
