.transaction-detail {
  position: relative;

  .transaction-detail-edit {
    text-align: end;
    padding-top: 20px;

    button {
      @include H7;

      color: $primary-1;
      background: transparent;
      border: 0;
      padding-inline-end: 0;
      text-transform: uppercase;
    }
  }

  &-edit-V2 {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    padding-top: 20px;

    button {
      @include H7;

      display: flex;
      align-items: baseline;
      color: $primary-1;
      background: transparent;
      border: 0;
      padding-inline-end: 0;
      position: relative;
      white-space: pre;
    }

    i {
      color: $primary-1;
      margin-right: 2px;
    }

    &__icon {
      @include Paragraph;
      line-height: 1;
      position: absolute;
      left: -16px;
      top: 0px;

      &-custom {
        font-size: 1.35rem;
        left: -12px;
        top: -2px;
      }
    }

    &__label {
      font-size: 12px;
      margin-right: 8px;
    }

    .info-tooltip {
      align-self: center;
      margin-left: 6px;
    }

    &__tooltip {
      p {
        color: $Grey-500;
      }

      b {
        color: $neutral-black;
        display: inline-block;
        min-width: 60%;
      }
    }
  }

  &-rows {
    margin-top: 10px;
  }
}
