.menu-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  margin-bottom: 16px;
  padding: 5px;
  border-bottom: 1px solid #e5e5e5;

  &__sidebar-button {
    font-size: 1.25rem;
    cursor: pointer;
    padding: 10px;
  }

  &__open-in-browser {
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 10px;
  }
}
