@use "design-system";

.icon-button {
  height: auto;

  &:hover:not([disabled]) {
    background-color: var(--color-background-muted-hover);
    transition: background 200ms ease;
  }

  &:hover:not([disabled]) {
    background-color: var(--color-background-muted-pressed);
  }

  &__label {
    // Needed for the truncation
    max-width: 60px;
  }
}

.icon-button-round {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: unset;
  text-align: center;
  width: 64px;

  @include design-system.H7;

  font-size: 12px;
  cursor: pointer;

  &__circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 36px;
    background: var(--color-background-muted);
    border-radius: 99px;
    margin-top: 6px;
    margin-bottom: 4px;
    margin-inline: auto;

    &:hover {
      background: var(--color-background-muted-hover);
      transition: background 200ms ease;
    }
  }

  &--disabled {
    opacity: 0.3;
    cursor: auto;
  }

  &__label-large {
    width: 60px; //for ellipsis keeping the width same as icon-button used here
  }
}
