@use "design-system";

.icon-button {
  height: auto;

  &:hover:not([disabled]) {
    background-color: var(--color-background-subsection);
    transition: background 200ms ease;
  }

  &:active:not([disabled]) {
    background-color: var(--color-background-default-pressed);
  }

  &__label {
    // Needed for the truncation
    max-width: 60px;
  }
}
