.networks-tab {
  &__content {
    margin-top: 24px;
    display: flex;
    height: 100%;
    max-width: 739px;
    justify-content: space-between;

    @media screen and (max-width: 575px) {
      margin-top: 0px;
    }
  }

  &__body {
    padding: 12px 24px;
    height: 100%;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 575px) {
      padding: 0;
    }
  }

  &__network-form {
    flex: 0.5 0 auto;
    max-width: 343px;
    max-height: 465px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .page-container__footer {
      border-top: none;

      header {
        padding: 0;
      }
    }

    @media screen and (max-width: 575px) {
      display: flex;
      flex: auto;
      max-width: 100%;
      max-height: 100%;
      align-items: center;
      width: 100%;
    }
  }

  &__network-form-row {
    @media screen and (max-width: 575px) {
      display: flex;
      flex-direction: column;
      width: 93%;
    }
  }

  &__network-form-label {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
  }

  &__networks-list {
    flex: 0.5 0 auto;
    max-width: 343px;

    @media screen and (max-width: 575px) {
      max-width: 100vw;
      width: 100vw;
      overflow-y: scroll;
    }
  }

  &__add-network-button-wrapper {
    display: none;

    @media screen and (max-width: 575px) {
      display: flex;
      padding-top: 19px;
      padding-bottom: 21px;
      justify-content: center;
      border-top: 1px solid #D8D8D8;

      .button {
        width: 178px;
      }
    }
  }

  &__add-network-header-button-wrapper {
    padding-top: 19px;
    padding-bottom: 21px;
    justify-content: center;
    border-top: 1px solid #D8D8D8;
    position: absolute;
    right: 10px;

    .button {
      width: 178px;
    }

    @media screen and (max-width: 575px) {
      display: none;
    }
  }

  &__networks-list--selection {
    @media screen and (max-width: 575px) {
      display: none;
    }
  }

  &__networks-list-item {
    display: flex;
    padding: 13px 0px 13px 17px;
    position: relative;

    .menu-icon-circle {
      &:hover {
        cursor: pointer;
      }
    }

    @media screen and (max-width: 575px) {
      padding: 20px 23px 21px 17px;
      border-bottom: 1px solid #D8D8D8;
    }
  }

  &__networks-list-item:last-of-type {
    @media screen and (max-width: 575px) {
      border-bottom: none;
    }
  }

  &__networks-list-name {
    margin-left: 11px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #6A737D;

    &:hover {
      cursor: pointer;
    }
  }

  &__networks-list-arrow {
    display: none;

    @media screen and (max-width: 575px) {
      display: block;
      background-image: url('/images/caret-right.svg');
      width: 24px;
      height: 24px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      right: 10px;
      cursor: pointer;
      position: absolute;
      width: 24px;
      height: 24px;
    }
  }

  &__networks-list-name--selected {
    font-weight: bold;
    color: #000000;
  }
}