.mm-select-button {
  --select-button-height: var(--size, 40px);

  position: relative;
  cursor: pointer;
  vertical-align: middle;
  user-select: none;
  height: min-content;
  min-height: var(--select-button-height);


  &--size-sm {
    --size: 32px;
  }

  &--size-md {
    --size: 40px;
  }

  &--size-lg {
    --size: 48px;
  }


  &--block {
    width: 100%; //TODO: Need to fix wrapper so this width will work
  }

  &:active,
  &:focus {
    border-color: var(--color-primary-default);
    box-shadow: inset 0 0 0 1px var(--color-primary-default);
  }

  &--type-danger {
    &:active,
    &:focus {
      border-color: var(--color-danger-default);
      box-shadow: inset 0 0 0 1px var(--color-danger-default);
    }
  }
}
