@use "design-system";

.name-snap-account-page {
  $height-screen-sm-max: 100%;
  $width-screen-sm-min: 85vw;
  $width-screen-md-min: 80vw;
  $width-screen-lg-min: 62vw;

  width: 100%;
  flex-flow: column nowrap;
  margin: 0 auto;

  @include design-system.screen-sm-max {
    height: $height-screen-sm-max;
  }

  @include design-system.screen-sm-min {
    width: $width-screen-sm-min;
  }

  @include design-system.screen-md-min {
    width: $width-screen-md-min;
  }

  @include design-system.screen-lg-min {
    width: $width-screen-lg-min;
  }
}

