.multichain-account-details-page {
  &__section {
    .multichain-account-details__row {
      margin-bottom: 1px;

      &:first-of-type {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
      }

      &:last-of-type {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        margin-bottom: 0;
      }
    }
  }

  &__srp-button {
    cursor: pointer;
    border: none;
    /* Matches the padding of the other rows so the arrow icons line up. */
    padding-left: 16px;
    padding-right: 8px;
  }
}
