.gas-display {
  .transaction-detail-rows {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid var(--color-border-default);
    margin: 16px 16px;

    .transaction-detail-item {
      &:not(:first-child) {
        border-top: 1px solid var(--color-border-default);
      }
    }
  }

  &__confirm-approve-content {
    &__warning {
      padding: 0 16px 16px 16px;
    }
  }

  &__link {
    text-transform: lowercase;
  }
}
