.collectibles-tab {
  &__link {
    a {
      padding: 4px;
      font-size: 0.875rem;
    }
  }

  &__loading {
    display: flex;
    height: 250px;
    align-items: center;
    justify-content: center;
    padding: 30px;
  }
}
