.asset-list-control-bar {
  padding-top: 4px;
  padding-bottom: 4px;

  &__button {
    max-width: 35%;
  }

  &__network_control {
    justify-content: space-between;
    min-width: 180px;
    border-radius: 4px;
    padding: 0px 8px !important;
    gap: 5px;
    text-transform: lowercase;

    span::first-letter {
      text-transform: uppercase;
    }
  }

  &__button:hover {
    background-color: var(--color-background-hover);
  }
}
