.asset-list-control-bar {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding-top: 16px;
  margin-left: 16px;
  margin-right: 16px;

  button:hover {
    background-color: var(--color-background-hover);
  }
}
