.snaps-list-wrapper {
  width: auto;
}

.snap-settings-card {
  margin: 8px 0;
  max-width: 344px;
}

.view-snap__remove__button {
  max-width: 175px;
}

.no-snap-container {
  display: flex;
  width: 100%;
  height: 100%;
  padding-top: 50%;
  justify-content: center;
}
