.settings-tab {
  &__error {
    padding-bottom: 20px;
    text-align: center;
    color: var(--color-error-default);
  }

  &__radio-buttons {
    display: flex;
    align-items: center;
  }

  &__radio-button {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-right: 16px;
    }
  }

  &__radio-label {
    padding-left: 4px;
  }
}
