.settings-tab {
  &__error {
    padding-bottom: 20px;
    text-align: center;
    color: var(--color-error-default);
  }

  &__rpc-save-button {
    align-self: flex-end;
    padding: 5px;
    cursor: pointer;
    width: 25%;
  }

  &__button--red {
    border-color: var(--color-error-muted);
    color: var(--color-error-default);

    &:active {
      background: var(--color-error-muted-pressed);
      border-color: var(--color-error-default);
    }

    &:hover {
      border-color: var(--color-error-default);
    }
  }

  &__radio-buttons {
    display: flex;
    align-items: center;
  }

  &__radio-button {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-right: 16px;
    }
  }

  &__radio-label {
    padding-left: 4px;
  }
}
