.edit-gas-display {
  & .actionable-message--warning,
  & .actionable-message--error {
    margin-top: 0;

    & .actionable-message__message {
      text-align: start;
    }
  }

  &__top-tooltip {
    text-align: center;

    .info-tooltip {
      display: inline-block;

      img {
        height: 10px;
        width: 10px;
      }
    }
  }

  &__dapp-acknowledgement-warning {
    margin-bottom: 20px;
  }

  button.edit-gas-display__dapp-acknowledgement-button {
    margin: 40px auto 0 auto;
    display: block;
    color: $secondary-1;
    border: 1px solid $secondary-1;
    text-transform: unset;
    width: auto;
    background: transparent;
  }

  .radio-group {
    margin: 20px auto;
  }

  &__advanced-button {
    display: block;
    margin: 0 auto;
    background: transparent;
    color: $primary-1;
    font-weight: bold;
  }

  .advanced-gas-controls {
    margin-top: 20px;
  }

  &__education {
    margin-top: 20px;

    button {
      display: block;
      margin: 0 auto;
      background: transparent;
      color: $primary-1;
    }
  }

  &__warning {
    margin-bottom: 24px;
    position: relative;
    margin-top: 4px;
  }
}
