.edit-gas-display {
  & .actionable-message--warning {
    margin-top: 0;
  }

  &__top-tooltip {
    text-align: center;

    .info-tooltip {
      display: inline-block;

      img {
        height: 10px;
        width: 10px;
      }
    }
  }

  .radio-group {
    margin: 20px auto;
  }

  &__advanced-button {
    display: block;
    margin: 0 auto;
    background: transparent;
    color: $primary-1;
    font-weight: bold;
  }

  .advanced-gas-controls {
    margin-top: 20px;
  }

  &__education {
    margin-top: 20px;

    button {
      display: block;
      margin: 0 auto;
      background: transparent;
      color: $primary-1;
    }
  }
}
