.url-icon {
  width: 34px;
  height: 34px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-radius: 50%;
  background-color: $white;
  box-shadow: 0 2px 4px 0 rgba($black, 0.24);
  margin-right: 8px;
  flex: 0 0 auto;
}
