@use "design-system";

.download-mobile-app-modal {
  &__owning-access-list {
    list-style: disc;
    padding-left: 24px;
  }

  &__qr-code-wrapper {
    border-radius: 16px;
    border: 1px solid var(--color-background-alternative);
  }
}
