.jwt-url-form {
  flex-flow: column;

  &__jwt-container {
    width: 100%;
  }

  &__jwt-apiUrlInput {
    width: 100%;
  }

  &__btn__container {
    flex-flow: column;
    width: 100%;

    & > span {
      padding-bottom: 10px;
    }
  }

  &__instruction {
    @include Paragraph;

    align-self: flex-start;
    display: block;
    font-size: 14px;
  }

  &__input {
    @include Paragraph;

    height: 54px;
    width: 100%;
    border-radius: 4px;
    background-color: var(--color-background-default);
    margin-top: 16px;
    padding: 0 10px;
  }

  &__input-jwt-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    margin-top: 16px;
  }

  &__input-jwt {
    @include Paragraph;

    height: 154px;
    width: 100%;
    border-radius: 4px;
    background-color: var(--color-background-default);
    color: var(--color-text-default);
    padding: 10px;
  }
}
