.end-of-flow {
  color: black;
  font-style: normal;

  &-logo-wrap{
    display: flex;
    align-items: center;
    margin-top: 3%;
    &>span{
      @include roundeNormal;
      @include H5;
      color:var(--white);
    }
  }
  &__text-1,
  &__text-3 {
    @include Paragraph;

    font-weight: normal;
    margin-top: 18px;
  }

  &__text-2 {
    @include Paragraph;
    @include roundeBold;
    color: var(--white);
    margin-top: 26px;
  }

  &__text-3 {
    margin-top: 2px;
    margin-bottom: 2px;
    color:var(--gray-3);
    @media screen and (max-width: $break-small) {
      @include H6;
      margin-bottom: 16px;
    }
  }

  &__text-4 {
    margin-top: 26px;
  }

  button {
    width: 312px;
    height: 40px;
  }

  &__start-over-button {
    width: 744px;
  }

  &__emoji {
    font-size: 80px;
    margin-top: 30px;
  }
}
