.app-loading-spinner {
  background-color: rgba(255, 255, 255, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;

  &__inner {
    width: 50px;
  }
}
