.app-loading-spinner {
  background-color: var(--color-overlay-alternative);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;

  &__inner {
    width: 50px;
  }
}
