@use "design-system";

.perps-tab-control-bar {
  display: flex;
  flex-direction: column;
  gap: 1px;
  padding: 16px 16px 0;
  width: 100%;

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    background-color: var(--color-background-muted);

    &--top {
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      cursor: pointer;

      &:hover {
        background-color: var(--color-background-muted-hover);
      }
    }

    &--bottom {
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
    }

    &--single {
      border-radius: 12px;
      cursor: pointer;

      &:hover {
        background-color: var(--color-background-muted-hover);
      }
    }
  }

  &__label {
    font-size: 14px;
    color: var(--color-text-alternative);
  }

  &__value-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }

  &__value {
    font-size: 14px;
    font-weight: 500;
    color: var(--color-text-default);
  }

  &__arrow {
    color: var(--color-icon-alternative);
  }

  &__pnl {
    font-size: 14px;
    font-weight: 500;

    &--profit {
      color: var(--color-success-default);
    }

    &--loss {
      color: var(--color-error-default);
    }
  }
}

