@import 'connect-hardware/index';
@import 'import-account/index';

.new-account {
  width: 375px;
  background-color: #fff;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.08);
  z-index: 25;
  height: unset;
  overflow: auto;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  @media screen and (min-width: 576px) {
    position: absolute;
  }

  &__header {
    display: flex;
    flex-flow: column;
    border-bottom: 1px solid $geyser;
  }

  &__title {
    @include H2;

    color: $tundora;
    font-weight: 500;
    margin-top: 22px;
    margin-left: 29px;
  }

  &__tabs {
    margin-left: 22px;
    display: flex;
    margin-top: 10px;

    &__tab {
      @include H4;

      height: 54px;
      padding: 15px 10px;
      color: $dusty-gray;
      text-align: center;
      cursor: pointer;
    }

    &__tab:hover {
      color: $black;
      border-bottom: none;
    }

    &__selected {
      color: $primary-blue;
      border-bottom: 3px solid $primary-blue;
      cursor: initial;
      pointer-events: none;
    }
  }
}


.new-account-create-form {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 30px;

  &__input-label {
    @include Paragraph;

    color: $scorpion;
    align-self: flex-start;
  }

  &__input {
    @include Paragraph;

    height: 54px;
    width: 315.84px;
    border: 1px solid $geyser;
    border-radius: 4px;
    background-color: $white;
    color: $scorpion;
    margin-top: 15px;
    padding: 0 20px;
  }

  &__buttons {
    margin-top: 39px;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  &__button {
    width: 150px;
    min-width: initial;
  }
}
