.onboarding-metametrics {
  @media screen and (max-width: $break-small) {
    padding: 24px;
  }

  @media screen and (min-width: $break-large) {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
  }

  &__desc {
    @media screen and (min-width: $break-large) {
      margin-inline-start: 77px;
      margin-inline-end: 73px;
    }
  }

  ul {
    margin: 24px 0 0 0;

    li {
      padding-bottom: 20px;
      display: flex;
    }
  }

  .fa {
    width: 16px;
  }

  .fa-check {
    margin-inline-end: 12px;
    color: var(--color-success-default);
  }

  .fa-times {
    margin-inline-end: 12px;
    color: var(--color-error-default);
  }

  &__terms a {
    color: var(--color-primary-default);
  }

  &__buttons {
    justify-content: space-around;
    display: flex;

    @media screen and (min-width: $break-large) {
      margin-top: 40px;
    }

    &__no-thanks {
      @media screen and (min-width: $break-large) {
        margin-inline-end: 96px;
      }
    }

    @media screen and (max-width: $break-small) {
      margin-top: 24px;
    }

    button {
      width: 200px;

      @media screen and (max-width: $break-small) {
        width: 153px;
        margin-bottom: 24px;
      }
    }
  }
}
