.tx-insight-content {
  .tx-insight-component-address {
    display: flex;
    align-items: center;
    cursor: pointer;
    overflow: visible;

    &__sender-icon {
      padding-right: 5px;
    }
  }
}
