.settings-v2-search-results {
  border-bottom: 1px solid var(--color-border-muted);
  max-height: 300px;
  overflow-y: auto;

  &__item {
    cursor: pointer;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    border-radius: 8px;

    &:hover {
      background-color: var(--color-background-default-hover);
    }
  }
}
