.collectibles-detection-notice {
  @media screen and (max-width: $break-small) {
    margin: 16px 16px 0 16px;
  }

  @media screen and (min-width: $break-large) {
    margin: 32px 48px 0 48px;
  }

  &__message {
    position: relative;
    padding: 0.75rem 0.75rem 1rem 0.75rem !important;

    &__close-button {
      background-color: transparent;

      &::after {
        position: absolute;
        content: '\00D7';
        font-size: 29px;
        font-weight: 200;
        color: var(--color-icon-default);
        background-color: transparent;
        top: 0;
        right: 12px;
        cursor: pointer;
      }
    }

    a.collectibles-detection-notice__message__link {
      @include H7;

      width: 100%;
      padding: 0;
      justify-content: flex-start;
      font-weight: bold;
    }
  }
}
