.collectibles-detection-notice {
  margin: 16px 16px 0 16px;

  &__message {
    position: relative;
    padding: 0.75rem 0.75rem 1rem 0.75rem !important;

    & &__close-button {
      color: var(--color-icon-default);
      background: none;
      position: absolute;
      cursor: pointer;
      right: 8px;
    }

    a.collectibles-detection-notice__message__link {
      @include H7;

      width: 100%;
      padding: 0;
      justify-content: flex-start;
      font-weight: bold;
    }
  }
}
