.drag-and-drop {
  &__container {
    display: inline-block;
    position: relative;
  }

  &__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
  }

  &__text-container {
    position: absolute;
    top: calc(50% - 8px);
    right: 0;
    left: 0;
    text-align: center;
    color: grey;
    font-size: 36;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
