.connected-sites {
  h2 {
    text-overflow: ellipsis;
  }

  &__confirmation {
    flex-direction: column;
    button:first-child {
      margin-right: 24px;
    }
  }

  &__footer-row {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  &__footer-row + &__footer-row {
    margin-top: 15px;
  }

  &__text-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
    line-height: 20px;
    color: #2f9ae0;
    cursor: pointer;
  }
}
