.connected-sites {
  width: 408px;
  background-color: #fff;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.08);
  z-index: 25;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-flow: column;
  border-radius: 8px;
  overflow-y: auto;

  @media screen and (min-width: 576px) {
    max-height: 82vh;
    min-height: 570px;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    margin-right: auto;
    margin-left: auto;
  }

  &__header {
    display: flex;
    height: 67px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom: 1px solid #C4C4C4;
  }

  &__title {
    @extend %header--24;
  }
}