@use "design-system";

.global-menu-drawer {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: design-system.$modal-z-index;
  pointer-events: none;

  &--open {
    pointer-events: auto;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-overlay-default);
    opacity: 0;
    transition: opacity 250ms ease-in-out;

    .global-menu-drawer--open & {
      opacity: 1;
    }
  }

  &__content {
    position: absolute;
    top: 0;
    right: 0;
    width: 400px;
    max-width: 100%;
    height: 100%;
    background-color: var(--color-background-default);
    box-shadow: var(--shadow-size-lg) var(--color-shadow-default);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;

    .global-menu-drawer--open & {
      transform: translateX(0);
    }

    // Don't animate for users who have reduced motion preferences
    @media (prefers-reduced-motion: reduce) {
      transition: none;
    }
  }

  &__inner {
    width: 100%;
    max-width: 400px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
  }
}
