.add-network-form {
  &__body {
    padding-right: 24px;
  }

  &__subheader {
    @include H4;

    padding: 16px 4px;
    border-bottom: 1px solid $alto;
    height: 72px;
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
  }

  &__subheader--break {
    margin-inline-start: 10px;
  }

  &__sub-header-text {
    @include H4;

    color: $ui-4;
    margin-right: 10px;
  }

  &__content {
    justify-content: space-between;
    display: flex;
    flex-direction: column;

    &--warning {
      @include H7;

      background-color: $Yellow-000;
      border: 1px solid $alert-1;
      border-radius: 5px;
      box-sizing: border-box;
      padding: 12px;
      margin: 12px 0;
    }
  }
}
