.add-network-form {
  &__body {
    padding-right: 24px;
  }

  &__subheader {
    @include H4;

    padding: 16px 4px;
    border-bottom: 1px solid $alto;
    height: 72px;
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
  }

  &__subheader--break {
    margin-inline-start: 10px;
  }

  &__sub-header-text {
    @include H4;

    color: $ui-4;
    margin-right: 10px;
  }

  &__content {
    justify-content: space-between;
    display: flex;
    flex-direction: column;

    &--warning {
      @include H7;

      background-color: $Yellow-000;
      border: 1px solid $alert-1;
      border-radius: 5px;
      box-sizing: border-box;
      padding: 12px;
      margin: 12px 0;
    }
  }

  &__form-column {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
  }

  &__form-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__network-form-row {
    padding-bottom: 30px;
    width: 48%;
  }

  &__footer {
    display: flex;
    flex-flow: row;
    padding: 0 0 0.75rem 0;
    width: 60%;

    &-cancel-button {
      margin-right: 1.25rem;
    }

    &-submit-button {
      margin-left: 1.25rem;
    }
  }
}
