.add-network-form {
  &__body {
    padding-right: 24px;
  }

  &__subheader {
    @include H4;

    padding: 16px 4px;
    border-bottom: 1px solid $alto;
    height: 72px;
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
  }

  &__subheader--break {
    margin-inline-start: 4px;
  }

  &__sub-header {
    height: 72px;
    border-bottom: 1px solid #d8d8d8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
  }

  &__sub-header-text {
    @include H4;

    color: $ui-4;
  }

  &__content {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
  }

  &__form-row {
    display: flex;
    flex-direction: row;
    margin-top: 12px;
  }

  &__form-column {
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: space-between;
    max-height: 465px;

    &__left {
      padding-right: 21px;
    }

    &__right {
      padding-left: 21px;
    }
  }

  &__network-form-row {
    padding-bottom: 30px;

    &--warning {
      @include H7;

      background-color: #fefae8;
      border: 1px solid #ffd33d;
      border-radius: 5px;
      box-sizing: border-box;
      padding: 12px;
      margin: 12px 0;
    }
  }

  &__network-form-label {
    display: flex;
    align-items: center;
  }

  &__network-form-label-text {
    @include H6;

    color: #000;
  }

  &__network-form-label-tooltip {
    @include H7;

    margin-left: 5px;
  }

  &__footer {
    display: flex;
    flex-flow: row;
    padding: 0 0 0.75rem 0;
    width: 60%;

    & &-cancel-button {
      margin-right: 1.25rem;
    }

    & &-submit-button {
      margin-left: 1.25rem;
    }
  }
}
