.permissions-redirect {
  display: flex;
  height: 100%;
  justify-content: center;

  &__result {
    position: absolute;
    top: 30%;
    text-align: center;
    color: var(--color-text-default);
  }

  &__icons {
    display: flex;
    position: relative;
  }

  .icon-border {
    max-width: 64px;
    flex: 0 0 64px;
  }

  &__center-icon {
    position: relative;
    height: 64px;
  }

  &__icon {
    width: 64px;
  }

  &__check {
    width: 32px;
    height: 32px;
    color: var(--color-success-inverse);
    background-color: var(--color-success-default);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;

    &::before {
      content: '';
      position: absolute;
      left: 18%;
      top: 25%;
    }
  }

  &__dashed-line {
    width: 130px;
    border-bottom: 1px solid var(--color-border-muted);
    border-style: dashed;
  }
}
