.snap-confirm {
  padding: 16px 32px;
  border-top: 1px solid var(--color-border-muted);
  border-bottom: 1px solid var(--color-border-muted);
  margin: 24px 0 16px 0;

  .text {
    font-family: monospace;
  }
}
