$fa-font-path: '@fortawesome/fontawesome-free/webfonts';

@forward '@fortawesome/fontawesome-free/scss/fontawesome';
@forward '@fortawesome/fontawesome-free/scss/brands' as fabrand-*;
@forward '@fortawesome/fontawesome-free/scss/solid' as fasolid-*;
@forward '@fortawesome/fontawesome-free/scss/regular' as faregular-*;

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url('../../../app/fonts/Roboto/Roboto-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url('../../../app/fonts/Roboto/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url('../../../app/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url('../../../app/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url('../../../app/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'), url('../../../app/fonts/Roboto/Roboto-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Euclid Circular B';
  font-style: normal;
  font-weight: 400;
  src: url('../../../app/fonts/Euclid/EuclidCircularB-Regular-WebXL.ttf') format('truetype');
}

@font-face {
  font-family: 'Euclid Circular B';
  font-style: italic;
  font-weight: 400;
  src: url('../../../app/fonts/Euclid/EuclidCircularB-RegularItalic-WebXL.ttf') format('truetype');
}

@font-face {
  font-family: 'Euclid Circular B';
  font-style: normal;
  font-weight: 500;
  src: url('../../../app/fonts/Euclid/EuclidCircularB-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Euclid Circular B';
  font-style: normal;
  font-weight: 700;
  src: url('../../../app/fonts/Euclid/EuclidCircularB-Bold-WebXL.ttf') format('truetype');
}
