/*
Disabling Stylelint's hex color rule so this file is ignored.
Before adding a color here make sure that there isn't a design token available.
*/
/* stylelint-disable color-no-hex */
:root {
  // Accents
  // Everything below this line is part of the new color system
  --mainnet: #29b6af;
  --inherit: inherit;
  --transparent: transparent;
  --color-network-linea-goerli-default: #61dfff;
  --color-network-linea-goerli-inverse: #fcfcfc;
  --color-network-linea-mainnet-default: #121212;
  --color-network-linea-mainnet-inverse: #fcfcfc;
  // DO NOT CHANGE
  // Required for the QR reader to work properly
  --qr-code-white-background: #fff;
}
