:root {
  // Accents
  // Everything below this line is part of the new color system
  --mainnet: #29b6af;
  --inherit: inherit;
  --transparent: transparent;
  // DO NOT CHANGE
  // Required for the QR reader to work properly
  --qr-code-white-background: #fff;
}
