.asset-picker-amount {
  &__box {
    display: flex;
    align-items: center;
    margin-top: 3px;
    margin-bottom: 1px;
    background-color: var(--color-background-default);
    border: 2px solid var(--color-primary-default);
    padding: 0px 12px 0px 12px;
  }

  &__swap-icon:hover {
    cursor: pointer;
  }

  &__balance {
    color: var(--color-text-alternative);
  }

  &__input {
    padding:0px 0px 0px 8px;
    width:100%;
    border:none;
  }
}
