.asset-picker-amount {
  &__swap-button {
    background: none;
  }

  &__input {
    & > .unit-input__inputs > div{
      margin-left: auto;
    }
    float: right;
    flex-grow: 1;
    border: none;
  }
}
