.notifications-tag-counter {
  padding-left: 6px;
  padding-right: 6px;

  &__text {
    min-width: 13px;
  }

  &__unread-dot {
    min-width: 16.5px;
    padding-left: 3px;
    padding-right: 3px;
    line-height: 1.4;
  }
}
