.transaction-insight-dropdown {
  cursor: pointer;
  max-width: 150px;

  select {
    font-size: 0.75rem;
    border: none;
    overflow: hidden !important;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
  }

  select:focus {
    outline: none;
  }

  .dropdown__icon-caret-down {
    right: 4px;
    cursor: pointer;
  }

  .dropdown__select {
    padding: 8px 20px 0 4px;
  }
}
