.multichain-account-picker {
  &:not([disabled]):hover,
  &:not([disabled]):focus {
    box-shadow: none;
    background: var(--color-background-default-hover);
  }

  &-container {
    overflow: hidden;
  }
}


.custody-logo {
  height: 20px;
  background-color: var(--color-background-default);
  border-radius: 3px;
  padding: 1px;
}