.multichain-account-picker {
  &:not([disabled]):hover,
  &:not([disabled]):focus {
    box-shadow: none;
    background: var(--color-background-default-hover);
  }

  &-container {
    overflow: hidden;
  }
}
