.multichain-account-picker {
  /*
  &--full {
    > span {
      display: flex;
      width: 100%;
    }
  }
  */

  &:hover,
  &:focus {
    box-shadow: none;
    background: var(--color-background-default-hover);
  }

  &-container {
    overflow: hidden;
  }
}
