.mm-button-link {
  &:hover:not(&--disabled)::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: currentColor;
  }

  &.mm-button-base--size-sm:not(&--disabled)::after {
    bottom: 4px;
  }

  &.mm-button-base--size-md:not(&--disabled)::after {
    bottom: 8px;
  }

  &.mm-button-base--size-lg:not(&--disabled)::after {
    bottom: 12px;
  }

  &:active {
    color: var(--color-primary-alternative);
  }

  &--type-danger {
    &:hover {
      color: var(--color-error-default);
    }

    &:active {
      color: var(--color-error-alternative);
    }
  }

  &--type-danger#{&}--disabled:active {
    color: var(--color-error-default);
  }

  &--size-auto {
    height: auto;
  }

  &--size-inherit {
    height: auto;
    background-color: transparent;
    vertical-align: top;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;

    &:hover {
      text-decoration-thickness: auto;
    }
  }
}
