@import 'welcome/index';

@import 'select-action/index';

@import 'seed-phrase/index';

@import 'end-of-flow/index';

@import 'metametrics-opt-in/index';


.first-time-flow {
  width: 100%;
  background-color: $white;
  display: flex;
  justify-content: center;

  &__wrapper {
    @media screen and (min-width: $break-large) {
      max-width: 742px;
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-top: 2%;
    }

    .app-header__metafox-logo {
      margin-bottom: 40px;

      @media screen and (max-width: $break-small) {
        margin-bottom: 0px;
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__create-back {
    margin-bottom: 16px;
  }

  &__header {
    font-size: 2.5rem;
    margin-bottom: 24px;
    color: black;
  }

  &__subheader {
    margin-bottom: 16px;
  }

  &__input {
    max-width: 350px;
  }

  &__textarea-wrapper {
    margin-bottom: 8px;
    display: inline-flex;
    padding: 0;
    position: relative;
    min-width: 0;
    flex-direction: column;
    max-width: 350px;
  }

  &__textarea-label {
    margin-bottom: 9px;
    color: #1B344D;
    font-size: 18px;
  }

  &__textarea {
    /*rtl:ignore*/
    direction: ltr;
    font-size: 1rem;
    font-family: Roboto;
    height: 190px;
    border: 1px solid #CDCDCD;
    border-radius: 6px;
    background-color: #FFFFFF;
    padding: 16px;
    margin-top: 8px;
  }

  &__breadcrumbs {
    margin: 36px 0;
  }

  &__unique-image {
    margin-bottom: 20px;
  }

  &__markdown {
    border: 1px solid #979797;
    border-radius: 8px;
    background-color: $white;
    height: 200px;
    overflow-y: auto;
    color: #757575;
    font-size: .75rem;
    line-height: 15px;
    text-align: justify;
    margin: 0;
    padding: 16px 20px;
    height: 30vh;
  }

  &__text-block {
    margin-bottom: 24px;
    color: black;

    @media screen and (max-width: $break-small) {
      margin-bottom: 16px;
      font-size: .875rem;
    }
  }

  &__button {
    margin: 35px 0 14px;
    width: 140px;
    height: 44px;
  }

  &__checkbox-container {
    display: flex;
    align-items: center;
    margin-top: 24px;
  }

  &__checkbox {
    background: #FFFFFF;
    border: 1px solid #CDCDCD;
    box-sizing: border-box;
    height: 34px;
    width: 34px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      border: 1.5px solid #2f9ae0;
    }

    .fa-check {
      color: #2f9ae0
    }
  }

  &__checkbox-label {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 18px;
    color: #939090;
    margin-left: 18px;
  }

  &__link-text {
    color: $curious-blue;
  }
}
