@use "design-system";

.new-network-list-menu {
  // max-height: 100%;
  overflow: auto;
}

.sticky-button-container {
  position: sticky;
  bottom: 0;
}

.new-network-list {
  &__list-of-networks {
    @include design-system.screen-sm-min {
      width: 100%;
    }
  }

  &__networks-container {
    @include design-system.screen-sm-max {
      padding: 0;
    }
  }

  &__test-networks-container {
    padding-inline-end: 24px;

    @include design-system.screen-sm-max {
      padding: 0;
    }
  }
}

.new-network-modal {
  width: 300px;
}



