.snap-footer-button {
  &.mm-button-primary {
    color: var(--color-text-alternative);
    background-color: var(--color-icon-default);
  }

  &.mm-button-secondary {
    color: var(--color-icon-default);

    &:hover:not(&--disabled) {
      color: var(--color-background-default);
      background-color: var(--color-icon-default);
    }
  }
}
