.network-list-item {
  position: relative;
  width: 100%;

  &:not(.network-list-item--selected) {
    &:hover,
    &:focus-within {
      background: var(--color-background-default-hover);
    }
  }

  &:hover,
  &:focus,
  &:focus-within {
    .network-list-item__delete {
      visibility: visible;
    }
  }

  &__network-name {
    width: 100%;
    flex: 1;
    overflow: hidden;
    text-align: start;
  }

  &__selected-indicator {
    width: 4px;
    height: calc(100% - 8px);
    position: absolute;
    top: 4px;
    left: 4px;
  }

  &__delete {
    visibility: hidden;
  }
}
