.multichain-network-list-item {
  position: relative;
  cursor: pointer;

  &:not(.multichain-network-list-item--selected, .multichain-network-list-item--disabled, .multichain-network-list-item--not-selectable) {
    &:hover {
      background: var(--color-background-default-hover);
    }
  }

  &--not-selectable {
    cursor: default;
  }

  &--disabled {
    opacity: 0.4;

    .mm-avatar-network {
      filter: grayscale(1);
    }
  }

  a:hover,
  a:focus {
    color: inherit;
  }

  &:hover,
  &:focus,
  &:focus-within {
    .multichain-network-list-item__delete {
      visibility: visible;
    }
  }

  &__tooltip {
    display: inline;
  }

  &__selected-indicator {
    width: 4px;
    height: calc(100% - 8px);
    position: absolute;
    top: 4px;
    left: 4px;
  }

  &__delete {
    visibility: hidden;
  }

  &__rpc-endpoint {
    max-width: 100%;
  }

  .mm-button-icon {
    --button-icon-size: 20px;
  }
}
