.accreditation {
  display: flex;
  font-size: 0.75rem;
  display: flex;
  margin-top: 10px;

  &__tooltip {
    padding-right: 5px;
  }

  &__info {
    color: $ui-black;
    display: flex;
    flex-wrap: wrap;
  }

  &__content {
    padding: 0 4px;
    text-transform: capitalize;

    &--link.btn-link {
      @include H7;

      padding: 0;
    }
  }
}
