.transaction-list {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 8px;

  &__completed-transactions {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__header {
    border-bottom: 1px solid $Grey-100;

    &__tabs {
      display: flex; 
    }

    &__tab,
    &__tab--selected {
      flex: 0 0 auto;
      font-size: 14px;
      line-height: 20px;
      color: $Grey-400;
      padding: 8px 0 8px 20px;
      cursor: pointer;

      &:hover {
        font-weight: bold;
      }

      @media screen and (max-width: $break-small) {
        padding: 8px 0 8px 16px;
      }
    }

    &__tab--selected {
      font-weight: bold;
      color: $Blue-400;
      cursor: auto;
    }
  }

  &__transactions {
    flex: 1;
  }

  &__pending-transactions {
    margin-bottom: 16px;
  }

  &__empty {
    flex: 1;
    display: grid;
    grid-template-rows: auto;
    padding-top: 8px;
  }

  &__empty-text {
    grid-row-start: 2;
    display: flex;
    justify-content: center;
    color: $silver;
  }
}
