@import 'recovery-phrase/index.scss';
@import 'create-password/index.scss';
@import 'creation-successful/index.scss';

.onboarding-flow {
  width: 100%;
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__wrapper {
    margin-top: 40px;
    padding: 32px;
    border: 1px solid $Grey-100;
    border-radius: 20px;
  }

  &__twitter-button {
    margin-bottom: 40px;
    vertical-align: middle;

    & img {
      margin-left: 5px;
    }
  }

  .progressbar {
    margin: 32px 0;
  }
}
