@import "design-system";

.snaps-authorship-pill {
  display: inline-block;

  .chip {
    padding-right: 8px;
  }

  &:hover,
  &:focus {
    .chip {
      background-color: var(--color-background-alternative);
    }
  }
}

.snaps-authorship-icon {
  color: var(--color-icon-alternative);
}

.snaps-authorship-version {
  border-radius: 100px;
  line-height: 100%;
}

.snaps-authorship-version > span {
  vertical-align: middle;
}
