@import "design-system";

.snaps-authorship-pill {
  width: 100%;
  display: inline-flex;
  justify-content: center;

  .chip {
    padding-right: 8px;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .chip__label {
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &:hover,
  &:focus {
    .chip {
      background-color: var(--color-background-alternative);
    }
  }
}

.snaps-authorship-icon {
  color: var(--color-icon-alternative);
}

.snaps-authorship-version {
  border-radius: 100px;
  line-height: 100%;
}

.snaps-authorship-version > span {
  vertical-align: middle;
}
