.multichain-send-page {
  width: 408px;

  &__account-picker {
    height: 62px;
  }

  &__recipient {
    .tabs__list {
      border-bottom: 0;
      background-color: transparent;
      position: relative;

      .tab {
        width: 50%;
      }
    }
  }
}
