.accs-dd-menu-item-selected {
	width: 4px;
	height: 26px;
	background: #60db97;
	position: absolute;
	left: -25px;
}
.accs-dd-menu-item-account-name {
	margin-left: 10px;
	font-size: 16px;
	max-width: 95px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.acc-dd-menu-item-text {
	font-size: 16px;
	margin-bottom: 5px;
    color: #60db97;
}
.accounts-selector-additional-style {
	background: url(images/switch_acc.svg) white center center no-repeat;
  	height: 25px;
  	width: 25px;
  	margin-right: 3px;
}