.hw-tutorial {
  width: 375px;
  border-top: 1px solid #D2D8DD;
  border-bottom: 1px solid #D2D8DD;
  overflow: visible;
  display: block;
  padding: 15px 30px;
}

.hw-connect {
  width: 100%;
}
.hw-connect__header__title {
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 22px;
}
.hw-connect__header__msg {
  font-size: 14px;
  color: #9b9b9b;
  margin-top: 10px;
  margin-bottom: 20px;
}
.hw-connect__btn-wrapper {
  flex: 1;
  flex-direction: row;
  display: flex;
}
.hw-connect__connect-btn {
  color: #fff;
  border: none;
  width: 100%;
  min-height: 54px;
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 5px;
  display: flex;
  flex: 1;
  justify-content: center;
  text-transform: uppercase;
}
.hw-connect__connect-btn.disabled {
  cursor: not-allowed;
  opacity: .5;
}
.hw-connect__btn {
  background: #fbfbfb;
  border: 1px solid #e5e5e5;
  height: 100px;
  width: 150px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.hw-connect__btn__img {
  width: 95px;
}
.hw-connect__btn.selected {
  border: 2px solid #60DB97;
  width: 149px;
}
.hw-connect__btn:first-child {
  margin-right: 15px;
}
.hw-connect__btn:last-child {

}
.hw-connect__hdPath {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  margin-bottom: 30px;
  font-size: 14px;
}
.hw-connect__hdPath__title {
  display: flex;
  margin-top: 10px;
  margin-right: 15px;
}
.hw-connect__hdPath__select {
  display: flex;
  flex: 1;
}
.hw-connect__learn-more {
  margin-top: 15px;
  font-size: 14px;
  color: #5B5D67;
  line-height: 19px;
  text-align: center;
  cursor: pointer;
}
.hw-connect__learn-more__arrow {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  display: block;
  text-align: center;
  height: 30px;
  margin: 0px auto 10px;
}
.hw-connect__title {
  padding-top: 10px;
  font-weight: 400;
  font-size: 18px;
}
.hw-connect__unlock-title {
  padding-top: 10px;
  font-weight: 400;
  font-size: 22px;
  margin-bottom: 15px;
}
.hw-connect__msg {
  font-size: 14px;
  color: #9b9b9b;
  margin-top: 10px;
  margin-bottom: 15px;
}
.hw-connect__link {
  color: #2f9ae0;
}
.hw-connect__footer__title {
  padding-top: 15px;
  padding-bottom: 12px;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}
.hw-connect__footer__msg {
  font-size: 14px;
  color: #9b9b9b;
  margin-top: 12px;
  margin-bottom: 27px;
  width: 100%;
  display: block;
  margin-left: 20px;
}
.hw-connect__footer__link {
  color: #2f9ae0;
  margin-left: 5px;
}
.hw-connect__get-hw {
  width: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
}
.hw-connect__get-hw__msg {
  font-size: 14px;
  color: #9b9b9b;
}
.hw-connect__get-hw__link {
  font-size: 14px;
  text-align: center;
  color: #60DB97;
  cursor: pointer;
}
.hw-connect__step-asset {
  margin: 0px auto 20px;
  display: flex;
}

.hw-account-list {
display: flex;
flex: 1;
flex-flow: column;
width: 100%;
}
.hw-account-list__title_wrapper {
  display: flex;
  flex-direction: row;
  flex: 1;
}
.hw-account-list__title {
  margin-bottom: 23px;
  align-self: flex-start;
  color: #5d5d5d;
  font-family: Nunito Regular;
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  display: flex;
  flex: 1;
}
.hw-account-list__device {
  margin-bottom: 23px;
  align-self: flex-end;
  color: #5d5d5d;
  font-family: Nunito Regular;
  font-size: 16px;
  line-height: 21px;
  font-weight: normal;
  display: flex;
}
.hw-account-list__item {
  font-size: 15px;
  flex-direction: row;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
}
.hw-account-list__item:nth-of-type(even) {
  background-color: #fbfbfb;
}
.hw-account-list__item:nth-of-type(odd) {
  background: rgba(0, 0, 0, 0.03);
}
.hw-account-list__item:hover {
  background-color: rgba(0, 0, 0, 0.06);
}
.hw-account-list__item__index {
  display: flex;
  width: 24px;
}
.hw-account-list__item__radio {
  display: flex;
  flex: 1;
}
.hw-account-list__item__radio input {
  padding: 10px;
  margin-top: 13px;
}
.hw-account-list__item__label {
  display: flex;
  flex: 1;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.hw-account-list__item__balance {
  display: flex;
  flex: 1;
  justify-content: center;
}
.hw-account-list__item__link {
  display: flex;
  margin-top: 13px;
}
.hw-account-list__item__link img {
  width: 15px;
  height: 15px;
}
.hw-list-pagination {
  margin-top: 10px;
}
.hw-list-pagination__button {
  height: 19px;
  float: right;
  color: #6729a8;
  font-size: 14px;
  line-height: 19px;
  border: none;
  min-width: 46px;
  padding: 0px;
  font-family: Nunito Regular;
  background: transparent;
}
.hw-forget-device-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 22px;
}
.hw-forget-device-container a {
  color: #60db97;
  font-size: 14px;
  cursor: pointer;
}
.new-account-connect-form {
  /*display: flex;*/
  flex-flow: column;
  align-items: center;
  /*padding: 15px 30px 0;*/
  height: 710px;
  /*overflow: auto;*/
}
.new-account-connect-form.unsupported-browser {
  height: 210px;
}
.new-account-connect-form.account-list {
  height: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.new-account-connect-form__buttons {
  margin-top: 39px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.new-account-connect-form__button {
  width: 150px;
  min-width: initial;
}
.new-account-connect-form .btn-primary {
  background-color: #259DE5;
  color: #FFFFFF;
  border: none;
  width: 100%;
  min-height: 54px;
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 20px;
}
.new-account-connect-form__button.unlock {
  width: 50%;
}
.new-account-connect-form__button.btn-primary--disabled {
  cursor: not-allowed;
  opacity: .5;
}