.owner-cell-container {
  padding: 5px;
  cursor: pointer;
  border: 3px solid white;
  border-radius: 5px;
}

.owner-cell-container-selected {
  padding: 5px;
  cursor: pointer;
  border: 3px solid #60db97;
  border-radius: 5px;
}