.export-private-key-modal {
  &__body-title {
    @include H4;

    margin-top: 16px;
    margin-bottom: 16px;
  }

  &__divider {
    width: 100%;
    height: 1px;
    margin: 19px 0 8px 0;
    background-color: var(--color-border-default);
  }

  &__account-name {
    @include H4;

    margin-top: 9px;
  }

  &__password {
    display: flex;
    flex-direction: column;
  }

  &__password-label,
  &__password--error {
    @include H6;

    color: var(--color-text-default);
    margin-bottom: 10px;
  }

  &__password--error {
    color: var(--color-error-default);
    margin-bottom: 0;
  }

  &__password-input {
    @include Paragraph;

    padding: 10px 0 13px 17px;
    width: 291px;
    height: 44px;
    background: var(--color-background-default);
    color: var(--color-text-default);
    border: 1px solid var(--color-border-default);
  }

  &__password::-webkit-input-placeholder {
    color: var(--color-text-muted);
  }

  &__password--warning {
    @include H7;

    border-radius: 8px;
    background-color: var(--color-error-muted);
    font-weight: 500;
    color: var(--color-text-default);
    border: 1px solid var(--color-error-default);
    width: 292px;
    padding: 9px 15px;
    margin-top: 18px;
  }

  &__private-key-display {
    @include Paragraph;

    height: 80px;
    width: 291px;
    border: 1px solid var(--color-border-default);
    border-radius: 2px;
    color: var(--color-error-default);
    padding: 9px 13px 8px;
    overflow: hidden;
    overflow-wrap: break-word;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 0 25px;
  }

  &__button {
    margin-top: 17px;
    width: 141px;
    min-width: initial;
  }

  &__button--cancel {
    margin-right: 15px;
  }

  .ellip-address-wrapper {
    border: 1px solid var(--color-border-default);
    padding: 5px 10px;
    margin-top: 7px;
    max-width: 286px;
    direction: ltr;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

