@use "design-system";

/*
  Buttons
 */

.button {
  @include design-system.H6;

  font-weight: 500;
  padding: 0.75rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 12px;
  width: 100%;
  transition: border-color 0.2s ease, background-color 0.2s ease;

  &:focus-visible {
    outline: 2px solid var(--color-primary-default);
    outline-offset: 2px;
    box-shadow: none;
  }

  &--disabled,
  &[disabled] {
    cursor: auto;
    opacity: var(--opacity-disabled);
    pointer-events: none;
  }

  &__icon {
    display: flex;
    align-items: center;
    margin-right: 4px;
  }
}

.btn-secondary {
  color: var(--color-text-default);
  background-color: var(--color-background-muted);

  &:hover {
    background-color: var(--color-background-muted-hover);
  }

  &:active {
    background-color: var(--color-background-muted-pressed);
  }
}

.btn-warning {
  color: var(--color-text-default);
  background-color: var(--color-background-default);

  &:hover {
    border: 1px solid var(--color-warning-default);
  }

  &:active {
    background: var(--color-warning-muted);
    border: 1px solid var(--color-warning-default);
  }

  &--disabled,
  &[disabled] {
    opacity: 1;
    color: var(--color-text-muted);
  }
}

.btn-danger {
  color: var(--color-error-default);
  background-color: var(--color-background-muted);

  &:hover {
    background-color: var(--color-background-muted-hover);
  }

  &:active {
    background-color: var(--color-background-muted-pressed);
  }
}

.btn-danger-primary {
  color: var(--color-error-inverse);
  background-color: var(--color-error-default);

  &:hover {
    background-color: var(--color-error-default);
    opacity: 0.8;
  }

  &:active {
    color: var(--color-error-inverse);
  }
}

.btn-default,
.btn-primary {
  color: var(--color-icon-inverse);
  background-color: var(--color-icon-default);

  &:hover {
    color: var(--color-icon-inverse);
    background-color: var(--color-icon-default);
    opacity: 0.8;
    transition: background-color 200ms ease;
  }

  &:active {
    color: var(--color-icon-inverse);
    background-color: var(--color-icon-default);
    transform: scale(0.98);
  }

  &--disabled,
  &[disabled] {
    opacity: var(--opacity-disabled);
  }
}

.btn-link {
  @include design-system.H4;

  color: var(--color-primary-default);
  cursor: pointer;
  background-color: transparent;

  &:hover {
    color: var(--color-primary-alternative);
  }

  &:active {
    color: var(--color-primary-alternative);
  }

  &--disabled,
  &[disabled] {
    cursor: auto;
    pointer-events: none;
  }
}

.btn--large {
  min-height: 54px;
}

/**
  All Buttons styles are deviations from design guide
 */

.btn-raised {
  color: var(--color-primary-default);
  background-color: var(--color-background-default);
  box-shadow: var(--shadow-size-sm) var(--color-shadow-default);
  padding: 6px;
  height: initial;
  min-height: initial;
  width: initial;
  min-width: initial;
}

button[disabled],
input[type="submit"][disabled] {
  cursor: not-allowed;
  opacity: var(--opacity-disabled);
}

.btn--rounded {
  border-radius: 100px;

  &.btn-secondary {
    background-color: var(--color-background-muted);

    &:hover {
      background-color: var(--color-background-muted-hover);
    }

    &:active {
      background-color: var(--color-background-muted-pressed);
    }
  }

  &.btn-default {
    &:active {
      border-color: var(--color-text-alternative);
    }
  }

  &.btn-danger {
    &:hover {
      background-color: var(--color-error-default);
      opacity: 0.8;
    }

    &:active {
      background-color: var(--color-error-default);
    }
  }

  &.btn-warning {
    &--disabled,
    &[disabled] {
      border-color: var(--color-warning-default);
      color: var(--color-text-muted);
    }

    &:active {
      border-color: var(--color-warning-default);
    }
  }

  &.btn-primary {
    background-color: var(--color-icon-default);
    color: var(--color-primary-inverse);

    &:hover {
      background-color: var(--color-icon-default);
      opacity: 0.8;
    }

    &:active {
      background-color: var(--color-icon-default);
    }
  }

  &.btn-danger-primary {
    background-color: var(--color-error-default);

    &:hover {
      background-color: var(--color-error-default);
      opacity: 0.8;
    }

    &:active {
      background-color: var(--color-error-default);
    }
  }
}

.btn--inline {
  display: inline;
  padding: 0;
  font-size: inherit;
  width: auto;
  color: var(--color-primary-default);
  cursor: pointer;
  background-color: transparent;

  &:hover {
    color: var(--color-primary-alternative);
  }

  &:active {
    color: var(--color-primary-alternative);
  }

  &--disabled,
  &[disabled] {
    cursor: auto;
    pointer-events: none;
  }
}
