/*
  Buttons
 */

.button {
  --hover-secondary: #b0d7f2;
  --hover-default: #b3b3b3;
  --hover-confirm: #0372c3;
  --hover-red: #feb6bf;
  --hover-red-primary: #c72837;
  --hover-orange: #ffd3b5;
  --warning-light-orange: #f8b588;
  --primary-gradient:linear-gradient(91.07deg, #227BFF 4.72%, #451DFF 73%);
  --primary-gradient-active:linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(91.07deg, #227BFF 4.72%, #451DFF 73%);
  --secondary-gradient: linear-gradient(111.99deg, #451DFF 9.4%, #FF1D7C 92.26%);
  --secondary-gradient-active:linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(111.99deg, #451DFF 9.4%, #FF1D7C 92.26%);
  
  @include H6;

  font-weight: 500;
  padding: 0.75rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 6px;
  width: 100%;
  transition: border-color 0.3s ease, background-color 0.3s ease;

  &--disabled,
  &[disabled] {
    cursor: auto;
    opacity: 0.5;
    pointer-events: none;
  }

  &__icon {
    display: flex;
    align-items: center;
    margin-right: 4px;
  }
}

.btn-secondary {
  color: var(--Blue-500);
  border: 1px solid var(--hover-secondary);
  background-color: var(--white);

  &:hover {
    border-color: var(--Blue-500);
  }

  &:active {
    background: var(--Blue-000);
    border-color: var(--Blue-500);
  }

  &--disabled,
  &[disabled] {
    opacity: 1;
    color: var(--hover-secondary);
  }
}

.btn-secondary-3 {
  color: var(--white);
  background: #227BFF;
  padding: 8px 0px;

  &:active {
    background: var(--gray-3);
  }

  &--disabled,
  &[disabled] {
    opacity: 1;
    color: var(--hover-secondary);
  }
}

.btn-secondary-gradient {
  color: var(--white);
  background: var(--secondary-gradient);
  border-radius: 20px;
  transition: ease-in-out .4s;
  &:hover {
    // border-color: var(--Blue-500); 
    box-shadow: 0px 0px 10px rgba(0, 26, 255, 0.5) !important;
  }

  &:active {
    background: var(--secondary-gradient-active);
    // border-color: var(--Blue-500);
  }

  &--disabled,
  &[disabled] {
    opacity: 1;
    color: var(--hover-secondary);
  }
}

.btn-warning {
  color: var(--Orange-500);
  border: 1px solid var(--hover-orange);
  background-color: var(--white);

  &:hover {
    border-color: var(--Orange-500);
  }

  &:active {
    background: var(--Orange-000);
    border-color: var(--Orange-500);
  }

  &--disabled,
  &[disabled] {
    opacity: 1;
    color: var(--hover-orange);
  }
}

.btn-danger {
  color: var(--Red-500);
  border: 1px solid var(--hover-red);
  background-color: var(--white);

  &:hover {
    border-color: var(--Red-500);
  }

  &:active {
    background: var(--Red-000);
    border-color: var(--Red-500);
  }

  &--disabled,
  &[disabled] {
    opacity: 1;
    color: var(--hover-red);
  }
}

.btn-danger-primary {
  color: var(--white);
  border: 1px solid var(--Red-500);
  background-color: var(--Red-500);

  &:hover {
    border-color: var(--hover-red-primary);
    background-color: var(--hover-red-primary);
  }

  &:active {
    background: var(--Red-600);
    border-color: var(--Red-600);
  }

  &--disabled,
  &[disabled] {
    opacity: 1;
    border-color: var(--hover-red);
    background-color: var(--hover-red);
  }
}

.btn-default {
  color: var(--Grey-500);
  border: 1px solid var(--hover-default);

  &:hover {
    border-color: var(--Grey-500);
  }

  &:active {
    background: #fbfbfc;
    border-color: var(--Grey-500);
  }

  &--disabled,
  &[disabled] {
    opacity: 1;
    color: var(--hover-default);
  }
}

.btn-primary {
  color: var(--white);
  border: 1px solid var(--Blue-500);
  background-color: var(--Blue-500);

  &:hover {
    border-color: var(--hover-confirm);
    background-color: var(--hover-confirm);
  }

  &:active {
    background: var(--Blue-600);
    border-color: var(--Blue-600);
  }

  &--disabled,
  &[disabled] {
    border-color: var(--hover-secondary);
    background-color: var(--hover-secondary);
  }
}
.btn-primary-gradient{
  color: var(--white);
  background: var(--primary-gradient);
  transition: ease-in-out .4s;
  &:hover {
    // border-color: var(--hover-confirm);
    box-shadow: 0px 0px 10px rgba(0, 26, 255, 0.5) !important;
  }

  &:active {
   background: var(--primary-gradient-active);
    // border-color: var(--Blue-600);
  }

  &--disabled,
  &[disabled] {
    border-color: var(--hover-secondary);
    background-color: var(--hover-secondary);
  }
}

.btn-link {
  @include H5;
  display: inline-block;
  width: auto;
  padding: 0px;
  color:var(--secondary-3);
  cursor: pointer;
  background-color: transparent;

  &:hover {
    color: var(--Blue-400);
  }

  &:active {
    color: var(--Blue-600);
  }

  &--disabled,
  &[disabled] {
    cursor: auto;
    opacity: 1;
    pointer-events: none;
    color: var(--hover-secondary);
  }
}

.btn--large {
  min-height: 54px;
}

/**
  All Buttons styles are deviations from design guide
 */

.btn-raised {
  color: var(--primary-blue);
  background-color: var(--white);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  padding: 6px;
  height: initial;
  min-height: initial;
  width: initial;
  min-width: initial;
}

.btn--first-time {
  @include H4;

  height: 54px;
  width: 198px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
  color: var(--white);
  font-weight: 500;
  transition: 200ms ease-in-out;
  background-color: rgba(247, 134, 28, 0.9);
  border-radius: 0;
}

button[disabled],
input[type="submit"][disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

.btn--rounded {
  border-radius: 20px;
  will-change: box-shadow;
  transition: box-shadow cubic-bezier(0.6, -0.28, 0.735, 0.045) 200ms;

  &:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  }

  &.btn-secondary {
    border: 1px solid var(--Blue-500);

    &--disabled,
    &[disabled] {
      border-color: var(--hover-secondary);
      color: var(--hover-secondary);
    }

    &:active {
      border-color: var(--Blue-600);
    }
  }

  &.btn-default {
    border: 1px solid var(--Grey-500);

    &--disabled,
    &[disabled] {
      border-color: var(--Grey-100);
      color: var(--hover-default);
    }

    &:active {
      border-color: var(--Grey-600);
    }
  }

  &.btn-danger {
    border: 1px solid var(--Red-500);

    &--disabled,
    &[disabled] {
      border-color: var(--Red-100);
      color: var(--Red-300);
    }

    &:active {
      border-color: var(--Red-600);
    }
  }

  &.btn-warning {
    border: 1px solid var(--Orange-500);

    &--disabled,
    &[disabled] {
      border-color: var(--warning-light-orange);
      color: var(--warning-light-orange);
    }

    &:active {
      border-color: var(--Orange-600);
    }
  }

  &.btn-primary {
    background-color: var(--Blue-500);

    &--disabled,
    &[disabled] {
      background-color: var(--hover-secondary);
    }

    &:active {
      background-color: var(--Blue-600);
    }
  }

  &.btn-danger-primary {
    background-color: var(--Red-500);

    &--disabled,
    &[disabled] {
      background-color: var(--Red-300);
    }

    &:active {
      background-color: var(--Red-600);
    }
  }
}

.btn--inline {
  display: inline;
  padding: 0 4px;
  font-size: inherit;
  width: auto;
  color: var(--Blue-500);
  cursor: pointer;
  background-color: transparent;

  &:hover {
    color: var(--Blue-400);
  }

  &:active {
    color: var(--Blue-600);
  }

  &--disabled,
  &[disabled] {
    cursor: auto;
    opacity: 1;
    pointer-events: none;
    color: var(--hover-secondary);
  }
}

.btn-cancel {
  color: var(--white);
  background-color: var(--gray-3);

  &:hover {
    // border-color: var(--Blue-500);
  }

  &:active {
    // background: var(--Blue-000);
    // border-color: var(--Blue-500);
  }

  &--disabled,
  &[disabled] {
    opacity: 1;
    color: var(--hover-secondary);
  }
}