.snap-remove-warning {
  color: black;

  .popover-header {
    padding: 24px 16px 0px 24px;
  }

  &__content {
    padding: 0px 16px 16px 24px;
    align-items: center;

    .typography--h6 {
      font-size: 18px;
    }
  }

  &__footer-button {
    height: 40px;
    margin-inline-end: 24px;

    &:last-of-type {
      margin-inline-end: 0px;
    }
  }
}
