.snap-remove-warning {
  color: var(--black);

  .popover-header {
    padding: 24px 16px 0px 24px;
  }

  &__footer-button {
    height: 40px;
    margin-inline-end: 24px;

    &:last-of-type {
      margin-inline-end: 0px;
    }
  }
}
