@use "design-system";

.confirm_wrapper {
  $width-screen-sm-min: 85vw;
  $width-screen-md-min: 80vw;
  $width-screen-lg-min: 62vw;

  // prevent overflow-x
  max-width: 100%;

  @include design-system.screen-sm-min {
    width: $width-screen-sm-min;
  }

  @include design-system.screen-md-min {
    width: $width-screen-md-min;
  }

  @include design-system.screen-lg-min {
    width: $width-screen-lg-min;
  }

  &.multichain-page__inner-container {
    border: 1px solid var(--color-border-muted);
    border-radius: 2px;
    box-shadow: var(--shadow-size-lg) var(--color-shadow-default);
  }
}
