.list-item {
  width: 100%;
  min-height: 86px;
  margin: 0;
  background: #FFFFFF;
  padding: 24px 16px;
  @extend %font;
  border-top: 1px solid $mercury;
  border-bottom: 1px solid $mercury;
  color: $Black-100;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  &__icon {
    display: flex;
    align-items: center;
    > * {
      margin: 0 16px 0 0;
    }
  }

  &__col {
    align-items: center;
    &-main {
      flex: 1;
      display: flex;
    }
  }

  &__main-content {
    align-self: center;
  }

  &__heading {
    font-size: 16px;
    line-height: 160%;
    position: relative;

    &-wrap {
      display: inline-block;
      position: absolute;
      width: 16px;
      height: 16px;
      margin-left: 8px;
    }
  }

  &__subheading {
    font-size: 12px;
    line-height: 14px;
    color: $Grey-500;
    margin-top: 4px;
    &:empty {
      display: none;
    }
  }

  &__mid-content {
    display: none;
  }

  &__right-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;
    align-items: flex-end;
  }

  @media (min-width: 576px) {
    &__col-main {
      flex: 1.5;
    }
    &__mid-content {
      display: flex;
      align-items: center;
      font-size: 12px;
      flex: 2;
    }
    &__right-content {
      flex: 1;
    }
  }
}
