@use "design-system";

.error-page {
  display: flex;
  flex-flow: column;
  padding: 16px;
  height: 100%;

  &__inner-wrapper {
    @media screen and (min-width: design-system.$screen-md-min) {
      width: 50%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__stack {
    max-height: 120px;
    overflow: auto;
    font-family: var(--font-family-default);
    font-weight: var(--typography-l-body-xs-font-weight);
    font-size: var(--typography-l-body-xs-font-size);
  }

  &__link-text {
    color: var(--color-primary-default);
  }
}

// override styles for sentry feedback form
#sentry-feedback {
  --font-family: var(--font-family-default);
  --inset: auto 20px 20px auto;
  --input-font-size: 14px;
  --button-color: var(--color-primary-default);
  --button-primary-background: var(--color-primary-default);
  --button-primary-border: var(--color-primary-default);
  --button-primary-hover-background: var(--color-primary-default);
  --success-color: var(--color-success-default);
  --error-color: var(--color-error-default);
}
