@use "design-system";

.permission-approval-container {
  &.page-container {
    display: flex;
    border: none;
    box-shadow: none;
    width: 100%;
    margin-top: 2px;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
  }

  &__footers {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .page-container__footer {
      align-items: center;
      margin-top: 12px;

      @include design-system.screen-sm-min {
        border-top: none;
      }

      footer {
        width: 100%;
      }
    }
  }

  &__title {
    @include design-system.H4;

    text-align: center;
    margin-top: 32px;
    width: 100%;
  }

  &__content {
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    color: var(--color-text-default);
    padding-left: 24px;
    padding-right: 24px;
    margin-top: 2px;

    a,
    a:hover {
      color: var(--color-primary-default);
    }

    &__requested {
      width: 100%;
      text-align: left;
    }

    &__revoke-note {
      margin-top: 60px;
    }

    &__permission {
      display: flex;
      align-items: center;

      label {
        @include design-system.H6;

        margin-left: 16px;
        color: var(--color-text-default);
      }
    }
  }

  & &__checkbox {
    font-size: 1.4rem;
    margin: 0;
  }

  &__content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__permissions-header {
    @include design-system.H6;

    color: var(--color-text-default);
  }

  &__permissions-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 38px;
  }

  @include design-system.screen-sm-max {
    &__title {
      position: initial;
    }

    &__content-approval-visual {
      margin-top: 16px;
    }

    .page-container__footer header {
      padding: 0;
    }
  }

  &__tooltip-body {
    display: flex;
    flex-direction: column;
  }

  &__bold-title-elements {
    font-weight: bold;
  }
}
