.permission-page-container-content {
  flex: '1 1 auto';
}

.permission-page-container-footer {
  border-top: none !important;
}

.permission-page-container-content__origin-text {
  word-break: break-all;
}
