.confirm-page-container-summary {
  padding: 16px 24px 0;
  background-color: #f9fafa;
  height: 133px;
  box-sizing: border-box;

  &__origin {
    @include H6;

    padding-bottom: 10px;
  }

  &__action-row {
    display: flex;
    justify-content: space-between;
  }

  &__action {
    @include H7;

    text-transform: uppercase;
    color: $oslo-gray;
    padding: 3px 8px;
    border: 1px solid $oslo-gray;
    border-radius: 4px;
    display: inline-block;
  }

  &__nonce {
    color: $oslo-gray;
  }

  &__title {
    padding: 4px 0;
    display: flex;
    align-items: center;
  }

  &__identicon {
    flex: 0 0 auto;
    margin-right: 8px;
  }

  &__title-text {
    @include H1;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__subtitle {
    color: $oslo-gray;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &--border {
    border-bottom: 1px solid $geyser;
  }
}
