.slippage-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__header {
    display: flex;
    align-items: center;
    color: $Blue-500;
    margin-bottom: 0;
    cursor: pointer;

    &--open {
      margin-bottom: 8px;
    }
  }

  &__header-text {
    @include H6;

    margin-right: 6px;
    color: $Blue-500;
    font-weight: 900;
  }

  &__dropdown-content {
    display: flex;
    align-items: center;
  }

  &__buttons-prefix {
    display: flex;
    align-items: center;
    margin-right: 8px;
  }

  &__prefix-text {
    @include H6;

    margin-right: 4px;
    color: black;
    font-weight: 900;
  }

  &__tooltip-content {
    background: white;
    color: black;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.18);
    border-radius: 8px;
  }

  &__tooltip-arrow {
    border-top-color: $white;
  }

  &__error-text {
    @include H7;

    color: $Red-500;
    font-weight: 900;
    margin-top: 4px;
  }

  &__custom-button {
    cursor: text;
  }

  &__custom-input {
    input {
      border: none;
      width: 24px;
      background: $Blue-300;
      color: white;
      font-weight: inherit;

      &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color: white;
      }

      &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: white;
        opacity: 1;
      }

      &::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: white;
        opacity: 1;
      }

      &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: white;
      }

      &::-ms-input-placeholder { /* Microsoft Edge */
        color: white;
      }

      &::placeholder { /* Most modern browsers support this now. */
        color: white;
      }
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      /* display: none; <- Crashes Chrome on hover */
      -webkit-appearance: none;
      margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }

    input[type=number] {
      -moz-appearance: textfield; /* Firefox */
    }

    &--danger {
      input {
        background: $Red-500;
      }
    }

    &::after {
      top: 2px;
      right: 0.5em;
      content: '%';
    }
  }

}
