.asset-list-item {
  & .list-item__heading {
    max-width: 100%;
  }

  &__token-button {
    padding-inline-start: 0;
    min-width: 0;
    min-height: 0;
    text-align: start;

    & h2 {
      display: flex;
    }

    & span {
      padding-right: 5px;
    }
  }

  &__token-value {
    flex: 1;
    padding-right: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    display: block;
    overflow: hidden;
  }

  &__chevron-right {
    color: $Grey-500;
  }

  .list-item__right-content {
    align-self: center;
  }

  .list-item__subheading {
    @include H6;

    margin-top: 6px;
  }

  &__warning {
    flex: 1;
    margin-left: 8px;
  }

  & &__send-token-button {
    @include H6;

    display: none;
    text-transform: uppercase;
    width: fit-content;
    padding-top: 0;
    padding-bottom: 0;
  }

  @media (min-width: 576px) {
    &__warning-tooltip {
      display: none;
    }

    .list-item__mid-content {
      display: flex;
    }

    &:hover &__send-token-button,
    &:focus-within &__send-token-button {
      display: inline-block;
    }

    &__chevron-right {
      display: none;
    }
  }
}
