.snap-list-tab {
  &__wrapper {
    max-width: 475px;
  }

  .snap-list-tab__container--no-snaps_inner {
    max-width: 164px;
    align-self: flex-end;
  }

  .snap-list-tab__no-snaps_icon {
    font-size: 48px;
  }

  &__container--no-snaps_banner-tip {
    max-width: 390px;
  }
}
