.snap-update {
  box-shadow: none;

  &__content {
    &__loader-container {
      height: 100%;
    }
  }

  &__scroll-button {
    position: absolute;
    right: 160px;
    bottom: 90px;
  }

  .page-container__footer {
    width: 100%;
    border-top: 0;

    button {
      padding: 0.75rem;
    }
  }
}
