.institutional-entity {
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.08);
}

.feature-connect {
  &__list {
    &__list-item {
      &__img {
        height: 32px;
        width: 32px;
        margin: 0 10px 0 0;
      }
    }
  }

  &__label {
    &__text {
      font-size: 0.6rem;

      &--activated {
        color: var(--color-text-default);
        background: var(--color-primary-default);
        padding: 3px 10px;
        border-radius: 10px;
        margin-top: 0;
      }
    }
  }
}
