.snap-content-footer {
  i {
    color: var(--color-icon-muted);
    padding-right: 4px;
  }

  .button {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100px;
  }
}
