.snap-content-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0;

  .typography {
    font-size: 12px;
  }

  i {
    color: var(--color-icon-muted);
    padding-right: 4px;
  }
}
