.tab {
  button {
    cursor: pointer;
    padding: 8px;
    min-width: 50px;
    text-align: center;
    display: block;
    width: 100%;
    background-color: unset;
    font-size: unset;
    color: unset;
  }

  &--active {
    color: $black;
    border-bottom: 2px solid $primary-blue;
  }
}
