@use "design-system";

.account-overview {
  &__balance-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 0 0 auto;
  }

  // TODO: fix style import order so this isn't required to override specificity of `tab` class
  &__tabs {
    border: none;
    padding: 0 16px;
  }

  &__tab {
    @include design-system.H6;

    flex-grow: 1;
  }

  &__tab--active {
    color: var(--color-text-default);
  }

  &__tab button {
    padding: 8px;
  }
}

.account-overview-unknown {
  &__empty {
    margin-top: 24px;
  }
}
