.alerts-tab {
  &__body {
    @include H6;

    display: grid;
    grid-template-columns: 8fr 30px max-content;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    display: block;
  }

  &__description-container {
    display: flex;
  }

  &__description-container > * {
    padding: 0 8px;
  }

  &__description {
    display: flex;
    align-items: center;

    &__icon {
      color: var(--color-icon-alternative);
    }
  }

  &__item {
    border-bottom: 1px solid var(--color-border-muted);
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
