.multichain-address-copy-button {
  &__address--wrap {
    word-break: break-word;
    min-height: 32px;
    height: auto;
  }
}

.custody-logo {
  height: 20px;
  background-color: var(--brand-colors-white);
  padding: 1px;
  border-radius: 5px;
}
