.multichain-address-copy-button {
  &__address--wrap {
    word-break: break-word;
    min-height: 32px;
    height: auto;
  }
}

.custody-logo {
  &--icon {
    height: 20px;
    margin-right: 5px;
    background-color: #FFF;
    border-radius: 3px;
    padding: 1px;
  }
}