@use "design-system";

.tokens-main-view-modal {
  .multichain-asset-picker-list-item .mm-badge-wrapper__badge-container {
    display: none;
  }
}

.prepare-bridge-page {
  flex: 1;

  .mm-select-button__content {
    max-height: 100%;
    overflow: hidden;
  }

  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    display: none;
  }

  input[type="number"]:hover::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    display: none;
  }

  .mm-text-field {
    background-color: inherit;

    &--focused {
      outline: none;
    }
  }

  .defined {
    & > .mm-input--disabled, p {
      opacity: 1;
    }
  }

  .amount-input {
    border: none;
    padding: 0;

    input {
      text-align: right;
      font-weight: 500;
      padding: 0;

      &:focus,
      &:focus-visible {
        outline: none;
      }
    }

    .mm-text-field--focused {
      outline: none;
    }
  }

  &__switch-tokens {
    display: flex;
    justify-content: center;
    align-items: center;

    &::before,
    &::after {
      content: '';
      border-top: 1px solid var(--color-border-muted);
      flex-grow: 1;
    }
    button {
      border-radius: 50%;
      padding: 10px;
      border: 1px solid var(--color-border-muted);
      transition: all 0.3s ease-in-out;
      cursor: pointer;
      width: 40px;
      height: 40px;

      &:hover:enabled {
        background: var(--color-background-default-hover);

        .mm-icon {
          color: var(--color-icon-default);
        }
      }

      &:active {
        background: var(--color-background-default-pressed);

        .mm-icon {
          color: var(--color-icon-default);
        }
      }

      .rotate {
        transform: rotate(360deg);
      }
    }

    .mm-icon {
      color: var(--color-icon-alternative);
      transition: all 0.3s ease-in-out;
    }

    &:disabled {
      cursor: not-allowed;
    }
  }

  .highlight {
    padding: 16px;
    background: var(--color-background-alternative);
    border: none;
    border-radius: 8px;
  }
}

.bridge-settings-modal {
  .mm-modal-footer > button {
    width: 100%;
  }

  .content {
    display: flex;
    flex-direction: column;
    padding: 16px 16px;
    align-items: start;
    gap: 6px;
    align-self: stretch;
  }

  .slippage-label {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
  }

  .slippage-options {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 24px;

    .mm-button-secondary {
      border: 1px solid var(--color-border-muted);

      &:hover {
        background-color: var(--color-background-default);
        box-shadow: none;
      }

      p {
        color: var(--color-text-alternative);
      }
    }

    button {
      justify-content: center;
      width: 64px;
      height: 24px;

      span {
        height: 24px;
        padding: 2px;
      }

      p {
        color: var(--color-primary-inverse);
      }
    }

    p {
      font-weight: var(--font-weight-regular);
      line-height: 20px;
      font-size: var(--font-size-2);
    }

    .slippage-input {
      .custom-button {
        width: 94px;
        height: 24px;
        height: 100%;
      }

      .box--border-style-solid {
          border: 1px solid var(--color-border-muted);
          border-radius: 9999px;
      }

      .mm-text-field {
        height: 24px;
        width: 94px;

        &--focused,
        &:focus-visible {
          outline: none;
        }

        input {
          font-size: var(--font-size-2);
          padding-top: 1px;
        }

        .input-suffix {
          font-size: var(--font-size-2);
        }
      }

      input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        display: none;
      }

      input[type="number"]:hover::-webkit-inner-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        display: none;
      }
    }
  }
}