.tab {
  button {
    min-width: 50px;
    background-color: unset;
    font-size: unset;
    color: unset;
  }

  &--active {
    color: var(--color-text-default);
    border-bottom: 2px solid var(--color-primary-default);
  }
}
