@use "design-system";

.create-password {
  &__weak {
    color: var(--color-error-default);
  }

  &__average {
    color: var(--color-warning-default);
  }

  &__strong {
    color: var(--color-success-default);
  }

  &__link-text {
    color: var(--color-primary-default);
  }

  &__analytics-iframe {
    width: 1px;
    height: 1px;
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
}
