.confirm-seed-phrase {
  &__back-button {
    margin-bottom: 12px;
  }

  &__selected-seed-words {
    display: flex;
    flex-flow: row wrap;
    min-height: 161px;
    max-width: 575px;
    border: 1px solid #CDCDCD;
    border-radius: 6px;
    background-color: $white;
    margin: 24px 0 36px;
    padding: 12px;
  }

  &__shuffled-seed-words {
    max-width: 575px;
  }

  &__seed-word {
    display: inline-block;
    color: #5B5D67;
    background-color: #E7E7E7;
    padding: 8px 18px;
    min-width: 128px;
    min-height: 37px;
    margin: 4px;
    text-align: center;
    border: 1px solid transparent;
    cursor: move;

    &--shuffled {
      cursor: pointer;
      margin: 6px;
    }

    &--selected {
      background-color: #85D1CC;
      color: $white;
      cursor: default;
    }

    &--dragging {
      opacity: .5;
    }

    &--empty {
      background-color: transparent;
    }

    &--active-drop{
      //box-sizing: border-box;
    }

    &--drop-hover {
      background-color: $Blue-000;
      border: 1px dashed $Blue-400;
      //box-sizing: border-box;
    }

    @media screen and (max-width: 575px) {
      font-size: .875rem;
      padding: 6px 18px;
    }
  }

  button {
    margin-top: 0xp;
  }
}
