@use "design-system";

.loading-span {
  display: flex;
  height: 250px;
  align-items: center;
  justify-content: center;
  padding: 32px;
}

.token-list-item {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  cursor: pointer;
  padding: 8px;

  &:hover {
    background-color: var(--color-background-hover);
  }

  &__data {
    margin-left: 8px;
  }

  &__symbol {
    @include design-system.Paragraph;

    line-height: 140%;
    margin-bottom: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__balance {
    @include design-system.H7;

    display: flex;
    flex-flow: row nowrap;
  }

  &__balance__label {
    margin-right: 4px;
  }
}
