@use "design-system";

.connect-page {
  .multichain-page-content {
    overflow: hidden;
  }

  &__header__children-wrapper {
    overflow: hidden; // used for elipsis on the domain name
  }

  .multichain-account-list-item {
    &:hover,
    &:focus-within {
      background: var(--color-background-default);
    }
  }

  &__accounts-empty {
    min-height: 200px;
  }
}
