.advanced-gas-fee-popover {
  &__separator {
    border-top: 1px solid $ui-grey;
    margin: 16px 0;
  }

  .form-field__heading-title > h6 {
    font-size: $font-size-h7;
  }

  .popover-header {
    border-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid $ui-grey;
  }

  .popover-footer {
    border-top: none;
  }
}
