.mm-skeleton {
  @keyframes pulse {
    50% {
      opacity: 0.5;
    }
  }

  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  background-clip: padding-box;
  cursor: default;
  pointer-events: none;
  user-select: none;

  &--hide-children * {
    visibility: hidden;
  }
}
