.confirm-action-jwt {
  &__description {
    @include H6;

    text-align: center;
  }

  &__jwt {
    border: 1px solid #b7b7b7;
    border-radius: 4px;
    display: flex;
    width: 100%;

    span {
      width: 100%;
      overflow-wrap: anywhere;
    }
  }

  &__show-more {
    color: #037dd6;
    cursor: pointer;
  }

  &__accounts-list {
    width: 110%;
    margin-left: -5%;
  }
}

