@import './info-tab/index';

@import './settings-tab/index';

.settings-page {
  position: relative;
  background: $white;
  display: flex;
  flex-flow: column nowrap;

  &__header {
    padding: 25px 25px 0;
  }

  &__close-button::after {
    content: '\00D7';
    font-size: 40px;
    color: $dusty-gray;
    position: absolute;
    top: 25px;
    right: 30px;
    cursor: pointer;
  }

  &__content {
    padding: 25px;
    height: auto;
    overflow: auto;
  }

  &__content-row {
    display: flex;
    flex-direction: row;
    padding: 10px 0 20px;

    @media screen and (max-width: 575px) {
      flex-direction: column;
      padding: 10px 0;
    }
  }

  &__content-item {
    flex: 1;
    min-width: 0;
    display: flex;
    flex-direction: column;
    padding: 0 5px;
    min-height: 71px;

    @media screen and (max-width: 575px) {
      height: initial;
      padding: 5px 0;
    }

    &--without-height {
      height: initial;
    }
  }

  &__content-label {
    text-transform: capitalize;
  }

  &__content-description {
    font-size: 14px;
    color: $dusty-gray;
    padding-top: 5px;
  }

  &__content-item-col {
    max-width: 300px;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 575px) {
      max-width: 100%;
      width: 100%;
    }
  }
}
