@import './info-tab/index';

@import './settings-tab/index';

.settings-page {
  position: relative;
  background: $white;
  display: flex;
  flex-flow: column nowrap;

  &__header {
    display: flex;
    flex-flow: row nowrap;
    padding: 12px 24px;
    align-items: center;
    border-bottom: 1px solid $alto;
    flex: 0 0 auto;

    &__title {
      flex: 1 0 auto;
      font-size: 24px;
    }
  }

  &__back-button {
    display: block;
    background-image: url('/images/caret-left-black.svg');
    width: 18px;
    height: 18px;
    opacity: .5;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 16px;
    cursor: pointer;
  }

  &__close-button::after {
    content: '\00D7';
    font-size: 40px;
    color: $dusty-gray;
    cursor: pointer;
  }

  &__content {
    height: auto;
    overflow: auto;
  }

  &__body {
    padding: 12px 24px;
  }

  &__content-row {
    display: flex;
    flex-direction: row;
    padding: 10px 0 20px;

    @media screen and (max-width: 575px) {
      flex-direction: column;
    }
  }

  &__content-item {
    flex: 1;
    min-width: 0;
    display: flex;
    flex-direction: column;
    padding: 0 5px;
    min-height: 71px;

    @media screen and (max-width: 575px) {
      height: initial;
      padding: 5px 0;
    }

    &--without-height {
      height: initial;
    }
  }

  &__content-label {
    text-transform: capitalize;
  }

  &__content-description {
    font-size: 14px;
    color: $dusty-gray;
    padding-top: 5px;
  }

  &__content-item-col {
    max-width: 300px;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 575px) {
      max-width: 100%;
      width: 100%;
    }
  }
}
