.address-book {

  &__entry {
    display: flex;
    flex-flow: row nowrap;
    padding: 16px 14px;
    flex: 0 0 auto;
    border-bottom: 1px solid #dedede;

    &:hover {
      border: 1px solid #037DD6;
      cursor: pointer;
    }
  }

  &__name {
    padding: 3px;
  }

  &__header {
    align-items: flex-start !important;
  }

  &__input {
    @extend %input-2;
    margin-top: .25rem;

    &--address {
      font-size: 0.875rem;
    }
  }

  &__view-contact {
    &__group {
      display: flex;
      flex-flow: column nowrap;
      padding: 1.5rem 1.5rem 0 1.5rem;

      &__label {
        font-size: .75rem;
        color: $Grey-500;
        margin-bottom: .25rem;
      }

      &__value {
        display: flex;
        flex-flow: row nowrap;
        font-size: 1.125rem;
        color: $Grey-800;

        &--address {
          font-size: 0.875rem;
        }

        &--copy-icon {
          padding-left: 4px;
        }
      }

      .unit-input__input {
        max-width: 100%;
        width: 100%;
      }
    }
  }

  &__edit-contact {
    display: flex;
    flex-flow: column nowrap;
    padding-bottom: 0 !important;
    height: 100%;

    &__content {
      flex: 1 1 auto;
      height: 0;
    }
  }
}
