.nft-default {
  padding-top: 100%;
  position: relative;

  &--clickable {
    cursor: pointer;
  }

  &__text {
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 32px);
  }
}
