@import 'confirm-seed-phrase/index';
@import 'reveal-seed-phrase/index';
@import 'seed-phrase-intro/index';

.seed-phrase {
  &__sections {
    display: flex;

    @include screen-sm-min {
      flex-direction: row;
    }

    @include screen-sm-max {
      flex-direction: column;
    }
  }

  &__main {
    flex: 3;
    min-width: 0;
  }

  &__side {
    flex: 2;
    min-width: 0;

    @include screen-sm-min {
      margin-left: 81px;
    }

    @include screen-sm-max {
      margin-top: 24px;
    }

    .first-time-flow__text-block {
      color: var(--color-text-default);
    }
  }
}
