.mm-picker-network {
  --picker-network-height: 32px;

  max-width: fit-content;
  height: var(--picker-network-height);

  &:active {
  background-color: #D6D9DC; //TODO: Add this color in design system for pressed state
}


}
