.institutional-entity-done {
  &__container {
      border-radius: 0;
  }

  &__form {
      .pulse-loader {
          justify-content: center;
      }
      .error {
          text-align: center;
          margin-top: 15px;
      }
  }

  &__entity-connect {
      width: 100%;

      &__header {
          &__title {
            @include H4;

            color: var(--black);
            margin: 15px 0;
            width: 100%;
          }

          &__msg {
            @include H6;

            color: #545454;
            margin-top: 10px;
            margin-bottom: 20px;
          }
      }

        &__title {
          display: flex;
          margin-top: 10px;
          margin-right: 15px;
        }

        &__msg {
          @include H6;

          color: #9b9b9b;
          margin-top: 10px;
          margin-bottom: 15px;
        }

      &__compliance-activated {
          display: flex;
          flex-direction: column;
          align-items: center;

          &__img {
            max-width: 250px;
            max-height: 80px;
            margin-top: 40px;
            margin-bottom: 20px;
          }
      }
  }
}