.institutional-entity-done {
  &__container {
    border-radius: 0;
  }

  &__form {
    .pulse-loader {
      justify-content: center;
    }

    .error {
      text-align: center;
      margin-top: 15px;
    }
  }

  &__img {
    max-width: 250px;
    max-height: 80px;
    margin-top: 40px;
    margin-bottom: 20px;
  }
}

