/* stylelint-disable color-no-hex */
:root {
  --brand-colors-grey-grey100: #dadce5;
  --brand-colors-grey-grey200: #b7bbc8;
  --brand-colors-grey-grey300: #9ca1af;
  --brand-colors-grey-grey400: #858b9a;
  --brand-colors-grey-grey500: #686e7d;
  --brand-colors-grey-grey600: #4b505c;
  --brand-colors-grey-grey700: #31333a;
  --brand-colors-grey-grey800: #222325;
  --brand-colors-grey-grey900: #121314;
  --brand-colors-grey-grey1000: #000;
  --brand-colors-grey-grey050: #f3f5f9;
  --brand-colors-grey-grey000: #fff;
  --brand-colors-grey-grey025: #f7f9fc;
  --brand-colors-blue-blue100: #d6dbff;
  --brand-colors-blue-blue200: #adb6fe;
  --brand-colors-blue-blue300: #8b99ff;
  --brand-colors-blue-blue400: #6f7eff;
  --brand-colors-blue-blue500: #4459ff;
  --brand-colors-blue-blue600: #2c3dc5;
  --brand-colors-blue-blue700: #1c277f;
  --brand-colors-blue-blue800: #131b59;
  --brand-colors-blue-blue900: #0b0f32;
  --brand-colors-blue-blue050: #f4f5ff;
  --brand-colors-blue-blue025: #f8f9ff;
  --brand-colors-green-green100: #c1e6c9;
  --brand-colors-green-green200: #80cb91;
  --brand-colors-green-green300: #4cb564;
  --brand-colors-green-green400: #279f41;
  --brand-colors-green-green500: #1c7e33;
  --brand-colors-green-green600: #145d25;
  --brand-colors-green-green700: #0d3b18;
  --brand-colors-green-green800: #092912;
  --brand-colors-green-green900: #051709;
  --brand-colors-green-green050: #ebf7ee;
  --brand-colors-green-green025: #f1faf4;
  --brand-colors-red-red100: #ffd2d5;
  --brand-colors-red-red200: #ffa1aa;
  --brand-colors-red-red300: #ff7584;
  --brand-colors-red-red400: #f74d5e;
  --brand-colors-red-red500: #ca3542;
  --brand-colors-red-red600: #952731;
  --brand-colors-red-red700: #611a20;
  --brand-colors-red-red800: #431216;
  --brand-colors-red-red900: #3b0f13;
  --brand-colors-red-red050: #fff2f3;
  --brand-colors-red-red025: #fff6f7;
  --brand-colors-yellow-yellow100: #ffd957;
  --brand-colors-yellow-yellow200: #f0b034;
  --brand-colors-yellow-yellow300: #e18f01;
  --brand-colors-yellow-yellow400: #c37b02;
  --brand-colors-yellow-yellow500: #9a6300;
  --brand-colors-yellow-yellow600: #714802;
  --brand-colors-yellow-yellow700: #482d01;
  --brand-colors-yellow-yellow800: #321f00;
  --brand-colors-yellow-yellow900: #1c1100;
  --brand-colors-yellow-yellow050: #fff5d5;
  --brand-colors-yellow-yellow025: #fff9e6;
  --brand-colors-orange-orange100: #ffd4c1;
  --brand-colors-orange-orange200: #ffa47c;
  --brand-colors-orange-orange300: #ff7940;
  --brand-colors-orange-orange400: #f35714;
  --brand-colors-orange-orange500: #c3420d;
  --brand-colors-orange-orange600: #932d06;
  --brand-colors-orange-orange700: #631800;
  --brand-colors-orange-orange800: #451100;
  --brand-colors-orange-orange900: #280a00;
  --brand-colors-orange-orange050: #fff0ea;
  --brand-colors-orange-orange025: #fff8f5;
  --brand-colors-purple-purple100: #efd2ff;
  --brand-colors-purple-purple200: #dfa4ff;
  --brand-colors-purple-purple300: #d27dff;
  --brand-colors-purple-purple400: #b864f5;
  --brand-colors-purple-purple500: #8f44e4;
  --brand-colors-purple-purple600: #6c2ab2;
  --brand-colors-purple-purple700: #6c2ab2;
  --brand-colors-purple-purple800: #380658;
  --brand-colors-purple-purple900: #280a00;
  --brand-colors-purple-purple050: #fbf2ff;
  --brand-colors-purple-purple025: #fcf6ff;
  --brand-colors-lime-lime100: #b8ef4a;
  --brand-colors-lime-lime200: #95ca45;
  --brand-colors-lime-lime300: #7ab040;
  --brand-colors-lime-lime400: #64993d;
  --brand-colors-lime-lime500: #457a39;
  --brand-colors-lime-lime600: #275b35;
  --brand-colors-lime-lime700: #093a31;
  --brand-colors-lime-lime800: #012826;
  --brand-colors-lime-lime900: #011515;
  --brand-colors-lime-lime025: #effed9;
  --brand-colors-lime-lime050: #e3febd;
  --brand-colors-white: #fff;
  --brand-colors-black: #000;
}

:root,
[data-theme='light'] {
  --color-background-default: var(--brand-colors-grey-grey000);
  --color-background-alternative: var(--brand-colors-grey-grey050);
  --color-background-default-hover: #f0f0f0;
  --color-background-default-pressed: #e0e0e0;
  --color-background-alternative-hover: #dde3ee;
  --color-background-alternative-pressed: #c9d2e4;
  --color-background-hover: #0000000f;
  --color-background-pressed: #0000001f;
  --color-text-default: var(--brand-colors-grey-grey900);
  --color-text-alternative: var(--brand-colors-grey-grey500);
  --color-text-muted: var(--brand-colors-grey-grey300);
  --color-icon-default: var(--brand-colors-grey-grey900);
  --color-icon-alternative: var(--brand-colors-grey-grey500);
  --color-icon-muted: var(--brand-colors-grey-grey300);
  --color-border-default: var(--brand-colors-grey-grey200);
  --color-border-muted: #b7bbc866;
  --color-overlay-default: #0006;
  --color-overlay-alternative: #000c;
  --color-overlay-inverse: var(--brand-colors-grey-grey000);
  --color-primary-default: var(--brand-colors-blue-blue500);
  --color-primary-alternative: var(--brand-colors-blue-blue600);
  --color-primary-muted: #4459ff1a;
  --color-primary-inverse: var(--brand-colors-grey-grey000);
  --color-primary-default-hover: #243cff;
  --color-primary-default-pressed: #0521ff;
  --color-error-default: var(--brand-colors-red-red500);
  --color-error-alternative: var(--brand-colors-red-red600);
  --color-error-muted: #ca35421a;
  --color-error-inverse: var(--brand-colors-grey-grey000);
  --color-error-default-hover: #b22f3a;
  --color-error-default-pressed: #9a2832;
  --color-warning-default: var(--brand-colors-yellow-yellow500);
  --color-warning-muted: #9a63001a;
  --color-warning-inverse: var(--brand-colors-grey-grey000);
  --color-warning-default-hover: #7a4f00;
  --color-warning-default-pressed: #5c3b00;
  --color-success-default: var(--brand-colors-green-green500);
  --color-success-muted: #1c7e331a;
  --color-success-inverse: var(--brand-colors-grey-grey000);
  --color-success-default-hover: #166429;
  --color-success-default-pressed: #114b1e;
  --color-info-default: var(--brand-colors-blue-blue500);
  --color-info-muted: #4459ff1a;
  --color-info-inverse: var(--brand-colors-grey-grey000);
  --color-flask-default: var(--brand-colors-purple-purple500);
  --color-flask-inverse: var(--brand-colors-grey-grey000);
  --color-shadow-default: #0000001a;
  --color-shadow-primary: #4459ff33;
  --color-shadow-error: #ca354266;
}

[data-theme='dark'] {
  --color-background-default: var(--brand-colors-grey-grey800);
  --color-background-alternative: var(--brand-colors-grey-grey900);
  --color-background-default-hover: #313235;
  --color-background-default-pressed: #3f4145;
  --color-background-alternative-hover: #1f2123;
  --color-background-alternative-pressed: #2e3033;
  --color-background-hover: #ffffff0f;
  --color-background-pressed: #ffffff1f;
  --color-text-default: var(--brand-colors-grey-grey000);
  --color-text-alternative: var(--brand-colors-grey-grey200);
  --color-text-muted: var(--brand-colors-grey-grey400);
  --color-icon-default: var(--brand-colors-grey-grey000);
  --color-icon-alternative: var(--brand-colors-grey-grey200);
  --color-icon-muted: var(--brand-colors-grey-grey400);
  --color-border-default: var(--brand-colors-grey-grey400);
  --color-border-muted: #858b9a33;
  --color-overlay-default: #0006;
  --color-overlay-alternative: #000c;
  --color-overlay-inverse: var(--brand-colors-grey-grey000);
  --color-primary-default: var(--brand-colors-blue-blue300);
  --color-primary-alternative: var(--brand-colors-blue-blue200);
  --color-primary-muted: #8b99ff26;
  --color-primary-inverse: var(--brand-colors-grey-grey900);
  --color-primary-default-hover: #a8b2ff;
  --color-primary-default-pressed: #c7ceff;
  --color-error-default: var(--brand-colors-red-red300);
  --color-error-alternative: var(--brand-colors-red-red200);
  --color-error-muted: #ff758426;
  --color-error-inverse: var(--brand-colors-grey-grey900);
  --color-error-default-hover: #ff94a0;
  --color-error-default-pressed: #ffb2bb;
  --color-warning-default: var(--brand-colors-yellow-yellow100);
  --color-warning-muted: #ffd95726;
  --color-warning-inverse: var(--brand-colors-grey-grey900);
  --color-warning-default-hover: #ffe794;
  --color-warning-default-pressed: #ffeeb2;
  --color-success-default: var(--brand-colors-green-green300);
  --color-success-muted: #4cb56426;
  --color-success-inverse: var(--brand-colors-grey-grey900);
  --color-success-default-hover: #60bd76;
  --color-success-default-pressed: #76c688;
  --color-info-default: var(--brand-colors-blue-blue300);
  --color-info-muted: #8b99ff26;
  --color-info-inverse: var(--brand-colors-grey-grey900);
  --color-flask-default: var(--brand-colors-purple-purple300);
  --color-flask-inverse: var(--brand-colors-grey-grey900);
  --color-shadow-default: #0006;
  --color-shadow-primary: #8b99ff33;
  --color-shadow-error: #ff758433;
}

:root {
  --font-family-euclid-circular-b: 'Euclid Circular B', sans-serif;
  --font-family-roboto: 'Roboto', sans-serif;
  --font-family-sans: 'Euclid Circular B', 'Roboto', sans-serif;
  --font-size-base: 16px;
  --font-size-1: 0.625rem;
  --font-size-2: 0.75rem;
  --font-size-3: 0.875rem;
  --font-size-4: 1rem;
  --font-size-5: 1.125rem;
  --font-size-6: 1.5rem;
  --font-size-7: 2rem;
  --font-size-8: 3rem;
  --line-height-1: 1rem;
  --line-height-2: 1.25rem;
  --line-height-3: 1.375rem;
  --line-height-4: 1.5rem;
  --line-height-5: 2rem;
  --line-height-6: 2.5rem;
  --line-height-7: 3.5rem;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --letter-spacing-0: 0;
  --letter-spacing-1: 2.5%;
  --typography-s-display-md-font-family: var(--font-family-sans);
  --typography-s-display-md-font-size: var(--font-size-7);
  --typography-s-display-md-line-height: var(--line-height-6);
  --typography-s-display-md-font-weight: var(--font-weight-bold);
  --typography-s-display-md-letter-spacing: var(--letter-spacing-0);
  --typography-s-heading-lg-font-family: var(--font-family-sans);
  --typography-s-heading-lg-font-size: var(--font-size-6);
  --typography-s-heading-lg-line-height: var(--line-height-5);
  --typography-s-heading-lg-font-weight: var(--font-weight-bold);
  --typography-s-heading-lg-letter-spacing: var(--letter-spacing-0);
  --typography-s-heading-md-font-family: var(--font-family-sans);
  --typography-s-heading-md-font-size: var(--font-size-5);
  --typography-s-heading-md-line-height: var(--line-height-4);
  --typography-s-heading-md-font-weight: var(--font-weight-bold);
  --typography-s-heading-md-letter-spacing: var(--letter-spacing-0);
  --typography-s-heading-sm-font-family: var(--font-family-sans);
  --typography-s-heading-sm-font-size: var(--font-size-4);
  --typography-s-heading-sm-line-height: var(--line-height-4);
  --typography-s-heading-sm-font-weight: var(--font-weight-bold);
  --typography-s-heading-sm-letter-spacing: var(--letter-spacing-0);
  --typography-s-heading-sm-regular-font-family: var(--font-family-sans);
  --typography-s-heading-sm-regular-font-size: var(--font-size-4);
  --typography-s-heading-sm-regular-line-height: var(--line-height-4);
  --typography-s-heading-sm-regular-font-weight: var(--font-weight-regular);
  --typography-s-heading-sm-regular-letter-spacing: var(--letter-spacing-0);
  --typography-s-body-lg-medium-font-family: var(--font-family-sans);
  --typography-s-body-lg-medium-font-size: var(--font-size-4);
  --typography-s-body-lg-medium-line-height: var(--line-height-4);
  --typography-s-body-lg-medium-font-weight: var(--font-weight-medium);
  --typography-s-body-lg-medium-letter-spacing: var(--letter-spacing-0);
  --typography-s-body-lg-regular-font-family: var(--font-family-sans);
  --typography-s-body-lg-regular-font-size: var(--font-size-4);
  --typography-s-body-lg-regular-line-height: var(--line-height-4);
  --typography-s-body-lg-regular-font-weight: var(--font-weight-medium);
  --typography-s-body-lg-regular-letter-spacing: var(--letter-spacing-0);
  --typography-s-body-md-bold-font-family: var(--font-family-sans);
  --typography-s-body-md-bold-font-size: var(--font-size-3);
  --typography-s-body-md-bold-line-height: var(--line-height-3);
  --typography-s-body-md-bold-font-weight: var(--font-weight-bold);
  --typography-s-body-md-bold-letter-spacing: var(--letter-spacing-0);
  --typography-s-body-md-medium-font-family: var(--font-family-sans);
  --typography-s-body-md-medium-font-size: var(--font-size-3);
  --typography-s-body-md-medium-line-height: var(--line-height-3);
  --typography-s-body-md-medium-font-weight: var(--font-weight-medium);
  --typography-s-body-md-medium-letter-spacing: var(--letter-spacing-0);
  --typography-s-body-md-font-family: var(--font-family-sans);
  --typography-s-body-md-font-size: var(--font-size-3);
  --typography-s-body-md-line-height: var(--line-height-3);
  --typography-s-body-md-font-weight: var(--font-weight-regular);
  --typography-s-body-md-letter-spacing: var(--letter-spacing-0);
  --typography-s-body-sm-bold-font-family: var(--font-family-sans);
  --typography-s-body-sm-bold-font-size: var(--font-size-2);
  --typography-s-body-sm-bold-line-height: var(--line-height-2);
  --typography-s-body-sm-bold-font-weight: var(--font-weight-bold);
  --typography-s-body-sm-bold-letter-spacing: var(--letter-spacing-0);
  --typography-s-body-sm-medium-font-family: var(--font-family-sans);
  --typography-s-body-sm-medium-font-size: var(--font-size-2);
  --typography-s-body-sm-medium-line-height: var(--line-height-2);
  --typography-s-body-sm-medium-font-weight: var(--font-weight-medium);
  --typography-s-body-sm-medium-letter-spacing: var(--letter-spacing-0);
  --typography-s-body-sm-font-family: var(--font-family-sans);
  --typography-s-body-sm-font-size: var(--font-size-2);
  --typography-s-body-sm-line-height: var(--line-height-2);
  --typography-s-body-sm-font-weight: var(--font-weight-regular);
  --typography-s-body-sm-letter-spacing: var(--letter-spacing-0);
  --typography-s-body-xs-medium-font-family: var(--font-family-sans);
  --typography-s-body-xs-medium-font-size: var(--font-size-1);
  --typography-s-body-xs-medium-line-height: var(--line-height-1);
  --typography-s-body-xs-medium-font-weight: var(--font-weight-medium);
  --typography-s-body-xs-medium-letter-spacing: var(--letter-spacing-0);
  --typography-s-body-xs-font-family: var(--font-family-sans);
  --typography-s-body-xs-font-size: var(--font-size-1);
  --typography-s-body-xs-line-height: var(--line-height-1);
  --typography-s-body-xs-font-weight: var(--font-weight-regular);
  --typography-s-body-xs-letter-spacing: var(--letter-spacing-0);
  --typography-l-display-md-font-family: var(--font-family-sans);
  --typography-l-display-md-font-size: var(--font-size-8);
  --typography-l-display-md-line-height: var(--line-height-7);
  --typography-l-display-md-font-weight: var(--font-weight-medium);
  --typography-l-display-md-letter-spacing: var(--letter-spacing-0);
  --typography-l-heading-lg-font-family: var(--font-family-sans);
  --typography-l-heading-lg-font-size: var(--font-size-7);
  --typography-l-heading-lg-line-height: var(--line-height-6);
  --typography-l-heading-lg-font-weight: var(--font-weight-bold);
  --typography-l-heading-lg-letter-spacing: var(--letter-spacing-0);
  --typography-l-heading-md-font-family: var(--font-family-sans);
  --typography-l-heading-md-font-size: var(--font-size-6);
  --typography-l-heading-md-line-height: var(--line-height-5);
  --typography-l-heading-md-font-weight: var(--font-weight-bold);
  --typography-l-heading-md-letter-spacing: var(--letter-spacing-0);
  --typography-l-heading-sm-font-family: var(--font-family-sans);
  --typography-l-heading-sm-font-size: var(--font-size-5);
  --typography-l-heading-sm-line-height: var(--line-height-4);
  --typography-l-heading-sm-font-weight: var(--font-weight-bold);
  --typography-l-heading-sm-letter-spacing: var(--letter-spacing-0);
  --typography-l-heading-sm-regular-font-family: var(--font-family-sans);
  --typography-l-heading-sm-regular-font-size: var(--font-size-5);
  --typography-l-heading-sm-regular-line-height: var(--line-height-4);
  --typography-l-heading-sm-regular-font-weight: var(--font-weight-regular);
  --typography-l-heading-sm-regular-letter-spacing: var(--letter-spacing-0);
  --typography-l-body-lg-medium-font-family: var(--font-family-sans);
  --typography-l-body-lg-medium-font-size: var(--font-size-5);
  --typography-l-body-lg-medium-line-height: var(--line-height-4);
  --typography-l-body-lg-medium-font-weight: var(--font-weight-medium);
  --typography-l-body-lg-medium-letter-spacing: var(--letter-spacing-0);
  --typography-l-body-md-bold-font-family: var(--font-family-sans);
  --typography-l-body-md-bold-font-size: var(--font-size-4);
  --typography-l-body-md-bold-line-height: var(--line-height-4);
  --typography-l-body-md-bold-font-weight: var(--font-weight-bold);
  --typography-l-body-md-bold-letter-spacing: var(--letter-spacing-0);
  --typography-l-body-md-medium-font-family: var(--font-family-sans);
  --typography-l-body-md-medium-font-size: var(--font-size-4);
  --typography-l-body-md-medium-line-height: var(--line-height-4);
  --typography-l-body-md-medium-font-weight: var(--font-weight-medium);
  --typography-l-body-md-medium-letter-spacing: var(--letter-spacing-0);
  --typography-l-body-md-font-family: var(--font-family-sans);
  --typography-l-body-md-font-size: var(--font-size-4);
  --typography-l-body-md-line-height: var(--line-height-4);
  --typography-l-body-md-font-weight: var(--font-weight-regular);
  --typography-l-body-md-letter-spacing: var(--letter-spacing-0);
  --typography-l-body-sm-bold-font-family: var(--font-family-sans);
  --typography-l-body-sm-bold-font-size: var(--font-size-3);
  --typography-l-body-sm-bold-line-height: var(--line-height-3);
  --typography-l-body-sm-bold-font-weight: var(--font-weight-bold);
  --typography-l-body-sm-bold-letter-spacing: var(--letter-spacing-0);
  --typography-l-body-sm-medium-font-family: var(--font-family-sans);
  --typography-l-body-sm-medium-font-size: var(--font-size-3);
  --typography-l-body-sm-medium-line-height: var(--line-height-3);
  --typography-l-body-sm-medium-font-weight: var(--font-weight-medium);
  --typography-l-body-sm-medium-letter-spacing: var(--letter-spacing-0);
  --typography-l-body-sm-font-family: var(--font-family-sans);
  --typography-l-body-sm-font-size: var(--font-size-3);
  --typography-l-body-sm-line-height: var(--line-height-3);
  --typography-l-body-sm-font-weight: var(--font-weight-regular);
  --typography-l-body-sm-letter-spacing: var(--letter-spacing-0);
  --typography-l-body-xs-medium-font-family: var(--font-family-sans);
  --typography-l-body-xs-medium-font-size: var(--font-size-2);
  --typography-l-body-xs-medium-line-height: var(--line-height-2);
  --typography-l-body-xs-medium-font-weight: var(--font-weight-medium);
  --typography-l-body-xs-medium-letter-spacing: var(--letter-spacing-0);
  --typography-l-body-xs-font-family: var(--font-family-sans);
  --typography-l-body-xs-font-size: var(--font-size-2);
  --typography-l-body-xs-line-height: var(--line-height-2);
  --typography-l-body-xs-font-weight: var(--font-weight-regular);
  --typography-l-body-xs-letter-spacing: var(--letter-spacing-0);
}

:root {
  --shadow-size-xs: 0 2px 4px 0;
  --shadow-size-sm: 0 2px 8px 0;
  --shadow-size-md: 0 2px 16px 0;
  --shadow-size-lg: 0 2px 40px 0;
}
