/*
  MetaMask design system imports
*/
@use 'tailwind';
@use 'utilities/fonts.scss';
@use 'utilities/colors.scss';
@use 'utilities/opacity.scss';
@use 'utilities/page-transitions.scss';
@use 'base-styles.scss';
@use '../components/component-library/component-library-components.scss';
@use '../components/app/app-components';
@use '../components/ui/ui-components';
@use '../components/multichain/multichain-components.scss';
@use '../components/multichain-accounts/multichain-accounts.scss';
@use '../pages/pages';
@use 'errors.scss';
@use 'loading.scss';

/*
  ITCSS

  http://www.creativebloq.com/web-design/manage-large-css-projects-itcss-101517528
  https://www.xfive.co/blog/itcss-scalable-maintainable-css-architecture/

  DEPRECATED: This CSS architecture is deprecated. The following imports will be removed
  overtime.
 */
@use 'itcss/settings/index' as itcss-settings;
@use 'itcss/components/index' as itcss-components;

/*
  Third Party Library Styles
*/
@use 'react-tippy/dist/tippy';
@use '@metamask/design-tokens/dist/styles';

