.loading-logo {
  width: 10rem;
  height: 10rem;
  align-self: center;
  margin: 10rem 0 0 0;
}

.loading-spinner {
  width: 2rem;
  height: 2rem;
  align-self: center;
  margin-top: 1rem;
}
.app-content {
  opacity: 0;
  animation: showTimeoutMessage 20s ease-in-out forwards;
  align-self: center;
  max-width: 20rem;
}

.loading-timeout-message::after {
  direction: __MSG_@@bidi_dir__;
  content: "__MSG_loadingTimeoutMessage__";
}

@keyframes showTimeoutMessage {
  0% {
    opacity: 0;
  }
  99.9% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}