.signature-request-siwe-header {
  display: flex;
  padding: 16px;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__tooltip {
    display: flex;

    &__container {
      display: flex !important;
    }
  }

  &__account-list-item {
    &__top-row {
      align-items: center;
    }

    &__account-name {
      @include H5;

      font-weight: 500;
    }

    &__top-row {
      margin: 0;
    }
  }
}
