.mm-button-icon {
  position: relative;
  height: 24px;
  width: 24px;
  padding: 0;
  border-radius: 8px;
  cursor: pointer;
  color: var(--color-icon-default);
  background-color: transparent;

  // ButtonIcon default states
  &:active,
  &:hover {
    opacity: 0.5;
  }

  &--disabled,
  &:disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }

  // ButtonIcon Type(s)
  &--type-primary {
    color: var(--color-primary-default);
  }

  // ButtonIcon Sizes
  &--size-sm {
    height: 24px;
    width: 24px;
  }

  &--size-lg {
    height: 32px;
    width: 32px;
  }
}

