@use "design-system";

.account-not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  height: 100%;

  img {
    align-self: center;
  }
}
