.mm-button-secondary {
  transition: transform 100ms ease-out;

  &:hover:not(&--disabled) {
    color: var(--color-text-default);
    background-color: var(--color-background-muted-hover);
    transition: background-color 200ms ease;
  }

  &:active:not(&--disabled) {
    background-color: var(--color-background-muted-pressed);
    transform: scale(0.98);
  }

  &:focus-visible {
    outline: 1.5px solid var(--color-icon-default);
    outline-offset: 2px;
  }

  // Danger type
  &--type-danger:not(&--disabled) {
    color: var(--color-error-default);
    background-color: var(--color-background-muted);

    &:hover {
      color: var(--color-error-default);
      background-color: var(--color-background-muted-hover);
    }

    &:focus-visible {
      outline: 1.5px solid var(--color-error-default);
      outline-offset: 2px;
    }

    &:active {
      background-color: var(--color-background-muted-pressed);
    }
  }

  // Disabled
  &--disabled {
    &:hover {
      color: var(--color-text-default);
      box-shadow: none;
      background-color: transparent;
    }

    &:active {
      background-color: transparent;
    }
  }

  // Disabled danger
  &--type-danger#{&}--disabled:hover {
    color: var(--color-error-default);
  }
}
