.mm-avatar-with-badge {
  position: relative;
  width: fit-content;

  &__badge-wrapper--position-top {
    position: absolute;
    top: -4px;
    right: -4px;
  }

  &__badge-wrapper--position-bottom {
    position: absolute;
    bottom: -4px;
    right: -4px;
  }
}
