.customize-nonce-modal {
  $self: &;

  padding-left: 24px;
  padding-right: 18px;
  display: flex;
  flex-flow: column nowrap;

  &__main-header {
    display: flex;
    flex-flow: row;
    justify-content: left;
    align-items: left;
    position: relative;
    padding-top: 24px;
  }

  &__close {
    @include H4;

    color: #24292e;
    background: none;
    position: absolute;
    right: 10px;
    width: 0.75rem;
    height: 0.75rem;
    cursor: pointer;
  }

  &__description {
    padding-top: 8px;
  }

  &__content {
    padding-top: 32px;
  }

  &__header {
    display: flex;
    flex-flow: row;
  }

  #{$self} &__reset {
    @include H7;
  }

  &__input {
    input {
      @include Paragraph;

      width: 100%;
    }
  }
}

.customize-nonce-modal-content {
  padding: 0;
}

.customize-nonce-modal-container {
  height: 324px;
  width: 100%;
}
