.custody-labels-container {
  display: flex;
  flex-direction: row;
}

.custody-label {
  @include H9;

  z-index: 1;
  border-radius: 4px;
  padding: 2px 4px;
  text-align: center;
  height: 15px;
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  background-color: #f2f4f6;
  color: #9b9b9b;
  font-weight: normal;
  letter-spacing: 0.5px;
  align-items: center;
  white-space: nowrap;
  max-width: 80px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}
