.boxed-message {
  &__container {
    border: 1px solid;
    border-radius: 5px;
    padding: 18px 12px;
    display: flex;
    @extend %font;
    font-size: 12px;
  }

  &__icon {
    margin-right: 10px;
  }

  &__message {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}