.mm-popover {
  // TODO
}

#arrow,
#arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}

#arrow {
  visibility: hidden;
}

#arrow::before {
  background-color: inherit;
  border: 1px solid;
  border-left-color: inherit;
  border-top-color: inherit;
  border-bottom-color: transparent;
  border-right-color: transparent;
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}

#tooltip[data-popper-placement^='top'] > #arrow {
  bottom: -6px;
}

#tooltip[data-popper-placement^='bottom'] > #arrow {
  top: -6px;
}

#tooltip[data-popper-placement^='left'] > #arrow {
  right: -6px;
}

#tooltip[data-popper-placement^='right'] > #arrow {
  left: -6px;
}
