
.popover {
  // TODO

  &__header {
    position: relative;

    &-button-back {
      position: absolute;
      top: 0;
      left: 0;
    }

    &-button-close {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

.arrow,
.arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}

.arrow {
  width: 40px;
  height: 40px;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  visibility: hidden;
}

.arrow::before {
  display: block;
  background-color: inherit;
  border: 1px solid;
  border-left-color: inherit;
  border-top-color: inherit;
  border-bottom-color: transparent;
  border-right-color: transparent;
  visibility: visible;
  content: '';
  transform: rotate(45deg);
  border-radius: 2px  0 0 0;
}

.popover[data-popper-placement^='top'] > .arrow {
  bottom: -20px;

  &::before {
    transform: rotate(-135deg);
  }
}

.popover[data-popper-placement^='bottom'] > .arrow {
  top: -20px;
}

.popover[data-popper-placement^='left'] > .arrow {
  right: -20px;

  &::before {
    transform: rotate(135deg);
  }
}

.popover[data-popper-placement^='right'] > .arrow {
  left: -20px;

  &::before {
    transform: rotate(-45deg);
  }
}

/* Hide the popper when the reference is hidden */
#tooltip[data-popper-reference-hidden] {
  visibility: hidden;
  pointer-events: none;
}
