.signature-request-message {
  flex: 1 60%;
  display: flex;
  flex-direction: column;

  &__title {
    @include H6;

    font-weight: 500;
    color: #636778;
    margin-left: 12px;
  }

  h2 {
    @include H6;

    flex: 1 1 0;
    text-align: left;
    border-bottom: 1px solid #d2d8dd;
    padding: 0.5rem;
    margin: 0;
    color: #ccc;
  }

  &--root {
    flex: 1 100%;
    background-color: #f8f9fb;
    padding-bottom: 0.5rem;
    overflow: auto;
    padding-left: 12px;
    padding-right: 12px;

    @media screen and (min-width: 576px) {
      width: auto;
    }
  }

  &--node,
  &--node-leaf {
    padding-left: 0.3rem;

    &-label {
      color: #5b5d67;
      margin-left: 0.5rem;
    }

    &-value {
      color: black;
      margin-left: 0.5rem;
      white-space: pre-line;
      overflow: hidden;
      word-wrap: break-word;
    }
  }

  &--node-leaf {
    display: flex;
  }
}
