@use "design-system";

.permissions-connect-permission-list {
  width: 100%;

  .permission {
    @include design-system.H6;

    width: 100%;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--color-border-muted);
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--color-text-default);

    i {
      display: block;
      margin: 16px;
      min-width: 16px;
      min-height: 16px;
      color: var(--color-icon-alternative);
      font-size: 1rem;
      text-align: center;
    }

    .mm-avatar-icon {
      margin: 16px 16px 16px 0;
    }

    &__tooltip-icon {
      margin-left: auto !important;
      padding-left: 16px;

      i {
        color: var(--color-icon-muted);
      }

      &__warning i {
        color: var(--color-warning-default);
      }
    }
  }

  .permission-label-item {
    font-weight: bold;
  }
}

.tooltip-label-item {
  font-weight: bold;
}
