.mm-form-text-field {
  --text-opacity-disabled: 0.5;

  &--disabled {
    .mm-form-text-field__label,
    .mm-form-text-field__help-text {
      opacity: var(--text-opacity-disabled);
      cursor: default;
    }
  }
}
