.import-srp {
  &__container {
    display: grid;
    grid-template-areas: "title dropdown" "input input" "error error";
  }

  @media (max-width: 767px) {
    &__container {
      grid-template-areas: "title" "dropdown" "input" "error";
    }
  }

  &__srp-label {
    margin-bottom: 16px;
    grid-area: title;
  }

  &__number-of-words-dropdown {
    margin-bottom: 16px;
  }

  &__srp {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-area: input;
  }

  @media (max-width: 767px) {
    &__srp {
      grid-template-columns: 1fr;
    }
  }

  &__srp-word {
    display: flex;
    align-items: center;
    margin: 8px;
  }

  &__srp-word-label {
    width: 2em;
  }

  &__srp-error {
    margin-top: 4px;
    grid-area: error;
  }
}
