.import-srp {
  &__srp-label {
    margin-bottom: 8px;
  }

  &__srp-shown {
    @include Paragraph;

    padding: 8px 16px;
  }

  &__srp-error {
    margin-top: 4px;
  }

  &__show-srp {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  &__show-srp-label {
    margin-left: 8px;
  }
}
