.import-srp {
  &__srp-label {
    margin-bottom: 8px;
  }

  &__srp {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  &__srp-word {
    display: flex;
  }

  &__srp-error {
    margin-top: 4px;
  }
}
