.institutional-feature {
  &__footer {
    button {
      min-width: 0;
      margin-right: 16px;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  &__content {
    ol {
      list-style: decimal;
      list-style-position: inside;
    }
  }
}
