.institutional-feature {
  &__footer {
    border-top: 1px solid var(--color-text-muted);
    padding: 16px 30px;
    flex: 0 0 auto;

    button {
      min-width: 0;
      margin-right: 16px;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  &__content {
    @include H6;

    line-height: 22px;

    ol {
      list-style: decimal;
      list-style-position: inside;
    }
  }
}
