.token-details {
  width: 359px;

  @media screen and (max-width: $break-small) {
    .page-container {
      max-height: 82vh;
      margin-right: auto;
      margin-left: auto;
    }
  }

  &__token-details-title {
    &::after {
      cursor: pointer;
      float: right;
      font-weight: normal;
      font-size: 24px;
      line-height: 24px;
      margin-top: -5px;
      content: '\00D7';
    }
  }

  &__address {
    margin-top: 16px;
    display: flex;
    align-items: center;

    &__token-value {
      font-size: 32px;
      line-height: 140.62%;
    }
  }

  &__copy-token-contract-address {
    display: flex;

    button {
      background: none;
      margin-top: 8px;
    }

    &__token-address {
      width: 222px;
      overflow-wrap: break-word;
    }

    &__copy-icon {
      margin-left: 72px;
    }
  }

  &__hide-token-button {
    width: 319px;
    height: 39px;
    margin-top: 70px;
  }

  .btn--rounded.btn-primary {
    background-color: #fff;
  }
}
