.add-token-button {
  width: 100%;
  height: 90px;
  padding: 20px;
  text-align: center;
  font-size: 1rem;

  &__button {
    background-color: transparent;
    color: $Blue-500;
    display: inline-block;
    font-size: 1rem;

    &:hover {
      color: $Blue-400;
    }

    &:active {
      color: $Blue-600;
    }
  }
}
